@mixin transition($element: all, $speed: .3s, $easing: ease-out){
	transition: $element $speed $easing;
}

@mixin font-size($desired, $context: 16){
	font-size: #{$desired/$context}em;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin width($expected, $context: $site-width){
	width: #{$expected/$context*100%};
}

// Responsive helpers
@mixin screen-gt($width) {
  @media all and (min-width: #{$width}px){
    @content;
  }
}

@mixin screen-lt($width) {
  @media all and (max-width: #{$width}px){
    @content;
  }
}

@mixin ipad() {
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px)  { @content; }
}

@mixin iphone() {
  // iPhone 6/7
  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) { @content; }
  // iPhone 6/7 Plus
  @media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) { @content; }
  // iPhone 5
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) { @content; }
  // iPhone 2g,3g,4,4s
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) { @content; }
}


