/* FONTS */
@font-face {
    font-family: "Averta Extra Thin";
    src: url('../fonts/Averta-Extrathin.ttf') format('truetype');
    src: url('../fonts/Averta-Extrathin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-Extrathin.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-Extrathin.eot');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: "Averta Extra Thin Italic";
    src: url('../fonts/Averta-ExtrathinItalic.ttf') format('truetype');
    src: url('../fonts/Averta-ExtrathinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-ExtrathinItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-ExtrathinItalic.eot');
	font-weight: 100;
	font-style: italic;
}
@font-face {
    font-family: "Averta Thin";
    src: url('../fonts/Averta-Thin.ttf') format('truetype');
    src: url('../fonts/Averta-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-Thin.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-Thin.eot');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: "Averta Thin Italic";
    src: url('../fonts/Averta-ThinItalic.ttf') format('truetype');
    src: url('../fonts/Averta-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-ExtraBold.eot');
	font-weight: 100;
	font-style: italic;
}
@font-face {
    font-family: "Averta Light";
    src: url('../fonts/Averta-Light.ttf') format('truetype');
    src: url('../fonts/Averta-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-Light.eot');
	font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: "Averta Light Italic";
    src: url('../fonts/Averta-LightItalic.ttf') format('truetype');
    src: url('../fonts/Averta-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-LightItalic.eot');
	font-weight: 300;
	font-style: italic;
}
@font-face {
    font-family: "Averta Regular";
    src: url('../fonts/Averta-Regular.ttf') format('truetype');
    src: url('../fonts/Averta-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-Regular.eot');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "Averta Regular Italic";
    src: url('../fonts/Averta-RegularItalic.ttf') format('truetype');
    src: url('../fonts/Averta-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-RegularItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-RegularItalic.eot');
	font-weight: normal;
	font-style: italic;
}
@font-face {
    font-family: "Averta Semibold";
    src: url('../fonts/Averta-Semibold.ttf') format('truetype');
    src: url('../fonts/Averta-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-Semibold.eot');
	font-weight: 600;
	font-style: normal;
}
@font-face {
    font-family: "Averta Semibold Italic";
    src: url('../fonts/Averta-SemiboldItalic.ttf') format('truetype');
    src: url('../fonts/Averta-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-SemiboldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-SemiboldItalic.eot');
	font-weight: 600;
	font-style: italic;
}
@font-face {
    font-family: "Averta Bold";
    src: url('../fonts/Averta-Bold.ttf') format('truetype');
    src: url('../fonts/Averta-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-Bold.eot');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: "Averta Bold Italic";
    src: url('../fonts/Averta-BoldItalic.ttf') format('truetype');
    src: url('../fonts/Averta-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-BoldItalic.eot');
	font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: "Averta Extra Bold";
    src: url('../fonts/Averta-ExtraBold.ttf') format('truetype');
    src: url('../fonts/Averta-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-ExtraBold.eot');
	font-weight: 800;
	font-style: normal;
}
@font-face {
    font-family: "Averta Extra Bold Italic";
    src: url('../fonts/Averta-ExtraBoldItalic.ttf') format('truetype');
    src: url('../fonts/Averta-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-ExtraBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-ExtraBoldItalic.eot');
	font-weight: 800;
	font-style: italic;
}
@font-face {
    font-family: "Averta Black";
    src: url('../fonts/Averta-Black.ttf') format('truetype');
    src: url('../fonts/Averta-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-Black.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-Black.eot');
	font-weight: 900;
	font-style: normal;
}
@font-face {
    font-family: "Averta Black Italic";
    src: url('../fonts/Averta-BlackItalic.ttf') format('truetype');
    src: url('../fonts/Averta-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Averta-BlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Averta-BlackItalic.eot');
	font-weight: 900;
	font-style: italic;
}

$font-averta-extraThin: 'Averta Extra Thin', sans-serif;
$font-averta-extraThinItalic: 'Averta Extra Thin Italic', sans-serif;
$font-averta-thin: 'Averta Thin', sans-serif;
$font-averta-thinItalic: 'Averta Thin Italic', sans-serif;
$font-averta-light: 'Averta Light', sans-serif;
$font-averta-lightItalic: 'Averta Light Italic', sans-serif;
$font-averta-regular: 'Averta Regular', sans-serif;
$font-averta-regularItalic: 'Averta Regular Italic', sans-serif;
$font-averta-semiBold: 'Averta Semibold', sans-serif;
$font-averta-semiBoldItalic: 'Averta Semibold Italic', sans-serif;
$font-averta-bold: 'Averta Bold', sans-serif;
$font-averta-boldItalic: 'Averta Bold Italic', sans-serif;
$font-averta-extraBold: 'Averta Extra Bold', sans-serif;
$font-averta-extraBold: 'Averta Extra Bold Italic', sans-serif;
$font-averta-black: 'Averta Black', sans-serif;
$font-averta-blackItalic: 'Averta Black Italic', sans-serif;

/* FONTS SIZES*/
$base-font-size: 16;
$rem-baseline: 16px;

/* COLORS */
$gray: #979797;
$text-gray: #4D4D4D;
$background-gray: #F7F7F7;
$dark-gray: #4A4A4A;
$light-gray: #E5E5E5;
$lighter-gray: #fbfbfb;

$blue: #1C487D;
$dark-blue: #0B305B;
$sky-blue: #72BBD3;
$blue-text: #20599C;
$blue-link: #215A9C;
$dark-blue-text: #0A305B;
$deep-blue-text: #160A5B;

$text-green: #2CC09C;
$text-green-light: #D4FFFE;
$text-green-dark: #22997c;
$azure-green: #01B2A9;

$red: #FA7384;
$red-dark: #F82640;
$red-fail: #E21919;
