.prose,
.prose-lg {

  a {
    font-weight: bold;
    color: $text-green;
    @include transition();
    &:hover {
      color: $dark-blue;
      text-decoration: none;
    }
  }

  ul {
    list-style: disc;
    padding-left: 21px;
    li {
      padding-left: 0;
    }
  }

  ol {
    list-style: decimal;
    padding-left: 28px;
    li {
      padding-left: 0;
    }
  }

}
