.block-highlighted {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.0562443), 0px 6px 14px rgba(0, 0, 0, 0.0645097);
  border-radius: 5px;
}

.fading-link {
  @include transition();
}

.fading-link:hover {
  text-decoration: none;
  opacity: 0.7;
}
