<template>
    <div class="training-course-question-answer">
        <div class="flex justify-content-between mb-4 align-items-center">
            <button
                    @click="selectAnswer"
                    :class="'w-10 h-10 outline-none rounded-full flex-initial' + (answerIsSelected ? ' border-green border-8' : ' border-blue border-4')"/>

            <h4 class="text-lg ml-6 flex-1 leading-8"><b>{{letter.toUpperCase()}}. </b>{{trainingCourseQuestionAnswer.title}}</h4>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import VueScrollTo from "vue-scrollto";

    export default {
        components: {
        },
        props: {
            trainingCourseQuestionAnswer: {
                required: true,
                type: Object
            },
            letter: {
                required: true,
                type: String
            },
        },
        computed: {
            ...mapGetters('userTrainingCourseQuestion', [
                'selectedTrainingCourseQuestionAnswer',
                'getSkipToSummaryAndSubmitAnswer'
            ]),
            answerIsSelected() {
                if(typeof this.selectedTrainingCourseQuestionAnswer !== "undefined") {

                    return this.selectedTrainingCourseQuestionAnswer.id === this.trainingCourseQuestionAnswer.id;
                }
            }
        },
        methods: {
            ...mapActions('userTrainingCourseQuestion', [
                'setSelectedQuestionAnswer',
                'setSkipToSummaryAndSubmitAnswer'
            ]),

            selectAnswer() {
                this.setSkipToSummaryAndSubmitAnswer(true);

                let selectedId = this.selectedTrainingCourseQuestionAnswer.id;

                this.setSelectedQuestionAnswer({});

                if(this.trainingCourseQuestionAnswer.id !== selectedId) {
                    this.setSelectedQuestionAnswer(this.trainingCourseQuestionAnswer);
                }
            },
        }
    }
</script>