<template>
    <div class="training-course-answered-question block-highlighted p-10 bg-white mb-5">
        <answered-question-loader v-if="showLoader" />
        <div
                v-if="!showLoader"
                class="flex justify-content-between flex-wrap">
            <div class="sm:w-full md:w-4/5 mb-3 md:mb-0">
                <h3 class="text-blue text-3xl font-avertaBlack mb-8 leading-9 tracking-tight">{{trainingCourseQuestion.title}}</h3>
                <h4 class="mb-6 text-lg leading-8 w-full"><b>{{selectedAnswerLetter}}</b>{{selectedAnswer.title}}</h4>
                <a
                        v-if="showChangeAnswer"
                        class="text-green fading-link w-full text-left font-avertaBold flex align-items-center"
                        :href="`/online-training-courses/${trainingCourseId}/questions?qid=${trainingCourseQuestion.id}`">
                    <img src="/img/pen.svg" alt="" class="w-3 h-3 mr-3"> Change answer
                </a>
            </div>

            <div class="training-course-material__sidebar w-full md:w-1/5 flex md:pl-10 flex-column">

                <progress-bar
                        title="Question"
                        :progress-percentage="questionProgressPercentage"
                        :secondary-text="{'text': `${questionNumber} / ${totalNumberOfQuestions}`}"/>

             </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import ProgressBar from "@/components/TrainingCourses/Components/ProgressBar";
    import AnsweredQuestionLoader from "@/components/TrainingCourses/Components/ContentLoaders/AnsweredQuestionLoader";
    export default {
        components: {
            AnsweredQuestionLoader,
            ProgressBar
        },
        props: {
            trainingCourseId: {
                required: true,
                type: Number
            },
            trainingCourseQuestion: {
                required: true,
                type: Object
            },
            questionNumber: {
                required: true,
                type: Number
            },
            totalNumberOfQuestions: {
                required: true,
                type: Number
            },
            questionProgressPercentage: {
                required: true,
                type: Number
            },
            showLoader: {
                required: false,
                type: Boolean,
                default: false
            },

        },
        data: function() {
            return {
                selectedAnswerLetter: '',
                selectedAnswer: {},
                showChangeAnswer: false
            }
        },
        computed: {
            ...mapGetters('userTrainingCourseAnsweredQuestion', [
                'fetchingTrainingCourseQuestions',
            ]),

            ...mapGetters('userTrainingCourse', [
                'userTrainingCourse',
            ]),
        },
        created() {
            this.getQuestionAnswer();
            if(!this.userTrainingCourse.hasOwnProperty('results')) {
                this.showChangeAnswer = true;
            }
        },
        methods: {

            getQuestionAnswer() {
                if(this.trainingCourseQuestion.hasOwnProperty('user_answers') && this.trainingCourseQuestion.user_answers.length > 0) {
                    let alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('');
                    let index = this.trainingCourseQuestion.answers.findIndex(obj => obj.id === this.trainingCourseQuestion.user_answers[0].id);
                    this.selectedAnswerLetter = `${alphabet[index].toUpperCase()}. `;
                    this.selectedAnswer = this.trainingCourseQuestion.user_answers[0];
                }
            }
        }
    }
</script>