<template>
    <div
            class="training-course-question__content mb-12 pb-2">

        <h3 class="text-blue text-3xl font-avertaBlack mb-2 leading-9 tracking-tight">{{ trainingCourseQuestion.title }}</h3>
        <div
                class="training-course-question__answer-wrapper pt-6"
        >

            <training-course-question-answer
                v-for="trainingCourseQuestionAnswer in questionAnswers"
                :training-course-question-answer="trainingCourseQuestionAnswer"
                :letter="questionLetter(trainingCourseQuestionAnswer)"
                :key="trainingCourseQuestionAnswer.id"/>
        </div>


    </div>
</template>

<script>
    import GridLoader from 'vue-spinner/src/GridLoader.vue';
    import TrainingCourseQuestionAnswer from '@/components/TrainingCourses/Components/TrainingCourseQuestion/TrainingCourseQuestionAnswer';
    import QuestionAnswerLoader from "@/components/TrainingCourses/Components/ContentLoaders/QuestionAnswerLoader";
    import {mapActions, mapGetters} from "vuex";

    export default {
        components: {
            GridLoader,
            TrainingCourseQuestionAnswer,
            QuestionAnswerLoader
        },
        props: {
            trainingCourseQuestion: {
                required: true,
                type: Object
            },
        },
        data: function() {
            return {
            }
        },
        computed: {
            ...mapGetters('userTrainingCourseQuestion', [
                'trainingCourseQuestionsWithAnswers',
                'shownTrainingCourseQuestion',
                'fetchingTrainingCourseQuestion',
            ]),

            ...mapGetters('userTrainingCourse', [
                'userTrainingCourse'
            ]),

            questionAnswers() {
                if(this.trainingCourseQuestionsWithAnswers.length > 0) {
                    if(this.trainingCourseQuestionsWithAnswers.filter(question=> (question.id === this.trainingCourseQuestion.id)).length > 0) {
                        return this.trainingCourseQuestionsWithAnswers.filter(question=> (question.id === this.trainingCourseQuestion.id))[0].answers;

                    }
                }
            }
        },
        created() {
        },

        methods: {

            ...mapActions('userTrainingCourseQuestion', [
                'showTrainingCourseQuestion',
                'hideTrainingCourseQuestion',
                'getQuestion',
                'addTrainingCourseQuestionWithAnswers'
            ]),

            questionLetter(trainingCourseQuestionAnswer) {
                let alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('');
                return alphabet[this.questionAnswers.indexOf(trainingCourseQuestionAnswer)];
            }
        }
    }
</script>