<template>
<div class="modalWrapper" v-bind:class="{'modalWrapper--active' : modalVisible}">
<transition name="fade">
	<section class="registerModal" :class="{'registerModal--mobile' : showMobileSignupForm}" v-show="modalVisible">
		<div class="registerModal__inner">
			<div class="registerModal__column-signUp">

				<img src="/img/signup-image.svg" class="registerModal__column-signUp-image">

				<h2 class="registerModal__column-signUp-heading">Create an MPROvE account</h2>
				<!-- START FORM --><div class="registerModal__column-signUp-form" :class="{'registerModal__column-signUp-form--forceDisplay' : showMobileSignupForm}">

					<form>
						<div class="registerModal__column-signUp-form-block">

							<div class="registerModal__column-signUp-form-block-column">
								<input
									v-model="registerForm.first_name" type="text" name="firstname" placeholder="First name"
									class="registerModal__inputText registerModal__inputText--firstName resetInputStyles"
									:class="{'registerModal__inputText--error' : registerForm.errors.has('first_name')}"
									>
								<span class="registerModal__inputText-icon registerModal__inputText-icon--person"></span>
								<span class="registerModal__fieldErrorMessage" v-if="registerForm.errors.has('first_name')">
									{{ registerForm.errors.get('first_name') }}
								</span>
							</div><!--
							--><div class="registerModal__column-signUp-form-block-column">
								<input
									v-model="registerForm.last_name" type="text" name="surname" placeholder="Surname"
									class="registerModal__inputText registerModal__inputText--surname resetInputStyles"
									:class="{'registerModal__inputText--error' : registerForm.errors.has('last_name')}"
									>
								<span class="registerModal__inputText-icon registerModal__inputText-icon--person"></span>
								<span class="registerModal__fieldErrorMessage" v-if="registerForm.errors.has('last_name')">
									{{ registerForm.errors.get('last_name') }}
								</span>
							</div>

						</div>
						<div class="registerModal__column-signUp-form-block">

							<input
								v-model="registerForm.email" type="email" name="email" placeholder="Your email address"
								class="registerModal__inputText registerModal__inputText--email resetInputStyles"
								:class="{'registerModal__inputText--error' : registerForm.errors.has('email')}"
								>
							<span class="registerModal__inputText-icon registerModal__inputText-icon--email"></span>
							<span class="registerModal__fieldErrorMessage" v-if="registerForm.errors.has('email')">
								{{ registerForm.errors.get('email') }}
							</span>
						</div>
						<div class="registerModal__column-signUp-form-block">

							<div class="registerModal__column-signUp-form-block-column">
								<input
									v-model="registerForm.password" type="password" name="password" placeholder="Password"
									class="registerModal__inputText registerModal__inputText--password resetInputStyles"
									:class="{'registerModal__inputText--error' : registerForm.errors.has('password')}"
									
									>
								<span class="registerModal__inputText-icon registerModal__inputText-icon--password"></span>
								<span class="registerModal__fieldErrorMessage" v-if="registerForm.errors.has('password')">
									{{ registerForm.errors.get('password') }}
								</span>
							</div><!--
							--><div class="registerModal__column-signUp-form-block-column">
								<input
									v-model="registerForm.password_confirmation" type="password" name="password_confirm" placeholder="Repeat Password"
									class="registerModal__inputText registerModal__inputText--passwordConfirm resetInputStyles"
									:class="{'registerModal__inputText--error' : registerForm.errors.has('password_confirmation')}"
									>
								<span class="registerModal__inputText-icon registerModal__inputText-icon--password"></span>
								<span class="registerModal__fieldErrorMessage" v-if="registerForm.errors.has('password_confirmation')">
									{{ registerForm.errors.get('password_confirmation') }}
								</span>
							</div>

						</div>
						<div class="registerModal__column-signIn-form-block">
							<button v-on:click.prevent="register" class="registerModal__column-signUp-form-button resetInputStyles">
								<span v-if="!registerForm.busy">Create Account</span>
								<span v-if="registerForm.busy"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
							</button>
						</div>
					</form>

				</div> <!-- END FORM -->

				<!-- MOBILE VERSION -->
				<div class="registerModal__column-signUp-mobile">
					<a v-if="!showMobileSignupForm" v-on:click.prevent="showMobileSignup" href="#" class="registerModal__column-signUp-mobile-button">Create an account</a>
					<div class="registerModal__column-signUp-mobile-or">or</div>
				</div>

			</div><!-- END SIGN UP
			SIGN IN--><div class="registerModal__column-signIn">

				<h2 class="registerModal__column-signIn-heading">Login</h2>
				<form>
					<div class="registerModal__column-signIn-form-block">
						<input
							v-model="loginForm.email"
							type="email" name="emailLogin" placeholder="Your email address"
							class="registerModal__inputText registerModal__inputText--emailLogin resetInputStyles"
							:class="{'registerModal__inputText--error' : loginForm.errors.has('email')}"
							>
						<span class="registerModal__inputText-icon registerModal__inputText-icon--email"></span>
						<span class="registerModal__fieldErrorMessage" v-if="loginForm.errors.has('email')">
 							{{ checkIfObject(formErrors.email) }}
						</span>
					</div>
					<div class="registerModal__column-signIn-form-block">
						<input
							v-model="loginForm.password"
							type="password" name="passwordLogin" placeholder="Password"
							class="registerModal__inputText registerModal__inputText--passwordLogin resetInputStyles"
							:class="{'registerModal__inputText--error' : loginForm.errors.has('password')}"
							>
						<span class="registerModal__inputText-icon registerModal__inputText-icon--password"></span>
						<span class="registerModal__fieldErrorMessage" v-if="loginForm.errors.has('password')">
							{{ loginForm.errors.get('password') }}
						</span>
					</div>
					<div class="registerModal__column-signIn-form-block">
						<button v-on:click.prevent="login" class="registerModal__column-signIn-button resetInputStyles">
							<span v-if="!loginForm.busy">Login</span>
							<span v-if="loginForm.busy"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
						</button>
					</div>
				</form>

				<div class="registerModal__column-signIn-form-block">
					<a href="/password/reset" class="registerModal__column-signIn-forgotPassword">Forgotten your password?</a>
				</div>
			</div> <!-- END SIGN IN -->

			<div class="registerModal__close" v-on:click="closeModal()">
				<span class="registerModal__close-cross registerModal__close-cross--left"></span>
				<span class="registerModal__close-cross registerModal__close-cross--right"></span>
			</div>

		</div> <!-- END INNER -->

	</section> <!-- END SIGN UP/SIGN IN -->
</transition>
	</div>
</template>

<script>
	export default {
		data: function() {
    		return {
    			modalVisible: false,
    			showMobileSignupForm: false,
				registerForm: new SparkForm({
					first_name: null,
					last_name: null,
					email: null,
					password: null,
					password_confirmation: null
				}),
				loginForm: new SparkForm({
					email: null,
					password: null
				}),
				formErrors: null
    		}
    	},
    	methods: {
    		showMobileSignup: function(){
    			var $this = this;
    			if ($this.showMobileSignupForm){
    				$this.showMobileSignupForm = false;
    			} else {
    				$this.showMobileSignupForm = true;
    			}
    		},
    		showModal: function() {
    			this.modalVisible = true;
    			$('html').css({'overflow-y' : 'hidden'});
    		},
    		closeModal: function() {
    			this.modalVisible = false;
    			$('html').removeAttr('style');
    		},
			register: function() {
				var $this = this;

				Spark.post('/api/v1/register', $this.registerForm)
					.then(function(response) {
						Spark.post(`/login`, new SparkForm({
							email: response.email,
							password: $this.registerForm.password
						}))
							.then(function(response) {
								window.location.reload();
							});
					});
			},
			login: function() {
				var $this = this;

				Spark.post(`/login`, $this.loginForm)
					.then(function(response) {
						window.location.reload();
					})
					.catch(function(response) {
						$this.formErrors = response;
					});
			},
			checkIfObject: function(val) {
				if (val instanceof Object) {
					return val[0];
				} else {
					return val;
				}
			}
    	},
		mounted() {
			var $this = this;
            Bus.$on('showAuthModalEvent', function () {
        	    $this.showModal();
        	})
        }
	}
</script>

<style>
	.modalWrapper {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 1000;
	}
	.modalWrapper--active {
		display: block;
		overflow: scroll;
	}
	.fade-enter-active, .fade-leave-active {
	    transition: opacity .5s
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
	    opacity: 0
	}
</style>
