<template>
	<div>

		<div class="pageHero">

			<div class="pageHero__inner constrain">
				<a class="pageHero__back" href="./">
					<img src="/img/breadcrumb-back-arrow.png" srcset="/img/breadcrumb-back-arrow.png 1x, /img/breadcrumb-back-arrow@2x.png 2x" alt="" />
					<span>MPROvE Academy</span>
				</a>
				<h1 class="pageHero__heading">{{ course.name }}</h1>
				<p class="pageHero__text">{{ course.excerpt }}</p>
			</div>

			<img src="/img/curve-svg.svg" alt="" class="homeAfterHeroBlock__curve-image">

		</div>


		<div class="table pull-page-hero-top">
			<div class="table__inner constrain">

				<h2 class="table__heading table__heading--alt">Upcoming dates</h2>
				<div class="table__wrapper">
					<table>
						<thead v-if="course.upcoming_dates.length > 0">
							<tr>
								<th width="350">Venue</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody v-if="course.upcoming_dates.length > 0">
							<tr v-for="date in course.upcoming_dates">
								<td>
									<a class="link" :href="'/mprove-academy/' + course.slug + '/' + date.venue.slug + '/' + date.slug">{{ date.venue.name }}</a>
									<div class="dates__mobile">Start Date: {{ date.start_date | formatCourseDateShort }} <br>End Date: {{ date.end_date | formatCourseDateShort }}</div>
								</td>
								<td>{{ date.start_date | formatCourseDate }}</td>
								<td>{{ date.end_date | formatCourseDate }}</td>
								<td>
									<a class="button" :href="'/mprove-academy/' + course.slug + '/' + date.venue.slug + '/' + date.slug">See More</a>
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr>
								<td colspan="3" class="table__noData">There's no upcoming dates for this course</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="table pull-page-hero-top">
			<div class="table__inner constrain">

				<h2 class="table__heading">Previous dates</h2>
				<div class="table__wrapper">
					<table>
						<thead v-if="course.previous_dates.length > 0">
							<tr>
								<th width="500">Venue</th>
								<th>Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody v-if="course.previous_dates.length > 0">
							<tr v-for="date in course.previous_dates">
								<td>{{ date.venue.name }}</td>
								<td>{{ date.start_date | formatCourseDate }}</td>
								<td>
									<a class="button" :href="course.slug + '/' + date.venue.slug + '/' + date.slug">See More</a>
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr>
								<td colspan="3" class="table__noData">There's no previous dates for this course</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>
</template>

<script>
	export default {
		props: [
			'course_id'
		],
		data: function() {
    		return {
				'course' : {
					'upcoming_dates' : [],
					'previous_dates' : []
				}
    		}
    	},
    	methods: {
    		getCourse(){
    			var $this = this;
    			return axios.get('/api/v1/courses/'+$this.course_id).then(function(response){
    				$this.course = response.data;
    				return Promise.resolve();
    			});
    		}
    	},
		mounted() {
			var $this = this;
			$this.getCourse();
        }
	}
</script>