<template>
	<div>

		<div class="twoColumnGrid pull-page-hero-top">
			<div class="twoColumnGrid__inner constrain">
				<ul class="twoColumnGrid__items">
					<li class="twoColumnGrid__items-item" v-for="course in courses">
						<div class="infoCard">
							<div class="infoCard__inner">
								<h2 class="infoCard__heading">{{ course.name }}</h2>
								<p class="infoCard__text">{{ course.excerpt }}</p>
								<a class="infoCard__button button" :href="'/mprove-academy/' + course.slug">See the courses</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
				
	</div>
</template>

<script>
	export default {
		props: [
		],
		data: function() {
    		return {
				'courses' : []
    		}
    	},
    	methods: {
    		getCourses(){
    			var $this = this;
    			return axios.get('/api/v1/courses').then(function(response){
    				$this.courses = response.data;
    				return Promise.resolve();
    			});
    		},
    	},
		mounted() {
			var $this = this;
			$this.getCourses().catch(function(response){
				alert(response.error);
			});
        }
	}
</script>