<template>
	<div class="remove-footer-spacing" v-if="loaded">

		<gated-course-content-modal :course_code="date.code" v-if="date"></gated-course-content-modal>

		<div class="programmeIntro"
			 :class="{'no-padding-bottom' : date.registration_url && course.overview.length > 0}">
			<div class="programmeIntro__inner constrain">
				<div class="programmeIntro__logo" v-if="course.id === 3">
					<img src="/img/neds-course.png" alt="Programme Logo">
				</div>
				<a class="programmeIntro__back" href="../">
					<svg width="11px" height="10px" viewBox="0 0 11 10" version="1.1" xmlns="http://www.w3.org/2000/svg"
						 xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Designs---Iteration-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="fill Upcoming-Course-Page---Design" transform="translate(-677.000000, -162.000000)">
								<g id="intro-&amp;-programme" transform="translate(270.000000, 157.000000)">
									<g id="Link" transform="translate(407.000000, 0.000000)">
										<path class="fill"
											  d="M6.65876439,14.7636489 C6.50535317,14.9211493 6.30381679,15 6.10247684,15 C5.90172618,15 5.70097552,14.9217527 5.5475643,14.765057 C5.240349,14.4512632 5.23975972,13.9419518 5.5461893,13.6273534 L8.32095101,10.8045872 L0.78571687,10.8045872 C0.351804729,10.8045872 0,10.4443278 0,9.99998779 C0,9.55564778 0.351804729,9.19538841 0.78571687,9.19538841 L8.32095101,9.19538841 L5.5461893,6.37282329 C5.23975972,6.05822493 5.240349,5.54871237 5.5475643,5.23491861 C5.8547796,4.92112485 6.35233481,4.9217283 6.65876439,5.23652781 L10.7706198,9.43194063 C11.0764601,9.74593554 11.0764601,10.25404 10.7706198,10.5682361 L6.65876439,14.7636489 Z"
											  id="arrow-thin-right"
											  transform="translate(5.500000, 10.000000) scale(-1, 1) translate(-5.500000, -10.000000) "></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
					Date List
				</a>
				<h1 class="programmeIntro__heading" v-if="date.event_title">{{ date.event_title }}</h1>
				<h1 class="programmeIntro__heading" v-else>{{ course.name }}</h1>
				<div class="programmeIntro__details">
					<div class="programmeIntro__details-dates"><strong>Date</strong> {{ date.start_date |
						formatCourseDate }} &#8211; {{ date.end_date | formatCourseDate }}
					</div>
					<div class="programmeIntro__details-price" v-if="date.venue.name !== 'Antrim'">
						<strong>Price</strong> {{ date.price ? date.priceToDisplay + ' per person' : 'FREE' }}
					</div>
					<div class="programmeIntro__details-venue"><strong>Venue</strong> {{ date.venue.address }}</div>

					<!--@todo Remove this hack with a proper solution once the course_date to course_prices relation issue is fixed-->
					<template v-if="date.venue.name === 'Antrim'">
						<div class="programmeIntro__details-venue">
							<strong>Prices</strong>
							<i>Doctor </i>£200.00 per person | <i>Nurse </i>£100.00 per person | <i>Free </i>£0.00 per
							person
						</div>
					</template>
				</div>
				<div class="programmeIntro__intro">
					<p class="programmeIntro__intro-text" v-if="date.event_subtitle">{{ date.event_subtitle }}</p>
					<p class="programmeIntro__intro-text" v-else>{{ course.description }}</p>
				</div>
				<div class="programmeIntro__actions" v-if="date.registration_url && !past_date">
					<a class="programmeIntro__actions-action button button--iconRight" target="_blank"
					   :href="date.registration_url">
						Register for a place
						<svg width="14px" height="12px" viewBox="0 0 14 12" version="1.1"
							 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Designs---Iteration-1" stroke="none" stroke-width="1" fill="none"
							   fill-rule="evenodd">
								<g id="Upcoming-Course-Page---Design" transform="translate(-829.000000, -527.000000)">
									<g id="intro-&amp;-programme" transform="translate(270.000000, 159.000000)">
										<g id="CTA-button" transform="translate(285.000000, 346.000000)">
											<g id="Group" transform="translate(43.000000, 17.000000)">
												<path class="fill"
													  d="M239.474791,16.7163787 C239.27954,16.9053791 239.02304,17 238.766789,17 C238.511288,17 238.255787,16.9061033 238.060536,16.7180684 C237.669535,16.3415159 237.668785,15.7303422 238.058786,15.3528241 L241.590301,11.9655046 L232.000003,11.9655046 C231.447751,11.9655046 231,11.5331934 231,10.9999854 C231,10.4667773 231.447751,10.0344661 232.000003,10.0344661 L241.590301,10.0344661 L238.058786,6.64738794 C237.668785,6.26986991 237.669535,5.65845484 238.060536,5.28190233 C238.451538,4.90534982 239.08479,4.90607396 239.474791,5.28383337 L244.708062,10.3183288 C245.097313,10.6951226 245.097313,11.3048481 244.708062,11.6818833 L239.474791,16.7163787 Z"
													  id="arrow-thin-right"></path>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</a>
				</div>

				<div class="programmeIntro__actions" v-if="past_date">
					<button type="button" class="programmeIntro__actions-action button button--iconRight"
							v-on:click="gatedContent(date.resources_url)" v-if="date.resources_url">
						Access course resources
						<svg width="14px" height="12px" viewBox="0 0 14 12" version="1.1"
							 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Designs---Iteration-1" stroke="none" stroke-width="1" fill="none"
							   fill-rule="evenodd">
								<g id="Upcoming-Course-Page---Design" transform="translate(-829.000000, -527.000000)">
									<g id="intro-&amp;-programme" transform="translate(270.000000, 159.000000)">
										<g id="CTA-button" transform="translate(285.000000, 346.000000)">
											<g id="Group" transform="translate(43.000000, 17.000000)">
												<path class="fill"
													  d="M239.474791,16.7163787 C239.27954,16.9053791 239.02304,17 238.766789,17 C238.511288,17 238.255787,16.9061033 238.060536,16.7180684 C237.669535,16.3415159 237.668785,15.7303422 238.058786,15.3528241 L241.590301,11.9655046 L232.000003,11.9655046 C231.447751,11.9655046 231,11.5331934 231,10.9999854 C231,10.4667773 231.447751,10.0344661 232.000003,10.0344661 L241.590301,10.0344661 L238.058786,6.64738794 C237.668785,6.26986991 237.669535,5.65845484 238.060536,5.28190233 C238.451538,4.90534982 239.08479,4.90607396 239.474791,5.28383337 L244.708062,10.3183288 C245.097313,10.6951226 245.097313,11.3048481 244.708062,11.6818833 L239.474791,16.7163787 Z"
													  id="arrow-thin-right"></path>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</button>

					<button type="button" class="programmeIntro__actions-action button button--iconRight"
							v-on:click="gatedContent(date.certificate_url)" v-if="date.certificate_url">
						Get your certificate
						<svg width="14px" height="12px" viewBox="0 0 14 12" version="1.1"
							 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Designs---Iteration-1" stroke="none" stroke-width="1" fill="none"
							   fill-rule="evenodd">
								<g id="Upcoming-Course-Page---Design" transform="translate(-829.000000, -527.000000)">
									<g id="intro-&amp;-programme" transform="translate(270.000000, 159.000000)">
										<g id="CTA-button" transform="translate(285.000000, 346.000000)">
											<g id="Group" transform="translate(43.000000, 17.000000)">
												<path class="fill"
													  d="M239.474791,16.7163787 C239.27954,16.9053791 239.02304,17 238.766789,17 C238.511288,17 238.255787,16.9061033 238.060536,16.7180684 C237.669535,16.3415159 237.668785,15.7303422 238.058786,15.3528241 L241.590301,11.9655046 L232.000003,11.9655046 C231.447751,11.9655046 231,11.5331934 231,10.9999854 C231,10.4667773 231.447751,10.0344661 232.000003,10.0344661 L241.590301,10.0344661 L238.058786,6.64738794 C237.668785,6.26986991 237.669535,5.65845484 238.060536,5.28190233 C238.451538,4.90534982 239.08479,4.90607396 239.474791,5.28383337 L244.708062,10.3183288 C245.097313,10.6951226 245.097313,11.3048481 244.708062,11.6818833 L239.474791,16.7163787 Z"
													  id="arrow-thin-right"></path>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>

		<div class="twoColumnGrid" style="text-align: center" v-if="course.overview.length > 0">
			<div class="twoColumnGrid__inner constrain">
				<div class="blockIntro">
					<div class="blockIntro__inner">
						<h2 class="blockIntro__heading">Course Overview</h2>
						<p class="blockIntro__intro">Download resources to learn more about the course.</p>
					</div>
				</div>
				<ul class="twoColumnGrid__items">
					<li class="twoColumnGrid__items-item" v-for="overview in course.overview">
						<div class="infoCard">
							<div class="infoCard__inner">
								<h2 class="infoCard__heading">{{ overview.title }}</h2>
								<p class="infoCard__text">{{ overview.description }}</p>
								<a class="infoCard__button button" :href="overview.action_url">{{ overview.action_text
									}}</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="twoColumnGrid" style="text-align: center" v-if="feedbacks.length > 0">
			<div class="twoColumnGrid__inner constrain">
				<div class="blockIntro">
					<div class="blockIntro__inner">
						<h2 class="blockIntro__heading">Course Feedback</h2>
						<p class="blockIntro__intro">Download the feedback for this course.</p>
					</div>
				</div>
				<ul class="twoColumnGrid__items">
					<li class="twoColumnGrid__items-item" v-for="feedback in feedbacks">
						<div class="infoCard">
							<div class="infoCard__inner">
								<h2 class="infoCard__heading">{{ feedback.title }}</h2>
								<p class="infoCard__text">{{ feedback.description }}</p>
								<a class="infoCard__button button" :href="feedback.action_url">{{ feedback.action_text
									}}</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>


		<div class="group" v-if="course.details.length > 0">
			<div class="blockIntro no-padding-bottom">
				<div class="blockIntro__inner constrain">
					<h2 class="blockIntro__heading">Course in More Detail</h2>
					<!-- <p class="blockIntro__intro"></p> -->
				</div>
			</div>

			<div
				class="fourColumnIconPlusTextGrid fourColumnIconPlusTextGrid--noAction block-isWhite no-padding-top auto-height">
				<div class="fourColumnIconPlusTextGrid__inner constrain">
					<ul class="fourColumnIconPlusTextGrid__cards">
						<li class="fourColumnIconPlusTextGrid__cards-card" v-for="detail in course.details">
							<a :href="detail.url ? detail.url : '#'" target="_blank">
								<div class="fourColumnIconPlusTextGrid__cards-card-imageWrapper">
									<img :src="detail.icon" class="fourColumnIconPlusTextGrid__cards-card-image">
								</div>
								<div class="fourColumnIconPlusTextGrid__cards-card-textWrapper">
									<h3 class="fourColumnIconPlusTextGrid__cards-card-title">{{ detail.title }}</h3>
									<p class="fourColumnIconPlusTextGrid__cards-card-text">{{ detail.description }}</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="callToAction" v-if="date.registration_url && !past_date">
			<div class="callToAction__inner constrain">
				<h6 class="callToAction__heading">Registration</h6>
				<p class="callToAction__text">{{ course.description }}</p>
				<a class="callToAction__button button button--solid" target="_blank" :href="date.registration_url">Register
					for a place</a>
			</div>
		</div>

		<div class="callToAction" v-if="past_date && date.resources_url">
			<div class="callToAction__inner constrain">
				<h6 class="callToAction__heading">Access Course Resources</h6>
				<p class="callToAction__text">If you attended this course you'll have been provided with a unique code.
					Use it here to access the associated resources.</p>
				<button class="callToAction__button button button--solid" target="_blank"
						v-on:click="gatedContent(date.resources_url)">Enter your personal code
				</button>
			</div>
		</div>

	</div>
</template>

<script>
    export default {
        props: ["course_id", "course_date", "venue_slug"],
        data: function () {
            return {
                loaded: false,
                course: {
                    upcoming_dates: [],
                    previous_dates: [],
                    overview: [],
                    details: [],
                    feedbacks: []
                },
                date: {
                    venue: {
                        address: ""
                    },
                    prices: {},
                    resources_url: null
                },
				feedbacks: [],
            };
        },
        computed: {
            past_date() {
                if (moment(this.date.end_date).isBefore(moment())) {
                    return true;
                } else {
                    return false;
                }
            },
        },
        watch: {
            feedbacks: function (newVal, oldVal) {

            }
        },
        methods: {
            getCourse() {
                var $this = this;
                return axios
                    .get("/api/v1/courses/" + $this.course_id)
                    .then(function (response) {
                        $this.course = response.data;

                        return Promise.resolve();
                    });
            },
            getCourseFeedback() {
                let $this = this;
                return axios.get(`/api/v1/courses/${this.date.start_date}/${this.date.end_date}/feedback`)
                    .then(function (response) {
                        $this.feedbacks = response.data;
                        return Promise.resolve();
                    });
            },
            getCourseDate() {
                let $this = this;
                for (let i in $this.course.dates) {
                    let date = $this.course.dates[i];

                    // Format the way price is displayed for different currencies
                    switch (date.currency) {
                        case 'AED':
                            date.priceToDisplay = date.price + ' ' + date.currency;
                            break;
                        default:
                            date.priceToDisplay = date.currency + date.price;
                            break;
                    }

                    if (
                        date.venue.slug === $this.venue_slug &&
                        date.slug === $this.course_date
                    ) {
                        $this.date = date;
                        if (date.price == 0) {
                            date.price = false;
                        }

                        return Promise.resolve();
                    }
                }
                return Promise.reject("Could not find course date");
            },
            resizeFourColumnIconPlusTextGrid() {
                setTimeout(function () {
                    $(".fourColumnIconPlusTextGrid.auto-height").each(function () {
                        var height = 0;
                        $(this)
                            .find(".fourColumnIconPlusTextGrid__cards-card")
                            .removeAttr("style");
                        $(this)
                            .find(".fourColumnIconPlusTextGrid__cards-card")
                            .each(function () {
                                var $card = $(this);
                                var cardHeight = $card.innerHeight();
                                if (height <= cardHeight) {
                                    height = cardHeight;
                                }
                            });
                        $(this)
                            .find(".fourColumnIconPlusTextGrid__cards-card")
                            .css({height: height + "px"});
                    });
                }, 1);
                return Promise.resolve();
            },
            gatedContent(content) {
                Bus.$emit("showGatedCourseContentModal", content);
            },
        },
        mounted() {
            let $this = this;
            $this
                .getCourse()
                .then(function () {
                    return $this.getCourseDate().then(() => {
                        $this.getCourseFeedback();
                    })
                })
                .then(function () {
                    $this.resizeFourColumnIconPlusTextGrid();
                    $this.loaded = true;
                })
                .catch(function (error) {
                    alert(error);
                });
        }
    };
</script>
