<template>
	<div class="modalWrapper" v-bind:class="{'modalWrapper--active' : modalVisible}">
	<transition name="fade">
		<section class="gatedContent" v-show="modalVisible">
			<div class="gatedContent__inner">
				<div class="gatedContent__close" v-on:click="closeModal()">
					<span class="gatedContent__close-cross gatedContent__close-cross--left"></span>
					<span class="gatedContent__close-cross gatedContent__close-cross--right"></span>
				</div>
				<h1 class="gatedContent__heading">Enter your course resource code</h1>
				<p class="gatedContent__text">Please enter the code your course tutor provided to download the course resources</p>
				<form class="gatedContent__form">
					<div class="inputField">
						<input
							type="password" 
							name="code" 
							placeholder="Course resource code"
							class="inputField__input inputField__input--dark"
							:class="{'inputField__input--error' : invalidCode}"
							autocomplete="off"
							v-model="code"
							>
						<span class="inputField__help">
							You've entered an invalid course code.
						</span>
						<span class="inputField__icon inputField__icon--password"></span>
					</div>
					<button v-on:click.prevent="download" class="button button--solid" type="submit">
						<span v-if="!busy">Download</span>
						<span v-else><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
					</button>
				</form>
			</div>
		</section>
	</transition>
	</div>
</template>

<script>
	export default {
		props: [
			'course_code'
		],
		data: function() {
    		return {
    			'contentUrl': '', 
    			'invalidCode' : false,
    			'busy' : false,
    			'modalVisible': false,
    			'code' : ''
    		}
    	},
    	methods: {
    		showModal() {
    			var $this = this;
    			$this.modalVisible = true;
    			setTimeout(function(){
	    			$('.gatedContent input').focus();
	    		},1);
    		},
    		closeModal() {
    			var $this = this;
    			$this.modalVisible = false;
    			$this.contentUrl = '';
    			$this.invalidCode = false;
    			$this.code = '';
    		},
    		download(){
    			var $this = this;
    			$this.busy = true;
    			$this.invalidCode = false;
    			setTimeout(function(){
    				if ($this.code !== $this.course_code){
    					$this.invalidCode = true;
    				} else {
						window.open($this.contentUrl, '_blank');
						$this.closeModal();
    				}
    				$this.busy = false;
    			}, 300);
    		}
    	},
		mounted() {
			var $this = this;
			Bus.$on('showGatedCourseContentModal', function(content) {
				$this.contentUrl = content;
                $this.showModal();
            });
        }
	}
</script>