<template>
	<div>

		<div class="moduleCards block-isWhite">
			<div class="moduleCards__inner constrain">
				<div class="moduleCards__category" v-if="categories">
					<div class="moduleCards__category-select">
						<select v-on:change="changedCategory" class="moduleCards__category-select-input" v-model="category">
							<option value="">All categories</option>
							<option v-for="category in categories" :value="category.slug">{{ category.name }}</option>
						</select>
						<img class="moduleCards__category-select-icon" src="/img/chevron-down.svg" />
					</div>
				</div>
				<ul class="moduleCards__cards">
					<li class="moduleCards__cards-card" v-for="resource in resources">
						<div class="moduleCards__cards-card-imageWrapper">
						<img v-if="resource_type_slug === 'toolkit'" :src="resource.icon ? resource.icon : '/img/logo-nik.jpg'" class="moduleCards__cards-card-image" />
						<img v-else="resource_type_slug === 'scenario'" :src="resource.icon ? resource.icon : '/img/download-svg.svg'" class="moduleCards__cards-card-image" />
						</div>
						<div class="moduleCards__cards-card-textWrapper">
							<h3 class="moduleCards__cards-card-title moduleCards__cards-card-title--noBorder">{{ resource.title }}</h3>
							<p class="moduleCards__cards-card-text">{{ resource.description }}</p>
							<div class="moduleCards__cards-card-category" v-show="resource.categories.length > 0">
								<h4 class="moduleCards__cards-card-category-title">Category</h4>
								<a v-for="category in resource.categories" class="moduleCards__cards-card-category-link">{{ category.name }}</a>
							</div>
						</div>
						<a :href="resource.url" target="_blank" class="moduleCards__cards-card-button" v-if="user">
							<span>Download</span>
							<i></i>
						</a>
						<a v-on:click.prevent="showLogin" href="#" target="_blank" class="moduleCards__cards-card-button" v-else>
							<span>Login & Download</span>
							<i></i>
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		props: [
			'user',
			'resource_type_slug'
		],
		data: function() {
    		return {
				'resources' : [],
				'categories' : [],
				'category' : ''
    		}
    	},
    	methods: {
    		getResources(category){
    			var $this = this;

    			if (!category){
    				category = '';
    			} else {
    				category = '&category_slug=' + category;
    			}

    			return axios.get('/api/v1/resources?type_slug='+$this.resource_type_slug + category).then(function(response){
    				$this.resources = response.data;
    				return Promise.resolve();
    			}).catch(function(error){
    				alert(error.response.data.error);
    			});
    		},
    		getCategories(){
    			var $this = this;
    			return axios.get('/api/v1/resources/categories?type_slug='+$this.resource_type_slug).then(function(response){
    				$this.categories = response.data;
    				return Promise.resolve();
    			}).catch(function(error){
    				alert(error.response.data.error);
    			});
    		},
    		showLogin(){
    			Bus.$emit('showAuthModalEvent');
    		},
    		changedCategory(){
    			var $this = this;
    			return $this.getResources($this.category);
    		}
    	},
		mounted() {
			var $this = this;
			$this.getResources().then(function(){
				return $this.getCategories();
			});
        }
	}
</script>