<template>
    <div class="training-courses bg-lighter_gray content-wrapper">
        <portal to="counter-card">
            <counter-card
                    :number="totalNumberOfTrainingCourses"
                    label="Courses" />
        </portal>

        <page-hero
                :back="bannerBack"
                :title="bannerTitle"
                :description="bannerDescription" />

        <div class="training-courses__course-wrapper">
            <div class="constrain">

                <training-courses-loader v-if="shouldShowSpinner" />

                <div v-if="!this.userIsLoggedIn" class="training-courses pb-5">
                    <template v-if="this.trainingCourses.length > 0">
                        <page-section-intro
                                v-if="!shouldShowSpinner"
                                description="On successful completion of an MPROvE Academy course you will be provided with a certificate that can be downloaded in PDF format. courses"
                                title="Training courses" />

                        <div class="grid grid-cols-2 gap-5">
                            <training-course-card
                                    v-for="trainingCourse in this.trainingCourses"
                                    :key="trainingCourse.id"
                                    :training-course="trainingCourse"
                            />
                        </div>
                    </template>
                    <template v-else>
                        <div class="border-dashed rounded-md border-2 border-blue w-full pt-32 pb-24 px-24 flex align-items-center bg-white">
                            <div class="pt-4 mx-auto">
                                <page-section-intro
                                        description="There are currently no training courses available."
                                        title="Training Courses" />
                            </div>
                        </div>
                    </template>
                </div>

                <div class="user-training-courses" v-if="this.userIsLoggedIn">

                    <div class="user-training-courses__course-group mb-20" v-if="incompleteTrainingCourses.length > 0">

                        <page-section-intro
                                v-if="!shouldShowSpinner"
                                description="Training courses that are currenly in progress and not complete."
                                title="Started" />

                        <div class="grid lg:grid-cols-2 gap-5">

                            <training-course-started-card v-for="trainingCourse in incompleteTrainingCourses"
                                    :key="trainingCourse.id"
                                    :training-course="trainingCourse"
                            />
                        </div>
                    </div>

                    <div class="user-training-courses__course-group mb-20" v-if="completeTrainingCourses.length > 0">
                        <page-section-intro
                                v-if="!shouldShowSpinner"
                                description="Training courses that you have completed, whether you passed or failed"
                                title="Completed" />

                        <div class="grid lg:grid-cols-2 gap-5">

                            <training-course-completed-card v-for="trainingCourse in completeTrainingCourses"
                                  :key="trainingCourse.id"
                                  :training-course="trainingCourse"
                            />
                        </div>
                    </div>

                    <available-training-courses/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import PageHero from '@/components/TrainingCourses/Components/PageHero';
    import CounterCard from '@/components/TrainingCourses/Components/CounterCard';
    import PageSectionIntro from '@/components/TrainingCourses/Components/PageSectionIntro';
    import TrainingCourseCard from '@/components/TrainingCourses/TrainingCourseCards/TrainingCourseCard';
    import TrainingCourseStartedCard from '@/components/TrainingCourses/TrainingCourseCards/TrainingCourseStartedCard';
    import TrainingCourseCompletedCard from '@/components/TrainingCourses/TrainingCourseCards/TrainingCourseCompletedCard';
    import AvailableTrainingCourses from '@/components/TrainingCourses/Components/AvailableTrainingCourses';
    import TrainingCoursesLoader from "@/components/TrainingCourses/Components/ContentLoaders/TrainingCoursesLoader";
    import PortalVue from 'portal-vue';
    import {mapActions, mapGetters} from 'vuex';
    import sweetalert from "@/services/shared/sweetalert";
    import GridLoader from 'vue-spinner/src/GridLoader.vue';

    Vue.use(PortalVue);

    export default {
        components: {
            PageHero,
            PageSectionIntro,
            CounterCard,
            TrainingCourseCard,
            TrainingCourseStartedCard,
            TrainingCourseCompletedCard,
            AvailableTrainingCourses,
            GridLoader,
            TrainingCoursesLoader
        },
        props: {
            bannerBack: {
                required: true,
                type: Object
            },
            bannerTitle: {
                type: String,
                required: true
            },
            bannerDescription: {
                type: String,
                required: true
            },
            introTitle: {
                type: String,
                required: true
            },
            introDescription: {
                type: String,
                required: true
            }
        },
        computed: {
            ...mapGetters('trainingCourse', [
                'totalNumberOfTrainingCourses',
                'trainingCourses',
                'fetchingTrainingCourses'
            ]),
            ...mapGetters('userTrainingCourse', [
                'userTrainingCourses',
                'completeTrainingCourses',
                'incompleteTrainingCourses',
                'fetchingUserTrainingCourses',
                'fetchingAvailableUserTrainingCourses'

            ]),
            userIsLoggedIn() {
                return !! this.$root.user;
            },
            shouldShowSpinner() {
                return this.fetchingTrainingCourses|| this.fetchingUserTrainingCourses || this.fetchingAvailableUserTrainingCourses;
            }
        },
        created() {
            this.getAllTrainingCourses()
                .catch(reject => (sweetalert.error('There was an error', reject.statusText)));

            if(this.userIsLoggedIn) {
                this.getUserTrainingCourses()
                    .catch(reject => (sweetalert.error('There was an error', reject.statusText)));
            }
        },
        methods: {
            ...mapActions('trainingCourse', ['getAllTrainingCourses']),
            ...mapActions('userTrainingCourse', ['getUserTrainingCourses']),
        },
        mounted() {

        }
    }
</script>
