<template>
    <div class="training-course bg-lighter_gray content-wrapper">
        <page-hero
                :show-loader="fetchingTrainingCourseQuestions || fetchingUserTrainingCourse"
                :back="bannerBack"
                :title="bannerTitle"
                :description="bannerDescription" />

        <div class="constrain">
            <div v-if="!this.courseIsComplete">
                <intro-loader v-if="fetchingUserTrainingCourse || fetchingTrainingCourseQuestions"/>
                <page-section-intro
                        v-if="!fetchingUserTrainingCourse && !fetchingTrainingCourseQuestions"
                        :description="introDescription"
                        :title="introTitle" />

                <answered-questions-loader v-if="fetchingTrainingCourseQuestions || fetchingUserTrainingCourse"/>

                <div class="mb-12">
                    <training-course-answered-question
                            v-for="answeredQuestion in this.getAnsweredQuestions"
                            :key="answeredQuestion.id"
                            :questionId="answeredQuestion.id"
                            :training-course-id="trainingCourseId"
                            :training-course-question="answeredQuestion"
                            :question-progress-percentage="questionProgressPercentage(answeredQuestion)"
                            :question-number="questionNumber(answeredQuestion)"
                            :total-number-of-questions="totalNumberOfQuestions"/>
                </div>

                <div    v-if="!fetchingTrainingCourseQuestions && !fetchingUserTrainingCourse"
                        class="flex justify-content-center">
                    <action-button
                            :action="completeCourseButtonAction"
                            :show-loader="showSubmitButtonLoader"
                            class-name="button button--solid-green mb-3"
                            text="Submit answers"/>
                </div>

                <a
                        v-if="!fetchingTrainingCourseQuestions && !fetchingUserTrainingCourse"
                        :href="`/online-training-courses/${trainingCourseId}/questions`"
                        class="flex align-items-center fading-link justify-content-center text-blue font-avertaBold block mt-3">
                    <img src="/img/arrow-thin-left-blue.svg" alt="" class="w-3 h-3">
                    <span class="pl-2">Back to questions</span>
                </a>
            </div>
            <course-summary
                    v-if="this.courseIsComplete"
                    :training-course-id="this.trainingCourseId"
            />
        </div>



    </div>
</template>

<script>

    import PageHero from '@/components/TrainingCourses/Components/PageHero';
    import CounterCard from '@/components/TrainingCourses/Components/CounterCard';
    import PageSectionIntro from '@/components/TrainingCourses/Components/PageSectionIntro';
    import ProgressBar from "@/components/TrainingCourses/Components/ProgressBar";
    import ActionButton from "@/components/TrainingCourses/Components/ActionButton";
    import CourseSummary from '@/components/TrainingCourses/Components/CourseSummary';
    import IntroLoader from "@/components/TrainingCourses/Components/ContentLoaders/IntroLoader";
    import AnsweredQuestionsLoader from "@/components/TrainingCourses/Components/ContentLoaders/AnsweredQuestionsLoader";
    import TrainingCourseAnsweredQuestion from "@/components/TrainingCourses/Components/TrainingCourseQuestion/TrainingCourseAnsweredQuestion";

    import {mapActions, mapGetters} from 'vuex';

    import GridLoader from 'vue-spinner/src/GridLoader.vue';

    export default {
        components: {
            PageHero,
            PageSectionIntro,
            CounterCard,
            GridLoader,
            ProgressBar,
            TrainingCourseAnsweredQuestion,
            ActionButton,
            CourseSummary,
            IntroLoader,
            AnsweredQuestionsLoader
        },
        props: {
            trainingCourseId: {
                required: true,
                type: Number
            },
            bannerBack: {
                required: true,
                type: Object
            },
            introDescription: {
                required: true,
                type: String
            }
        },
        data: function() {
            return {
                bannerTitle: '',
                bannerDescription: '',
                introTitle: '',
                videoCount: 0,
                showSubmitButtonLoader: false,
                completeCourseButtonAction: {
                    click: () => this.submitCourse()
                }
            }
        },
        computed: {
            ...mapGetters('userTrainingCourse', [
                'userTrainingCourse',
                'courseIsComplete',
                'fetchingUserTrainingCourse',
                'userTrainingCourseIsSubmitting'
            ]),

            ...mapGetters('userTrainingCourseAnsweredQuestion', [
                'getAnsweredQuestions',
                'fetchingTrainingCourseQuestions',
            ]),
            computeNumberOfVideos() {
                return 0;
            },
            totalNumberOfQuestions() {
                return this.getAnsweredQuestions.length;
            },
        },
        created() {
            this.getUserTrainingCourse(this.trainingCourseId)
            .then(resolve => (this.actOnReceivedTrainingCourse()));
        },

        methods: {
            ...mapActions('userTrainingCourse', [
                'getUserTrainingCourse',
                'submitTheCourse',
                'completeTheCourse'
            ]),

            ...mapActions('userTrainingCourseAnsweredQuestion', [
                'getAllQuestions'
            ]),

            actOnReceivedTrainingCourse() {
                this.introTitle = `${this.userTrainingCourse.name} Certification`;
                this.bannerTitle = this.userTrainingCourse.name;
                this.bannerDescription = this.userTrainingCourse.description;
                this.videoCount = this.userTrainingCourse.video_count;
                this.getAllQuestions(this.trainingCourseId)
                    .catch(reject => (sweetalert.error('There was an error', reject.statusText)));
            },

            questionProgressPercentage(answeredQuestion) {
                return 100 / this.totalNumberOfQuestions * (this.getAnsweredQuestions.indexOf(answeredQuestion) + 1);
            },

            questionNumber(answeredQuestion) {
                return this.getAnsweredQuestions.indexOf(answeredQuestion) + 1;
            },

            submitCourse() {
                if(!this.userTrainingCourseIsSubmitting) {
                    this.showSubmitButtonLoader = true;
                    this.submitTheCourse(this.trainingCourseId)
                        .then(resolve => (this.completeTheCourse()))
                        .catch(reject => (sweetalert.error('There was an error', reject.statusText)));;
                }
            }
        }
    }
</script>