<template>
    <div class="training-course bg-lighter_gray content-wrapper">

        <page-hero
                :show-loader="shouldShowContentLoaders"
                :back="bannerBack"
                :title="bannerTitle"
                :description="bannerDescription" />

        <div class="constrain">
            <intro-loader v-if="shouldShowContentLoaders"/>
            <page-section-intro
                    v-if="!shouldShowContentLoaders"
                    :description="introDescription"
                    :title="introTitle" />

            <div
                    class="training-course-questions block-highlighted p-10 bg-white mb-4">
                    <question-loader v-if="(fetchingTrainingCourseQuestions || fetchingUserTrainingCourse || fetchingTrainingCourseQuestion) && !firstQuestionHasLoaded"/>
                <div
                        v-if="!fetchingTrainingCourseQuestions && !fetchingUserTrainingCourse && firstQuestionHasLoaded"
                        class="flex flex-wrap"
                >
                    <div class="sm:w-full md:w-4/5 mb-3 md:mb-0">
                        <div
                                class="training-course-question"
                                v-for="trainingCourseQuestion in trainingCourseQuestions"
                                :key="trainingCourseQuestion.id">

                                <training-course-question
                                        v-if="questionShouldShow(trainingCourseQuestion)"
                                        :training-course-question="trainingCourseQuestion"
                                />
                        </div>


                        <a
                                v-if="shouldShowPreviousAction"
                                href='#'
                                @click.prevent="showPreviousQuestion()"
                                class='text-green fading-link w-full text-left font-avertaBold flex align-items-center'>
                            <img src="/img/arrow-thin-left.svg" alt="" class="w-3 h-3"> <span class="pl-2">Previous Question</span>
                        </a>
                    </div>

                    <div class="training-course-question__sidebar w-full md:w-1/5 flex md:pl-10 flex-column">
                        <div class="mb-6">
                            <progress-bar
                                    title="Question"
                                    :progress-percentage="questionProgressPercentage"
                                    :secondary-text="{'text': `${questionNumber} / ${totalNumberOfQuestions}`}"/>
                        </div>

                        <action-button
                                v-if="shouldShowNextAction"
                                :action="nextQuestionButtonAction"
                                :show-loader="fetchingTrainingCourseQuestion || answeringTrainingCourseQuestion"
                                class-name="button w-full xl:mb-0 xl:w-auto mt-auto"
                                text="Next"/>

                        <action-button
                                v-if="!shouldShowNextAction"
                                :action="showCourseSummaryAction"
                                :show-loader="showingSummary"
                                class-name="button button--solid-green w-full xl:mb-0 xl:w-auto mt-auto"
                                text="Summary"/>

                        <a
                                v-if="this.shouldShowCompleteCourseAction"
                                @click.prevent="skipToSummary()"
                                href="#"
                                class="text-green fading-link w-full text-left font-avertaBold flex align-items-center justify-content-center mt-3">

                            <span class="pr-2 text-center">
                                {{ skipToSummaryText }}
                            </span>
                            <img src="/img/arrow-thin-right.svg" alt="" class="w-3 h-3">
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>

    import PageHero from '@/components/TrainingCourses/Components/PageHero';
    import CounterCard from '@/components/TrainingCourses/Components/CounterCard';
    import PageSectionIntro from '@/components/TrainingCourses/Components/PageSectionIntro';
    import TrainingCourseQuestion from '@/components/TrainingCourses/Components/TrainingCourseQuestion/TrainingCourseQuestion';
    import ProgressBar from "@/components/TrainingCourses/Components/ProgressBar";
    import ActionButton from "@/components/TrainingCourses/Components/ActionButton";
    import IntroLoader from "@/components/TrainingCourses/Components/ContentLoaders/IntroLoader";
    import QuestionLoader from "@/components/TrainingCourses/Components/ContentLoaders/QuestionLoader";
    import {mapActions, mapGetters} from 'vuex';
    import sweetalert from "@/services/shared/sweetalert";
    import GridLoader from 'vue-spinner/src/GridLoader.vue';

    export default {
        components: {
            PageHero,
            PageSectionIntro,
            CounterCard,
            GridLoader,
            TrainingCourseQuestion,
            ProgressBar,
            ActionButton,
            sweetalert,
            IntroLoader,
            QuestionLoader
        },
        props: {
            trainingCourseId: {
                required: true,
                type: Number
            },
            bannerBack: {
                required: true,
                type: Object
            },
            introDescription: {
                type: String,
                required: true
            }
        },
        data: function() {
            return {
                bannerTitle: '',
                bannerDescription: '',
                introTitle: '',
                completingCourse: false,
                shouldShowCompleteCourseAction: false,
                showingSummary: false,
                videoCount: 0,
                trainingCourseHasLoaded: false,
                firstQuestionHasLoaded: false,
                selectedQuestion: null,
                nextQuestionButtonAction: {
                    click: () => this.showNextQuestion()
                },
                showCourseSummaryAction: {
                    click: () => this.viewAnswers()
                }
            }
        },
        computed: {
            ...mapGetters('userTrainingCourse', [
                'userTrainingCourse',
                'userTrainingCourseIsSubmitting',
                'fetchingUserTrainingCourse'
            ]),
            ...mapGetters('userTrainingCourseQuestion', [
                'trainingCourseQuestions',
                'fetchingTrainingCourseQuestion',
                'fetchingTrainingCourseQuestions',
                'shownTrainingCourseQuestion',
                'trainingCourseQuestionsWithAnswers',
                'answeringTrainingCourseQuestion',
                'selectedTrainingCourseQuestionAnswer',
                'answeringTrainingCourseQuestion',
                'getSkipToSummaryAndSubmitAnswer'
            ]),
            computeNumberOfVideos() {
                return 0;
            },
            questionNumber() {
                return this.trainingCourseQuestions.indexOf(this.shownTrainingCourseQuestion) + 1;
            },
            questionProgressPercentage() {
                return 100 / this.totalNumberOfQuestions * (this.trainingCourseQuestions.indexOf(this.shownTrainingCourseQuestion) + 1);
            },
            totalNumberOfQuestions() {
                return this.trainingCourseQuestions.length;
            },
            shouldShowNextAction() {
                return this.trainingCourseQuestions.lastIndexOf(this.shownTrainingCourseQuestion) !== this.trainingCourseQuestions.length - 1;
            },
            shouldShowPreviousAction() {
                return this.trainingCourseQuestions.lastIndexOf(this.shownTrainingCourseQuestion) !== 0;
            },
            shouldShowContentLoaders() {
                return (this.fetchingUserTrainingCourse || this.fetchingTrainingCourseQuestions || this.fetchingUserTrainingCourse || this.fetchingTrainingCourseQuestion) && !this.trainingCourseHasLoaded;
            },
            skipToSummaryText() {
                return this.getSkipToSummaryAndSubmitAnswer ? 'Update and skip to summary' : 'Skip to summary';
            }

        },
        created() {

            let params = window.location.href.split('?')[1];

            if(params) {
                let separateParams = params.split('&');

                for(let param of separateParams) {
                    if(param.split('=')[0] === 'qid') {
                        this.selectedQuestion = param.split('=')[1];
                    }
                }
            }

            this.getUserTrainingCourse(this.trainingCourseId)
            .then(resolve => (this.actOnReceivedTrainingCourse()));
        },

        methods: {

            ...mapActions('userTrainingCourse', [
                'getUserTrainingCourse',
                'submitTheCourse'
            ]),

            ...mapActions('userTrainingCourseQuestion', [
                'getAllQuestions',
                'getQuestion',
                'showTrainingCourseQuestion',
                'setSelectedQuestionAnswer',
                'answerTrainingCourseQuestion',
                'updateTrainingCourseQuestionAnswer',
                'setSkipToSummaryAndSubmitAnswer'
            ]),

            actOnReceivedTrainingCourse() {
                this.introTitle = `${this.userTrainingCourse.name} Certification`;

                if(this.userTrainingCourse) {
                    this.bannerTitle = this.userTrainingCourse.name;
                    this.bannerDescription = this.userTrainingCourse.description;
                    this.videoCount = this.userTrainingCourse.video_count;
                }

                this.getAllQuestions(this.trainingCourseId)
                    .then(resolve => {
                        this.displayQuestion(resolve);
                    });
            },
            showNextQuestion() {
                this.trainingCourseHasLoaded = true;
                this.getAnotherQuestion();
            },
            showPreviousQuestion() {
                this.trainingCourseHasLoaded = true;
                this.getAnotherQuestion('previous');
            },
            getAnotherQuestion(order = 'next') {
                this.setSkipToSummaryAndSubmitAnswer(false);

                if(order === 'next') {
                    this.submitAnswer(order);
                }

                if(order === 'previous') {
                    this.loadAnotherQuestion(order);
                }
            },
            loadAnotherQuestion(order) {

                if(order && !this.fetchingTrainingCourseQuestion && !this.answeringTrainingCourseQuestion) {
                    let anotherQuestion = this.trainingCourseQuestions[this.trainingCourseQuestions.indexOf(this.shownTrainingCourseQuestion) + (order === 'previous' ? -1 : 1)];

                    let questionHasAnswers = true;

                    if(typeof anotherQuestion !== "undefined") {
                        questionHasAnswers = this.trainingCourseQuestionsWithAnswers.filter(question => question.id === anotherQuestion.id).length !== 0;
                    }

                    this.getQuestion([this.trainingCourseId, anotherQuestion.id])
                        .then(resolve=> (this.showTrainingCourseQuestion(anotherQuestion)));
                }
            },

            displayQuestion(questions) {
                this.shouldShowCompleteCourseAction = this.trainingCourseQuestions.length === this.userTrainingCourse.questions.answered.length;
                let answeredQuestionsInOrder = this.answeredQuestionsInOrder();

                for(let question of questions) {
                    let shown = false;

                    //if this is the first question
                    if(this.trainingCourseQuestions[0] === question && answeredQuestionsInOrder.length === 0) {
                        shown = true;
                        //console.log(question);
                    }

                    //if user has answered any questions
                    if(answeredQuestionsInOrder.length > 0) {
                        if(!this.selectedQuestion) {
                            //if this question is the next one after the last one answered by the user
                            if(this.trainingCourseQuestions.lastIndexOf(question) === answeredQuestionsInOrder.length) {
                                shown = true;
                            }

                            //if the user has answered this question
                            if(answeredQuestionsInOrder.includes(question)) {
                                if(answeredQuestionsInOrder.length === this.trainingCourseQuestions.length) {
                                    if(this.trainingCourseQuestions.lastIndexOf(question) === answeredQuestionsInOrder.length - 1) {
                                        shown = true;
                                    }
                                }

                                if(this.trainingCourseQuestions.lastIndexOf(question) !== answeredQuestionsInOrder.length && answeredQuestionsInOrder.length !== this.trainingCourseQuestions.length) {
                                    shown = false;
                                }
                            }
                        }

                        if(this.selectedQuestion && this.selectedQuestion == question.id) {
                            shown = true;
                        }
                    }
                    if(shown) {
                        this.showTrainingCourseQuestion(question);
                        this.getQuestion([this.userTrainingCourse.id, question.id])
                            .then(resolve => (this.actOnReceivedQuestion(resolve)));
                    }
                }
            },

            actOnReceivedQuestion(question) {
                this.firstQuestionHasLoaded = true;
                this.setSelectedQuestionAnswer(question.user_answers[0] ?? {});
            },

            questionShouldShow(trainingCourseQuestion) {
                return this.shownTrainingCourseQuestion === trainingCourseQuestion
            },

            answeredQuestionsInOrder() {
                let answeredQuestionsInOrder = [];

                if(this.userTrainingCourse.questions.answered.length > 0) {
                    answeredQuestionsInOrder = this.trainingCourseQuestions.filter(question => this.userTrainingCourse.questions.answered.includes(question.id));
                }

                return answeredQuestionsInOrder;
            },
            submitAnswer(order = false, action = false) {

                let questionAnswerId = typeof this.selectedTrainingCourseQuestionAnswer.id !== "undefined" ? this.selectedTrainingCourseQuestionAnswer.id : null;

                let answerTrainingCourseQuestion = {
                    trainingCourseId: this.userTrainingCourse.id,
                    questionId: this.shownTrainingCourseQuestion.id,
                    formData: {
                        question_answer_id: questionAnswerId
                    }
                };

                if(!this.fetchingTrainingCourseQuestion && !this.answeringTrainingCourseQuestion) {
                    this.answerTrainingCourseQuestion(answerTrainingCourseQuestion)
                        .then(resolve => {
                            if(order) {
                                this.loadAnotherQuestion(order);
                            }

                            if(action) {
                              this[action]();
                            }
                        })
                        .catch(reject => {
                            this.actOnRejectedQuestionAnswerSubmission(reject, answerTrainingCourseQuestion, order, action)
                        });
                }
            },
            actOnRejectedQuestionAnswerSubmission(response, answerTrainingCourseQuestion, nextQuestion = false, action = false ) {
                let updateTrainingCourseQuestionAnswer = {
                    trainingCourseId: answerTrainingCourseQuestion.trainingCourseId,
                    questionId: answerTrainingCourseQuestion.questionId,
                    answerId: answerTrainingCourseQuestion.formData.question_answer_id ?? 0
                }

                if(response.status === 302) {
                    this.updateTrainingCourseQuestionAnswer(updateTrainingCourseQuestionAnswer)
                        .then(resolve => {
                            if(nextQuestion) {
                                this.loadAnotherQuestion(nextQuestion)
                            }
                            if(action) {
                                this[action]();
                            }
                        });
                }
            },

            viewAnswers() {
                this.trainingCourseHasLoaded = true;
                this.showingSummary = true;
                let questionAnswerId = typeof this.selectedTrainingCourseQuestionAnswer !== "undefined" ? this.selectedTrainingCourseQuestionAnswer.id : null;

                let answerTrainingCourseQuestion = {
                    trainingCourseId: this.userTrainingCourse.id,
                    questionId: this.shownTrainingCourseQuestion.id,
                    formData: {
                        question_answer_id: questionAnswerId
                    }
                };

                this.answerTrainingCourseQuestion(answerTrainingCourseQuestion)
                    .then(resolve => this.showAnswers())
                    .catch(reject => this.actOnRejectedLastQuestionAnswerSubmission(reject, answerTrainingCourseQuestion));
            },
            actOnRejectedLastQuestionAnswerSubmission(response, answerTrainingCourseQuestion) {

                let updateTrainingCourseQuestionAnswer = {
                    trainingCourseId: answerTrainingCourseQuestion.trainingCourseId,
                    questionId: answerTrainingCourseQuestion.questionId,
                    answerId: answerTrainingCourseQuestion.formData.question_answer_id ?? 0
                }

                if(response.status === 302) {
                    this.updateTrainingCourseQuestionAnswer(updateTrainingCourseQuestionAnswer)
                        .then(resolve => this.showAnswers());
                }
            },
            showAnswers() {
                window.location.href = `/online-training-courses/${this.trainingCourseId}/questions/summary`;
            },
            skipToSummary() {

                if(this.getSkipToSummaryAndSubmitAnswer) {
                    this.submitAnswer(false, 'showAnswers');
                }

                if(!this.getSkipToSummaryAndSubmitAnswer) {
                    this.showAnswers();
                }
            }
        }
    }
</script>