<template>
    <div class="training-course bg-lighter_gray content-wrapper">

        <page-hero
                :show-loader="fetchingUserTrainingCourse || fetchingTrainingCourseQuestions"
                :back="bannerBack"
                :title="bannerTitle"
                :description="bannerDescription" />

        <div class="constrain">
            <intro-loader v-if="fetchingUserTrainingCourse || fetchingTrainingCourseQuestions"/>
            <page-section-intro
                    v-if="!fetchingUserTrainingCourse && !fetchingTrainingCourseQuestions"
                    :description="introDescription"
                    :title="introTitle" />

            <answered-questions-loader v-if="fetchingTrainingCourseQuestions || fetchingUserTrainingCourse"/>

            <div class="mb-12">
                <training-course-answered-question
                        v-for="answeredQuestion in this.getAnsweredQuestions"
                        :key="answeredQuestion.id"
                        :training-course-id="trainingCourseId"
                        :training-course-question="answeredQuestion"
                        :question-progress-percentage="questionProgressPercentage(answeredQuestion)"
                        :question-number="questionNumber(answeredQuestion)"
                        :total-number-of-questions="totalNumberOfQuestions"/>
            </div>

            <a      v-if="!fetchingTrainingCourseQuestions && !fetchingUserTrainingCourse"
                    href="/online-training-courses"
                    class="flex align-items-center fading-link justify-content-center text-blue mb-5 font-avertaBold block mt-3">
                <img src="/img/arrow-thin-left-blue.svg" alt="" class="w-3 h-3">
                <span class="pl-2">Online Training Courses</span>
            </a>
        </div>


    </div>
</template>

<script>

    import PageHero from '@/components/TrainingCourses/Components/PageHero';
    import CounterCard from '@/components/TrainingCourses/Components/CounterCard';
    import PageSectionIntro from '@/components/TrainingCourses/Components/PageSectionIntro';
    import ProgressBar from "@/components/TrainingCourses/Components/ProgressBar";
    import TrainingCourseAnsweredQuestion from "@/components/TrainingCourses/Components/TrainingCourseQuestion/TrainingCourseAnsweredQuestion";
    import {mapActions, mapGetters} from 'vuex';

    import GridLoader from 'vue-spinner/src/GridLoader.vue';
    import IntroLoader from "@/components/TrainingCourses/Components/ContentLoaders/IntroLoader";
    import AnsweredQuestionsLoader from "@/components/TrainingCourses/Components/ContentLoaders/AnsweredQuestionsLoader";

    export default {
        components: {
            PageHero,
            PageSectionIntro,
            CounterCard,
            GridLoader,
            ProgressBar,
            TrainingCourseAnsweredQuestion,
            IntroLoader,
            AnsweredQuestionsLoader
        },
        props: {
            trainingCourseId: {
                required: true,
                type: Number
            },
            bannerBack: {
                required: true,
                type: Object
            },
            introDescription: {
                required: true,
                type: String
            }
        },
        data: function() {
            return {
                bannerTitle: '',
                bannerDescription: '',
                introTitle: '',
                videoCount: 0,
            }
        },
        computed: {
            ...mapGetters('userTrainingCourse', [
                'userTrainingCourse',
                'fetchingUserTrainingCourse'
            ]),
            ...mapGetters('userTrainingCourseQuestion', [
                'trainingCourseQuestions',
                'fetchingTrainingCourseQuestion',
            ]),

            ...mapGetters('userTrainingCourseAnsweredQuestion', [
                'getAnsweredQuestions',
                'fetchingTrainingCourseQuestions'
            ]),
            computeNumberOfVideos() {
                return 0;
            },
            totalNumberOfQuestions() {
                return this.getAnsweredQuestions.length;
            },
        },
        created() {
            this.getUserTrainingCourse(this.trainingCourseId)
            .then(resolve => (this.actOnReceivedTrainingCourse()));
        },

        methods: {
            ...mapActions('userTrainingCourse', [
                'getUserTrainingCourse',
            ]),

            ...mapActions('userTrainingCourseAnsweredQuestion', [
                'getAllQuestions'
            ]),

            ...mapActions('userTrainingCourseAnsweredQuestion', [
                'setAnsweredQuestions',
            ]),
            actOnReceivedTrainingCourse() {
                this.introTitle = `${this.userTrainingCourse.name} Certification`;
                this.bannerTitle = this.userTrainingCourse.name;
                this.bannerDescription = this.userTrainingCourse.description;
                this.videoCount = this.userTrainingCourse.video_count;
                this.getAllQuestions(this.trainingCourseId);
            },
            questionProgressPercentage(answeredQuestion) {
                return 100 / this.totalNumberOfQuestions * (this.getAnsweredQuestions.indexOf(answeredQuestion) + 1);
            },
            questionNumber(answeredQuestion) {
                return this.getAnsweredQuestions.indexOf(answeredQuestion) + 1;
            },
        }
    }
</script>