<template>
    <div class="training-courses bg-lighter_gray content-wrapper">
        <portal to="counter-card">
            <counter-card
                    v-if="videoCount > 0"
                    :number="videoCount"
                    label="Videos" />
        </portal>

        <page-hero
                :show-loader="fetchingUserTrainingCourse || fetchingUserTrainingCourseMaterials"
                :back="bannerBack"
                :title="bannerTitle"
                :description="bannerDescription" />

        <div class="constrain">


            <intro-loader v-if="fetchingUserTrainingCourse || fetchingUserTrainingCourseMaterials" />

            <page-section-intro
                    v-if="userTrainingCourse && !fetchingUserTrainingCourse && !fetchingUserTrainingCourseMaterials"
                    :description="introDescription"
                    :title="introTitle" />

            <page-section-intro
                    v-if="!userTrainingCourse"
                    description="Unfortunately the training course you are trying to access is not accessible."
                    title="Not found" />


            <training-course-material-loaders v-if="fetchingUserTrainingCourseMaterials || fetchingUserTrainingCourse"/>

            <div class="training-course-material__material-wrapper mb-12 pb-2">

                <training-course-material
                        v-for="userTrainingCourseMaterial in userTrainingCourseMaterials"
                        :should-show-as="materialShouldAs(userTrainingCourseMaterial)"
                        :section-number="materialSectionNumber(userTrainingCourseMaterial)"
                        :total-number-of-sections="userTrainingCourseMaterials.length"
                        :key="userTrainingCourseMaterial.id"
                        :training-course-material="userTrainingCourseMaterial"
                        :last-material-action="lastMaterialButtonAction"/>

            </div>

            <course-completed
                    v-if="courseCanBeStarted || showCompletedLoader"
                    :show-spinner="showCourseStartButtonSpinner"
                    :show-loader="showCompletedLoader"
                    :action="startCourseAction"
                    icon-link="/img/article.svg"
                    description-component="DescriptionPlain"
                    :title="`${this.userTrainingCourse.name} Certification`"
                    description="You’ve completed the course material and now ready to begin the multiple choice test. The test is not timed and your progress will be saved as you progress."
                    link-text="Start"
            />

            <course-summary
                    v-if="this.courseIsComplete && !fetchingUserTrainingCourseMaterials && !fetchingUserTrainingCourse"
                    :training-course-id="this.trainingCourseId"
            />
        </div>
    </div>
</template>

<script>

    import PageHero from '@/components/TrainingCourses/Components/PageHero';
    import CounterCard from '@/components/TrainingCourses/Components/CounterCard';
    import PageSectionIntro from '@/components/TrainingCourses/Components/PageSectionIntro';
    import TrainingCourseMaterial from '@/components/TrainingCourses/TrainingCourseMaterials/TrainingCourseMaterial';
    import CourseCompleted from '@/components/TrainingCourses/Components/CourseCompleted';
    import CourseSummary from '@/components/TrainingCourses/Components/CourseSummary';
    import {mapActions, mapGetters} from 'vuex';
    import sweetalert from "@/services/shared/sweetalert";
    import GridLoader from 'vue-spinner/src/GridLoader.vue';
    import IntroLoader from "@/components/TrainingCourses/Components/ContentLoaders/IntroLoader";
    import TrainingCourseMaterialLoaders from "@/components/TrainingCourses/Components/ContentLoaders/TrainingCourseMaterialLoaders";

    import PortalVue from 'portal-vue';
    import userTrainingCourse from "../../store/modules/TrainingCourses/userTrainingCourse";
    import VueScrollTo from "vue-scrollto";

    Vue.use(PortalVue);

    export default {
        components: {
            IntroLoader,
            PageHero,
            PageSectionIntro,
            CounterCard,
            TrainingCourseMaterial,
            GridLoader,
            CourseCompleted,
            CourseSummary,
            IntroLoader,
            TrainingCourseMaterialLoaders,
        },
        props: {
            trainingCourseId: {
                required: true,
                type: Number
            },
            bannerBack: {
                required: true,
                type: Object
            },
            introTitle: {
                type: String,
                required: true
            },
            introDescription: {
                type: String,
                required: true
            }
        },
        data: function() {
            return {
                bannerTitle: '',
                bannerDescription: '',
                showCourseStartButtonSpinner: false,
                videoCount: 0,
                showCompletedLoader: false,
                startingTrainingCourse: false,
                lastMaterialButtonAction: {
                    action: () => this.checkIfCourseIsStartable()
                },
                startCourseAction: {
                    click: () => this.loadCourse()
                },

            }
        },
        computed: {
            ...mapGetters('userTrainingCourse', [
                'userTrainingCourse',
                'userTrainingCourseMaterials',
                'fetchingUserTrainingCourseMaterials',
                'fetchingUserTrainingCourse',
                'courseCanBeStarted',
                'courseIsComplete'
            ]),
            ...mapGetters('userTrainingCourseMaterial', [
                'availableTrainingCourseMaterials'
            ]),
            shouldShowCourseResults() {
                return this.userTrainingCourse.hasOwnProperty('results');
            }
        },
        created() {
            this.getUserTrainingCourse(this.trainingCourseId)
                .then(response => (this.actOnReceivedTrainingCourse()))
                .catch(reject => (sweetalert.error('There was an error', reject.statusText)));
        },

        methods: {
            ...mapActions('userTrainingCourse', [
                'getUserTrainingCourse',
                'getUserTrainingCourseMaterials',
                'startTrainingCourse',
                'makeTheTrainingCourseStartable',
                'completeTheCourse',
                'provideCoursePassStatus'
            ]),

            ...mapActions('userTrainingCourseMaterial', [
                'markTrainingCourseMaterialAsSeen'
            ]),

            actOnReceivedTrainingCourse() {

                if(this.userTrainingCourse) {
                    if(this.userTrainingCourse.hasOwnProperty('results')) {
                        this.completeTheCourse();
                        this.provideCoursePassStatus(this.userTrainingCourse.results.passed ? 'passed' : 'failed');
                    }

                    this.bannerTitle = this.userTrainingCourse.name;
                    this.bannerDescription = this.userTrainingCourse.description;
                    this.videoCount = this.userTrainingCourse.video_count;
                    this.getUserTrainingCourseMaterials(this.trainingCourseId)
                        .then(resolve => (this.actOnReceivedTrainingCourseMaterials()))
                        .catch(reject => (sweetalert.error('There was an error', reject.statusText)));
                }
            },
            actOnReceivedTrainingCourseMaterials() {
                this.startTrainingCourse(this.trainingCourseId).catch(function(reject) {
                    if(reject.status !== 302 && reject.status !== 200) {
                        sweetalert.error('There was an error', reject.statusText)
                    }
                })
                if(!this.userTrainingCourse.hasOwnProperty('results')) {
                    if(this.userTrainingCourse.seen.hasOwnProperty('materials')) {
                        if(this.userTrainingCourse.seen.materials.length >= this.userTrainingCourseMaterials.length -1) {
                            this.makeTheTrainingCourseStartable();
                        }
                    }
                }
            },

            materialShouldAs(trainingCourseMaterial) {
                let state = 'unread';
                let materialId = trainingCourseMaterial.id;
                let seenMaterialsInOrder = this.seenMaterialsInOrder();

                //if no materials have yet been seen
                if(seenMaterialsInOrder.length === 0) {
                    //if this is the first material in the list
                    if(this.userTrainingCourseMaterials[0].id === materialId) {
                        state = 'expanded';
                    }
                }

                //if some materials have been seen by the user
                if(seenMaterialsInOrder.length > 0) {
                    //if this is the last material that has been seen by the user
                    if(this.userTrainingCourseMaterials.lastIndexOf(trainingCourseMaterial) === seenMaterialsInOrder.length) {
                        state = 'expanded';
                    }

                    //if this material has been seen by the user but it isn't the last one that was seen
                    if(seenMaterialsInOrder.includes(trainingCourseMaterial)) {
                        if(this.userTrainingCourseMaterials.lastIndexOf(trainingCourseMaterial) !== seenMaterialsInOrder.length) {
                            state = 'collapsed';
                        }
                    }
                }

                return state;
            },
            seenMaterialsInOrder() {
                let seenMaterialsInOrder = [];

                if(this.userTrainingCourse.seen.hasOwnProperty('materials')) {
                    seenMaterialsInOrder = this.userTrainingCourseMaterials.filter(material => this.userTrainingCourse.seen.materials.includes(material.id));
                }

                return seenMaterialsInOrder;
            },
            materialSectionNumber(trainingCourseMaterial) {
                return this.userTrainingCourseMaterials.indexOf(trainingCourseMaterial) + 1;
            },
            checkIfCourseIsStartable() {
                this.showCompletedLoader = true;

                if(this.availableTrainingCourseMaterials.length === this.userTrainingCourseMaterials.length && !this.canTheCourseBeStarted) {

                    this.getUserTrainingCourse(this.trainingCourseId)
                        .then(resolve => {
                            this.showCompletedLoader = false;
                            this.triggerCourseStart(resolve);
                        })
                        .catch(reject => {
                                this.showCompletedLoader = false;
                                sweetalert.error('There was an error', reject.statusText);
                            }
                        );
                } else {
                    this.showCompletedLoader = false;
                }
            },
            triggerCourseStart(course) {
                if(course.seen.materials.length === this.userTrainingCourseMaterials.length - 1) {
                    this.makeTheTrainingCourseStartable();
                }
            },
            loadCourse() {
                if(!this.startingTrainingCourse) {
                    this.startingTrainingCourse = true;
                    this.showCourseStartButtonSpinner = true;
                    let lastMaterialId = this.availableTrainingCourseMaterials[this.availableTrainingCourseMaterials.length - 1];
                    this.markTrainingCourseMaterialAsSeen([this.userTrainingCourse.id, lastMaterialId])
                        .then(resolve => (this.startCourse()))
                        .catch(reject => (this.actOnFailedMaterialSeenRequest(reject)));
                }
            },
            actOnFailedMaterialSeenRequest(response) {
                if(response.status === 302) {
                    this.startCourse();
                }
            },
            startCourse() {
                window.location.href = `/online-training-courses/${this.trainingCourseId}/questions`;
            }
        }
    }
</script>