<template>
    <div :class="'training-course-card p-10 bg-white flex flex-column' + computeIsDraftClass">
        <training-course-loader v-if="showLoader" />
        <course-content v-if="!showLoader" :training-course="trainingCourse"/>
        <course-progress v-if="!showLoader" :training-course="trainingCourse" training-course-status="new"/>
        <course-actions v-if="!showLoader" :training-course="trainingCourse" training-course-status="new"/>
    </div>
</template>

<script>
    import CourseContent from "@/components/TrainingCourses/Components/TrainingCourseCard/TrainingCourseCardContent";
    import CourseProgress from "@/components/TrainingCourses/Components/TrainingCourseCard/TrainingCourseCardProgress";
    import CourseActions from "@/components/TrainingCourses/Components/TrainingCourseCard/TrainingCourseCardActions";
    import TrainingCourseLoader from "@/components/TrainingCourses/Components/ContentLoaders/TrainingCourseLoader";

    export default {
        components: {
            CourseContent,
            CourseProgress,
            CourseActions,
            TrainingCourseLoader
        },
        props: {
            trainingCourse: {
                required: true,
                type: Object
            },
            showLoader: {
                required: false,
                type: Boolean,
                default: false
            }
        },
        computed: {
            computeIsDraftClass() {
                return this.trainingCourse.draft ? ' opacity-50' : '';
            }
        }
    }
</script>