<template>
    <div :class="'training-course-card p-10 bg-white flex flex-column' + computeIsDraftClass">
        <course-content :training-course="trainingCourse"/>
        <course-progress :training-course="trainingCourse" training-course-status="completed"/>
        <course-actions :training-course="trainingCourse" training-course-status="completed"/>
    </div>
</template>

<script>
    import CourseContent from "@/components/TrainingCourses/Components/TrainingCourseCard/TrainingCourseCardContent";
    import CourseProgress from "@/components/TrainingCourses/Components/TrainingCourseCard/TrainingCourseCardProgress";
    import CourseActions from "@/components/TrainingCourses/Components/TrainingCourseCard/TrainingCourseCardActions";

    export default {
        components: {
            CourseContent,
            CourseProgress,
            CourseActions
        },
        props: {
            trainingCourse: {
                required: true,
                type: Object
            }
        },
        computed: {
            computeIsDraftClass() {
                return this.trainingCourse.draft ? ' opacity-50' : '';
            }
        }

    }
</script>