/* Chatter Forums */
#chatter #chatter_hero {
	display: none;
}

#chatter .chatter_container {
	padding-top: 45px;
}

.chatter_body p,
#chatter ul.discussions li .chatter_posts .chatter_middle p {
	margin-top: 20px;
	line-height: normal;
	font-family: $font-averta-regular;
	font-size: 18px !important;
	color: #4D4D4D !important;
	letter-spacing: 0;
	line-height: 27px;
}

#chatter.chatter_home .chatter_middle p {
	line-height: normal;
	margin-top: 5px;
	font-family: $font-averta-regular;
	font-size: 14px !important;	
}

#chatter ul.discussions li a.discussion_list .chatter_middle h3.chatter_middle_title, #chatter ul.discussions li .chatter_posts .chatter_middle h3.chatter_middle_title {
	color: $dark-blue-text !important;
}

#login_or_register {
	a {
		color: $text-green;
	}
}

#chatter #chatter_header a.back_btn i {
	top: 10px;
}

#chatter.discussion #login_or_register p {
	color: #4D4D4D;
}

#chatter ul.discussions li .chatter_posts .chatter_middle > span a {
	color: $dark-blue-text !important;
}

#chatter ul.discussions li .chatter_posts .chatter_middle > span .ago {
	color: $text-green !important;
}

#new_discussion_in_discussion_view {
	border-color: $text-green !important;
}

#chatter button.btn.btn-primary {
	color: $dark-blue-text !important;	
	@include transition();
	&:hover {
		color: $text-green !important;
	}
}

#chatter a {
	color: $dark-blue-text !important;
	@include transition();
	&:hover {
		color: $text-green !important;
	}
}

#chatter #chatter_header a.back_btn {
	color: white !important;
	&:hover {
		color: $text-green !important;
	}
}