@import "base/reset";
@import "base/variables";
@import "base/mixins";
@import "base/functions";
@import "node_modules/sass-rem/_rem";
@import "./../../../vendor/laravel/spark-aurelius/resources/assets/sass/spark";
@tailwind base;
@tailwind components;
@tailwind utilities;

#spark-app {
	position: relative;
	z-index: 20;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
	@include rem-baseline;
}

body, html {
	overflow-x: hidden;
	font-family: $font-averta-regular;
	background-color: white;

	&.stopScroll{
		overflow: hidden;
		overflow-y: hidden;
		height: 100%;
	}
}

.constrain{
	width: 90%;
	max-width: 1180px;
	margin: 0 auto;

	@media screen and (max-width: 800px){
		width: 85%;
	}
}

.clearfix{
	clear: both;
}

.sizing-image {
	width: 100%;
	display: block;

}

.resetInputStyles {
	border: none;
	outline: none;
	appearance: none;
	border-radius: 0;
}

.main {
	opacity: 1;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 12;
	box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.06);

	background-color: white;

	// transition: all 0.3s ease-out;

	&.hasSidebar{
		margin-left: -400px;
		&:before {
			z-index: 15;
			content: "";
			background-color: white;
			opacity: 0.8;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@media screen and (max-width: 450px){
		padding-top: 69px;
	}
}

.content-wrapper {
	padding-bottom: 50px;
}

/* COMPONENTS */
@import "blocks/header";
@import "blocks/footer";
@import "blocks/signup";

/* BLOCKS */
@import "blocks/button";
@import "blocks/input";
@import "blocks/homeHero";
@import "blocks/fourColumnIconPlusTextGrid";
@import "blocks/logoBanner";
@import "blocks/testimonials";
@import "blocks/textPlusStackedImage";
@import "blocks/twoColumnCards";
@import "blocks/pageHero";
@import "blocks/moduleCards";
@import "blocks/pageIntro";
@import "blocks/pageBreak";
@import "blocks/threeColumnImagePlusTitleText";
@import "blocks/twoColumnGrid";
@import "blocks/infoCard";
@import "blocks/table";
@import "blocks/blockIntro";
@import "blocks/programmeIntro";
@import "blocks/trainingCourseCard";
@import "blocks/trainingCourse";
@import "blocks/callToAction";
@import "blocks/myAccount";
@import "blocks/authentication";
@import "blocks/gatedContent";
@import "blocks/iframeWrapper";
@import "blocks/trainingCourseCertificate";
@import "utilities/visual";



/* HELPERS */
.no-padding {
	padding: 0 0;
}

.no-padding-top{
	padding-top: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.pull-page-hero-top {
	margin-top: -414px;
}

.alert-success {
	background-color: $text-green;
	color: white;
	border: none;
}

.remove-footer-spacing + .footer {
	padding-top: 0;
}

@import "chatter";
@import "utilities/prose";
