<template>
    <a
            :class="className"
            @click.prevent="action.click"
            :href="url">
        <span v-if="!showLoader">{{ text }}</span>

        <pulse-loader size="10px" :loading="showLoader"/>
    </a>
</template>

<script>
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';

    export default {
        components: {
            PulseLoader
        },
        props: {
            action: {
                required: true,
                type: Object
            },
            showLoader: {
                required: true,
                type: Boolean
            },
            url: {
                required: false,
                type: String,
                default: '#'
            },
            className: {
                required: false,
                type: String,
                default: ''
            },
            text: {
                required: true,
                type: String
            }
        },
    }
</script>