<template>

    <a
            :class="className">{{ text }}</a>
</template>

<script>
    export default {
        props: {
            className: {
                required: false,
                type: String,
                default: ''
            },
            text: {
                required: true,
                type: String
            }
        },
    }
</script>