<template>
    <a
            @click.prevent="action.click"
            href="#"
            :class="`${className} flex justify-content-between align-items-center`">
            {{ text }} <moon-loader class="ml-2" size="20px" color="#E21919" :loading="showLoader"/>
    </a>
</template>

<script>
    import MoonLoader from 'vue-spinner/src/MoonLoader.vue';

    export default {
        components: {
            MoonLoader
        },
        props: {
            showLoader: {
                required: true,
                type: Boolean
            },
            action: {
                required: true,
                type: Object
            },
            className: {
                required: false,
                type: String,
                default: ''
            },
            text: {
                required: true,
                type: String
            }
        }
    }
</script>