<template>
    <div class="bg-lighter_gray content-wrapper">

        <div v-if="availableUserTrainingCourses.length === 0 && !fetchingAvailableUserTrainingCourses" class="border-dashed rounded-md border-2 border-blue w-full pt-32 pb-24 px-24 flex align-items-center bg-white">
            <div class="pt-4">
                <page-section-intro
                    description="You have either started or completed all of the training courses currently available on the MPROvE Academy platform, new courses will appear here as they become available."
                    title="Training Courses" />
            </div>
        </div>

        <div class="training-courses" v-if="availableUserTrainingCourses.length > 0">

                <page-section-intro
                        description="On successful completion of an MPROvE Academy course you will be provided with a certificate that can be downloaded in PDF format. courses"
                        title="Training courses" />

            <div class="grid lg:grid-cols-2 gap-5">
                <training-course-card
                        v-for="trainingCourse in this.availableUserTrainingCourses"
                        :key="trainingCourse.id"
                        :training-course="trainingCourse"
                />
            </div>
        </div>
    </div>
</template>

<script>

    import TrainingCourseCard from '@/components/TrainingCourses/TrainingCourseCards/TrainingCourseCard';
    import PageSectionIntro from '@/components/TrainingCourses/Components/PageSectionIntro';
    import PortalVue from 'portal-vue';
    import {mapActions, mapGetters} from 'vuex';
    import sweetalert from "@/services/shared/sweetalert";
    import GridLoader from 'vue-spinner/src/GridLoader.vue';

    Vue.use(PortalVue);

    export default {
        components: {
            TrainingCourseCard,
            PageSectionIntro,
            GridLoader
        },
        data: function() {
            return {
                trainingCourses: [],
            }
        },
        computed: {
            ...mapGetters('userTrainingCourse', ['availableUserTrainingCourses', 'fetchingAvailableUserTrainingCourses'])
        },
        methods: {
            ...mapActions('userTrainingCourse', ['getAvailableUserTrainingCourses'])
        },
        created() {
            this.getAvailableUserTrainingCourses()
                .catch(reject => (sweetalert.error('There was an error', reject.statusText)));
        },

        mounted() {

        }
    }
</script>
