<template>

    <div class="course-counter bg-white text-center py-5 px-10 rounded-md">
        <div class="course-counter__value text-blue text-4xl leading-8 font-avertaBold">
            {{ number }}
        </div>

        <div class="course-counter__label text-blue text-xl">
            {{ label }}
        </div>

    </div>
</template>

<script>

    export default {
        props: {
            number: {
                type: Number,
                required: true
            },
            label: {
                type: String,
                required: true
            }
        }
    }
</script>