<template>
    <div class="training-course-completed text-center max-w-xl px-6 text-center mx-auto pb-10">
        <div v-if="!showLoader">
            <div class="training-course-completed__icon-wrapper flex flex-column mb-2">
                <img :src="iconLink" alt="">
            </div>
            <h3 class="text-blue text-3xl font-avertaBlack tracking-tight mb-1 leading-10">{{ title }}</h3>

            <component
                :is="descriptionComponent"
                :description="description"
                :course-name="courseName"
                :score="score"
                :pass-rate="passRate"
            />

            <action-button
                    :action="action"
                    :show-loader="showSpinner"
                    :class-name="buttonClass"
                    :text="linkText"/>

            <a v-if="secondaryLinkText"
               :href="secondaryLinkUrl"
               class="flex align-items-center fading-link justify-content-center text-blue mb-5 font-avertaBold block mt-3">
                <img src="/img/arrow-thin-left-blue.svg" alt="" class="w-3 h-3">
                <span class="pl-2">{{secondaryLinkText}}</span>
            </a>
        </div>

        <training-course-completed-loader v-if="showLoader"/>
    </div>
</template>

<script>
    import ActionButton from '@/components/TrainingCourses/Components/ActionButton';
    import TrainingCourseCompletedLoader from "@/components/TrainingCourses/Components/ContentLoaders/TrainingCourseCompletedLoader";
    import DescriptionPlain from '@/components/TrainingCourses/Components/CourseCompleted/DescriptionPlain';
    import DescriptionPassed from '@/components/TrainingCourses/Components/CourseCompleted/DescriptionPassed';
    import DescriptionFailed from '@/components/TrainingCourses/Components/CourseCompleted/DescriptionFailed';

    export default {
        components: {
            ActionButton,
            TrainingCourseCompletedLoader,
            DescriptionPlain,
            DescriptionPassed,
            DescriptionFailed
        },
        props: {
            title: {
                required: false,
                type: String
            },
            description: {
                required: false,
                type: String
            },
            descriptionComponent: {
                required: true,
                type: String,
                validator: (value) => [
                    'DescriptionPlain', 'DescriptionPassed', 'DescriptionFailed'
                ].indexOf(value) !== -1
            },
            iconLink: {
                required: true,
                type: String
            },
            linkText: {
                required: true,
                type: String
            },
            showSpinner: {
                required: true,
                type: Boolean
            },
            courseName: {
                required: false,
                type: String,
                default: ''
            },
            score: {
                required: false,
                type: Number,
                default: 0
            },
            passRate: {
                required: false,
                type: Number,
                default: 100
            },
            action: {
                required: true,
                type: Object
            },
            buttonClass: {
                required: false,
                type: String,
                default: 'button w-40'
            },
            secondaryLinkText: {
                required: false,
                type: String
            },
            secondaryLinkUrl: {
                required: false,
                type: String
            },
            showLoader: {
                required: false,
                type: Boolean,
                default: false
            }
        }
    }
</script>
