<template>
    <div>
        <course-completed
                v-if="coursePassStatus === 'passed' && !fetchingUserTrainingCourse"
                :show-spinner="showPassedCourseButtonSpinner"
                :action="passedCourseAction"
                icon-link="/img/check-oval.svg"
                description-component="DescriptionPassed"
                :score="score"
                :course-name="trainingCourseName"
                title="Congratulations"
                link-text="Download Certificate"
                button-class="button button--solid-green w-full mb-3 xl:mb-0 xl:max-w-xs"
                secondary-link-text="Online Training Courses"
                secondary-link-url="/online-training-courses"
        />

        <course-completed
                v-if="coursePassStatus === 'failed' && !fetchingUserTrainingCourse"
                :show-spinner="showFailedCourseButtonSpinner"
                :action="failedCourseAction"
                icon-link="/img/unsuccessful.svg"
                description-component="DescriptionFailed"
                :course-name="trainingCourseName"
                :pass-rate="passRate"
                :score="score"
                title="You were unsuccessful"
                link-text="Try again"
                button-class="button w-full mb-3 xl:mb-0 xl:max-w-xs"
                secondary-link-text="Online Training Courses"
                secondary-link-url="/online-training-courses"
        />

        <course-completed
                v-if="fetchingUserTrainingCourse"
                :show-spinner="false"
                :show-loader="true"
                :action="{}"
                icon-link="/img/article.svg"
                description-component="DescriptionPlain"
                title=""
                description=" "
                link-text=" "
        />
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import CourseCompleted from '@/components/TrainingCourses/Components/CourseCompleted';
    import sweetalert from "@/services/shared/sweetalert";
    export default {
        components: {
            CourseCompleted
        },
        props: {
            trainingCourseId: {
                required: true,
                type: Number
            }
        },
        data() {
            return {
                trainingCourseName: '',
                passRate: 100,
                score: 0,
                coursePassed: false,
                courseFailed: false,
                showFailedCourseButtonSpinner: false,
                showPassedCourseButtonSpinner: false,
                passedCourseAction: {
                    click: () => this.triggerCertificateGeneration()
                },
                failedCourseAction: {
                    click: () => this.tryAgain()
                },
            }
        },
        computed: {
            ...mapGetters('userTrainingCourse', [
                'userTrainingCourse',
                'coursePassStatus',
                'fetchingUserTrainingCourse',
                'retryingUserTrainingCourse',
                'generatingCertificate',
                'downloadingCertificate'
            ])
        },

        created ()  {
            if(this.userTrainingCourse.hasOwnProperty('results')) {
                this.setTrainingCourseResultData()
            }

            if(!this.userTrainingCourse.hasOwnProperty('results')) {
                this.getUserTrainingCourse(this.userTrainingCourse.id)
                .then(resolve => (this.setTrainingCourseResultData()))
            }

        },
        methods: {
            ...mapActions('userTrainingCourse', [
                'getUserTrainingCourse',
                'retryTrainingCourse',
                'provideCoursePassStatus',
                'generateCertificate',
                'downloadCertificate'
            ]),

            triggerCertificateGeneration() {
                this.showPassedCourseButtonSpinner = true;
                if(!this.generatingCertificate) {
                    this.generateCertificate(this.trainingCourseId)
                        .then(response => (this.fetchCertificate()))
                        .catch(reject => {
                            if(reject.status !== 302) {
                                this.showPassedCourseButtonSpinner = false;
                                sweetalert.error('There was an error', reject.statusText)
                            }

                            if(reject.status === 302) {
                                this.showPassedCourseButtonSpinner = false;
                                this.fetchCertificate();
                            }
                        });
                }
            },
            fetchCertificate() {
                if(!this.downloadingCertificate) {
                    this.downloadCertificate(this.trainingCourseId)
                        .then(response => {
                            window.location = response
                            this.showPassedCourseButtonSpinner = false;
                        })
                        .catch(reject => {
                            sweetalert.error('There was an error', reject.statusText)
                            this.showPassedCourseButtonSpinner = false;
                        });
                }
            },
            tryAgain() {
                this.showFailedCourseButtonSpinner = true;
                if(!this.retryingUserTrainingCourse) {
                    this.retryTrainingCourse(this.trainingCourseId)
                        .then(resolve => (window.location.reload()))
                        .catch(reject => (sweetalert.error('There was an error', reject.statusText)));
                }
            },

            setTrainingCourseResultData() {
                this.provideCoursePassStatus(this.userTrainingCourse.results.passed ? 'passed' : 'failed');
                this.score = this.userTrainingCourse.results.score;
                this.passRate = this.userTrainingCourse.pass_rate;
            }
        }
    }
</script>