<template>
	<div class="homeHero pt-24 pb-16 px-12 text-white mb-20">
		<div class="constrain flex align-items-end mb-6 flex-wrap  justify-content-around md:justify-content-between">
		<banner-loader v-if="showLoader" />
			<div
					v-if="!showLoader"
					class="hero-banner__main md:w-4/5 lg:m-4/5 mb-16 md:mb-0 md:mr-8 pr-10">


				<a v-if="back.to" :href="back.to" class="pageHero__back">
					<img src="/img/arrow-thin-left-white.svg" alt="" class="w-3 h-3">
					<span>{{ back.label }}</span>
				</a>

				<h1 class="pageHero__heading">{{title}}</h1>
				<p class="pageHero__text">{{description}}</p>
			</div>

			<div
					v-if="!showLoader"
					class="hero-banner__aside md:ml-auto">
				<portal-target name="counter-card"/>
			</div>
		</div>
	</div>
</template>

<script>

	import PortalVue from 'portal-vue';
	import BannerLoader from "@/components/TrainingCourses/Components/ContentLoaders/BannerLoader";
	import {mapGetters} from "vuex";
	Vue.use(PortalVue);

	export default {
		components: {
			BannerLoader
		},
		props: {
			back: {
				type: Object,
				required: false,
				default: () => {}
			},
			title: {
				type: String,
				required: true
			},
			description: {
				type: String,
				required: true
			},
			showLoader: {
				required: false,
				type: Boolean,
				default: false
			}
		}
	}
</script>