<template>
    <div class="page-section__intro px-12 pb-12 pt-2">
        <h2 class="page-section__title text-blue text-center text-4xl font-avertaBlack mb-6">
            {{ title }}
        </h2>

        <div class="page-section__description text-center text-xl leading-7 max-w-screen-lg px-16 mx-auto">
            {{ description }}
        </div>

    </div>
</template>

<script>

    export default {
        props: {
            title: {
                type: String,
                required: true
            },
            description: {
                type: String,
                required: true
            }
        }
    }
</script>