<template>
    <div class="training-course-card__progress-bar mb-2 pb-1">
        <div class="training-course-card__text-wrapper flex justify-content-between">
            <h4 class="mb-1 text-blue font-avertaBold mr-4 leading-7">{{ title }}</h4>
            <h4 class="text-blue font-avertaBold leading-7" v-html="computedSecondaryText"></h4>
        </div>
        <div class="w-full h-2 bg-lighter_gray rounded">
            <div class="bg-blue h-full rounded" :style="computedProgress"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                required: true
            },
            progressPercentage: {
              type: Number,
              required: true
            },
            secondaryText: {
                type: Object,
                required: true
            }
        },
        computed: {
            computedProgress() {
                return `width: ${this.progressPercentage}%`
            },
            computedSecondaryText() {
                let link = this.secondaryText.text;

                if(this.secondaryText.type === 'link') {
                    let icon = this.secondaryText.iconLink ? `<img class='ml-2 w-3' src=' ${this.secondaryText.iconLink}'/>` : '';
                    link = `<a href='${this.secondaryText.href}' class='flex align-items-center fading-link text-${this.secondaryText.color}'>${this.secondaryText.text + icon}</a>`;
                }
                return link;
            }
        }
    }
</script>