<template>
    <div>
        <training-course-answered-question
                :training-course-id="0"
                :training-course-question="{}"
                :question-progress-percentage="0"
                :question-number="0"
                :total-number-of-questions="0"
                :show-loader="true"/>

        <training-course-answered-question
                :training-course-id="0"
                :training-course-question="{}"
                :question-progress-percentage="0"
                :question-number="0"
                :total-number-of-questions="0"
                :show-loader="true"/>

        <training-course-answered-question
                :training-course-id="0"
                :training-course-question="{}"
                :question-progress-percentage="0"
                :question-number="0"
                :total-number-of-questions="0"
                :show-loader="true"/>
    </div>
</template>

<script>
    import TrainingCourseAnsweredQuestion from "@/components/TrainingCourses/Components/TrainingCourseQuestion/TrainingCourseAnsweredQuestion";
    export default {
        components: {
            TrainingCourseAnsweredQuestion
        }
    }
</script>