<template>
    <content-loader
            :height="95"
            :width="1100"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
    >

        <!-- title-->
        <rect x="0" y="0" rx="0" ry="0" width="259" height="26" />

        <!-- question -->
        <rect x="917" y="15" rx="0" ry="0" width="69" height="13" />

        <!-- question number -->
        <rect x="1059" y="15" rx="0" ry="0" width="41" height="15" />

        <!-- progress bar-->
        <rect x="917" y="40" rx="0" ry="0" width="183" height="8" />

        <!-- answer -->
        <rect x="0" y="63" rx="0" ry="0" width="172" height="12" />

    </content-loader>
</template>

<script>
    import { ContentLoader } from "vue-content-loader"

    export default {
        components: {
            ContentLoader
        }
    }
</script>