<template>
    <content-loader
            :height="140"
            :width="1180"
            :speed="2"
            primaryColor="#2fadb2"
            secondaryColor="#24868b"
    >
        <rect x="141" y="82.83" rx="0" ry="0" width="0" height="0" />
        <rect x="2" y="3.83" rx="0" ry="0" width="198" height="17" />
        <rect x="2" y="50.83" rx="0" ry="0" width="393" height="34" />
        <rect x="3" y="111.83" rx="0" ry="0" width="427" height="21" />
        <rect x="1036" y="30.83" rx="0" ry="0" width="141" height="103" />
    </content-loader>
</template>
<script>
    import { ContentLoader } from "vue-content-loader"

    export default {
        components: {
            ContentLoader
        }
    }
</script>