<template>
    <content-loader
            :height="170"
            :width="1180"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
    >
        <rect x="89" y="111" rx="4" ry="4" width="NaN" height="6.4" />
        <rect x="272.4" y="16.83" rx="0" ry="0" width="633" height="38" />
        <rect x="140.4" y="88.83" rx="0" ry="0" width="896" height="9.13" />
        <rect x="367.6" y="118.83" rx="0" ry="0" width="448" height="9.02" />
    </content-loader>
</template>

<script>
    import { ContentLoader } from "vue-content-loader"

    export default {
        components: {
            ContentLoader
        }
    }
</script>