<template>
    <content-loader
            :height="250"
            :width="880"
            :speed="0"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
    >
        <circle cx="22.71" cy="38.01" r="20.31" />
        <rect x="89" y="111" rx="4" ry="4" width="NaN" height="6.4" />
        <rect x="68.4" y="93" rx="4" ry="4" width="750" height="6.4" />
        <rect x="69.4" y="36" rx="4" ry="4" width="750" height="6.4" />
        <circle cx="21.71" cy="95.01" r="20.31" />
        <circle cx="21.71" cy="151.01" r="20.31" />
        <circle cx="22.71" cy="208.01" r="20.31" />
        <rect x="68.4" y="148" rx="4" ry="4" width="750" height="6.4" />
        <rect x="69.4" y="205" rx="4" ry="4" width="750" height="6.4" />
    </content-loader>
</template>

<script>
    import { ContentLoader } from "vue-content-loader"

    export default {
        components: {
            ContentLoader
        }
    }
</script>