<template>
    <content-loader
            :height="372"
            :width="1120"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
    >
        <rect x="937.15" y="24.87" rx="4" ry="4" width="180" height="6.4" />
        <rect x="1.85" y="-0.22" rx="3" ry="3" width="342.18" height="29.46" />
        <circle cx="22.18" cy="81" r="20.31" />
        <rect x="937.15" y="0.78" rx="4" ry="4" width="180" height="11.97" />
        <rect x="89" y="111" rx="4" ry="4" width="NaN" height="6.4" />
        <rect x="68.1" y="136.26" rx="4" ry="4" width="750" height="6.4" />
        <rect x="70.11" y="80.06" rx="4" ry="4" width="750" height="6.4" />
        <circle cx="22.17" cy="137.21" r="20.31" />
        <circle cx="22.17" cy="194.41" r="20.31" />
        <circle cx="21.18" cy="251.61" r="20.31" />
        <rect x="69.1" y="192.46" rx="4" ry="4" width="750" height="6.4" />
        <rect x="69.11" y="248.66" rx="4" ry="4" width="750" height="6.4" />
        <rect x="936.15" y="323.67" rx="0" ry="0" width="181" height="45" />
        <rect x="0" y="351.83" rx="0" ry="0" width="159" height="11" />
    </content-loader>
</template>
<script>
    import { ContentLoader } from "vue-content-loader"

    export default {
        components: {
            ContentLoader
        }
    }
</script>
