<template>
    <div>
        <div class="training-courses">
            <intro-loader />

            <div class="grid grid-cols-2 gap-5">
                <training-course-card
                        :training-course="{}"
                        :show-loader="true"
                />
                <training-course-card
                        :training-course="{}"
                        :show-loader="true"
                />
                <training-course-card
                        :training-course="{}"
                        :show-loader="true"
                />
                <training-course-card
                        :training-course="{}"
                        :show-loader="true"
                />
            </div>
        </div>
    </div>
</template>

<script>

    import TrainingCourseCard from '@/components/TrainingCourses/TrainingCourseCards/TrainingCourseCard';
    import IntroLoader from '@/components/TrainingCourses/Components/ContentLoaders/IntroLoader';
    export default {
        components: {
            TrainingCourseCard,
            IntroLoader
        }
    }
</script>



