<template>
    <content-loader
            :height="311"
            :width="528"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
    >
        <rect x="236.32" y="2.05" rx="0" ry="0" width="54" height="83" />
        <rect x="36.32" y="99.05" rx="0" ry="0" width="455" height="31" />
        <rect x="4.32" y="143.05" rx="0" ry="0" width="518" height="21" />
        <rect x="6.32" y="174.05" rx="0" ry="0" width="512" height="19" />
        <rect x="61.32" y="204.7" rx="0" ry="0" width="404" height="19" />
        <rect x="182.32" y="263.7" rx="0" ry="0" width="162" height="47" />
    </content-loader>
</template>

<script>
    import { ContentLoader } from "vue-content-loader"

    export default {
        components: {
            ContentLoader
        }
    }
</script>