<template>
    <content-loader
            :height="90"
            :width="1100"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
    >
        <rect x="405" y="229.83" rx="0" ry="0" width="0" height="0" />
        <rect x="4" y="1.83" rx="0" ry="0" width="194" height="24" />
        <rect x="3" y="49.83" rx="0" ry="0" width="1036" height="16" />
        <rect x="2" y="75.83" rx="0" ry="0" width="454" height="12" />
        <rect x="1012" y="12.83" rx="0" ry="0" width="91" height="14" />
        <rect x="39" y="282.83" rx="0" ry="0" width="1099" height="0" />
    </content-loader>
</template>
<script>
    import { ContentLoader } from "vue-content-loader";

    export default {
        components: {
            ContentLoader
        }
    }
</script>