<template>
    <div>

        <training-course-material
                should-show-as="hidden"
                :section-number="0"
                :total-number-of-sections="0"
                :training-course-material="{}"
                :last-material-action="{}"
                :show-loader="true"/>

        <training-course-material
                should-show-as="hidden"
                :section-number="0"
                :total-number-of-sections="0"
                :training-course-material="{}"
                :last-material-action="{}"
                :show-loader="true"/>

        <training-course-material
                should-show-as="hidden"
                :section-number="0"
                :total-number-of-sections="0"
                :training-course-material="{}"
                :last-material-action="{}"
                :show-loader="true"/>
    </div>
</template>

<script>
    import TrainingCourseMaterial from '@/components/TrainingCourses/TrainingCourseMaterials/TrainingCourseMaterial';

    export default {
        components: {
            TrainingCourseMaterial
        }
    }
</script>