<template>
    <content-loader
            :height="262"
            :width="500"
            :speed="2"
            primaryColor="#f3f3f3"
            secondaryColor="#ecebeb"
    >
        <!-- title -->
        <rect x="0" y="0" rx="0" ry="0" width="361" height="24" />
        <!-- subtitle -->
        <rect x="0" y="43" rx="0" ry="0" width="121" height="13" />
        <!--materials title -->
        <rect x="0" y="100" rx="0" ry="0" width="387" height="15" />
        <!-- materials number -->
        <rect x="461" y="100" rx="0" ry="0" width="41" height="18" />
        <!-- material progress bar-->
        <rect x="0" y="125" rx="0" ry="0" width="500" height="9" />
        <!-- questions title-->
        <rect x="0" y="154" rx="0" ry="0" width="76" height="12" />
        <!-- questions number -->
        <rect x="461" y="154" rx="0" ry="0" width="46" height="17" />
        <!-- questions progress bar-->
        <rect x="0" y="178" rx="0" ry="0" width="500" height="9" />
        <!-- continue button -->
        <rect x="0" y="215" rx="0" ry="0" width="145" height="45" />

    </content-loader>
</template>

<script>
    import { ContentLoader } from "vue-content-loader"

    export default {
        components: {
            ContentLoader
        }
    }
</script>