<template>
    <div class="training-course-card__progress-bar-wrapper pb-4">
        <progress-bar
                title="Course Material"
                :progress-percentage="computedMaterialProgress"
                :secondary-text="computedMaterialSecondaryText"/>

        <progress-bar
                title="Questions"
                :progress-percentage="computedQuestionProgress"
                :secondary-text="computedQuestionSecondaryText"/>
    </div>
</template>

<script>
    import ProgressBar from "@/components/TrainingCourses/Components/ProgressBar";

    export default {
        components: {
            ProgressBar
        },
        props: {
            trainingCourse: {
                required: true,
                type: Object
            },
            trainingCourseStatus: {
                required: true,
                type: String
            }
        },
        computed: {

            computedNumberOfCompletedMaterials() {
                return this.trainingCourseStatus !== 'new' ? (this.trainingCourse.seen ? this.trainingCourse.seen.materials.length : 0) : 0;
            },
            computedNumberOfAnsweredQuestions() {
                return this.trainingCourseStatus !== 'new' ? (this.trainingCourse.questions ? this.trainingCourse.questions.answered.length : 0): 0;
            },
            computedMaterialProgress() {
                return 100 / this.trainingCourse.count.materials * this.computedNumberOfCompletedMaterials;
            },
            computedQuestionProgress() {
                return 100 / this.trainingCourse.count.questions * this.computedNumberOfAnsweredQuestions;
            },
            computedMaterialSecondaryText() {

                if(this.trainingCourseStatus === 'completed' && this.trainingCourse.results.passed != 1) {
                    return {
                        text: ''
                    };
                }

                let textForCompletedMaterials = {
                    'type': 'link',
                    'href': `/online-training-courses/${this.trainingCourse.id}`,
                    'color': 'green',
                    'text': 'Read Again',
                    'iconLink': '/img/arrow-thin-right.svg'
                };

                let textForIncompleteMaterials = {
                    'text': `${this.computedNumberOfCompletedMaterials} / ${this.trainingCourse.count.materials}`
                }

                let seenAllMaterials = this.computedNumberOfCompletedMaterials === this.trainingCourse.count.materials;

                return seenAllMaterials ? textForCompletedMaterials : textForIncompleteMaterials;
            },
            computedQuestionSecondaryText() {

                if(this.trainingCourseStatus === 'completed' && !this.trainingCourse.results.passed) {
                    return {
                        text: ''
                    };
                }

                let textForCompletedQuestions = {
                    'type': 'link',
                    'href': `/online-training-courses/${this.trainingCourse.id}/answers`,
                    'color': 'green',
                    'text': 'See Your Answers',
                    'iconLink': '/img/arrow-thin-right.svg'
                };

                let textForIncompleteQuestions = {
                    'text': `${this.computedNumberOfAnsweredQuestions} / ${this.trainingCourse.count.questions}`
                }

                let answeredAllQuestions = this.computedNumberOfAnsweredQuestions === this.trainingCourse.count.questions;

                return answeredAllQuestions ? textForCompletedQuestions : textForIncompleteQuestions;
            }
        }
    }
</script>