<template>
    <div :class='`training-course-card__action-wrapper mt-auto ${actionsShouldFlex} ${actionThemeClass}`'>
        <div
                class="training-course-card__score-indicator text-white text-center flex flex-column py-1 px-2 rounded w-full mb-3 xl:w-auto xl:mr-2 xl:mb-0"
                v-if="this.trainingCourseStatus === 'completed'">

            <span class="training-course-card__score-label text-uppercase font-avertaBold leading-4">Score</span>
            <span class="training-course-card__score-value leading-5">
                {{ this.trainingCourse.results.score }}%
            </span>
        </div>

        <action-button
                v-if="!courseMainActionProperties.disabled"
                :action="loginWallButtonAction"
                :show-loader="showMainActionLoader"
                :class-name="`${actionButtonClass} button w-full mb-3 xl:mb-0  xl:w-auto`"
                :text="courseMainActionProperties.text"/>

        <action-button-disabled
                v-if="courseMainActionProperties.disabled"
                class-name="button w-full mb-3 xl:w-auto xl:mb-0"
                :text="courseMainActionProperties.text"/>

        <action-button-secondary
                v-if="trainingCourseStatus === 'started'"
                :action="restartButtonAction"
                :show-loader="showRestartActionLoader"
                class-name="text-red fading-link ml-auto w-full text-center xl:w-auto xl:text-left"
                text="Restart"/>

        <div
                class="training-course-card__success-indicator ml-auto text-uppercase flex flex-column w-full xl:w-auto"
                v-if="this.trainingCourseStatus === 'completed'">
                <div class="training-course-card__success-indicator__icon flex mx-auto mb-1">
                    <img :src="trainingCourseSuccessIndicatorIconPath" alt="">
                </div>
                <span class="training-course-card__success-indicator__label text-center">
                    {{ this.trainingCourse.results.passed ? 'Passed' : 'Failed'}}
                </span>
        </div>
    </div>
</template>

<script>
    import ActionButton from "@/components/TrainingCourses/Components/ActionButton";
    import ActionButtonDisabled from "@/components/TrainingCourses/Components/ActionButtonDisabled";
    import ActionButtonSecondary from "@/components/TrainingCourses/Components/ActionButtonSecondary";
    import sweetalert from "@/services/shared/sweetalert";
    import {mapActions, mapGetters} from "vuex";

    export default {
        components: {
            ActionButton,
            ActionButtonDisabled,
            ActionButtonSecondary,
        },
        props: {
            trainingCourse: {
                required: true,
                type: Object
            },
            trainingCourseStatus: {
                required: true,
                type: String
            }
        },
        data() {
            return {
                loginWallButtonAction: {
                    click: () => this.loginWallButtonClick()
                },

                showMainActionLoader: false,

                restartButtonAction: {
                    click: () => this.restartButtonClick()
                },

                showRestartActionLoader: false,

            }
        },
        computed: {
            ...mapGetters('userTrainingCourse', [
                'retryingUserTrainingCourse',
                'downloadingCertificate',
                'generatingCertificate'
            ]),

            courseMainActionProperties() {
                let linkProperties = {
                    disabled: false,
                    action: null
                };

                if(this.trainingCourseStatus === 'new') {
                    linkProperties.link = `/online-training-courses/${this.trainingCourse.id}`;
                    linkProperties.text = 'Start'
                }

                if(this.trainingCourseStatus === 'started') {
                    linkProperties.link= `/online-training-courses/${this.trainingCourse.id}`;
                    linkProperties.text= 'Continue';
                }

                if(this.trainingCourseStatus === 'completed') {
                    linkProperties.action = 'triggerCertificateGeneration';
                    linkProperties.text = 'Download certificate';

                    if(!this.trainingCourse.results.passed) {
                        linkProperties.action = 'triggerRestart';
                        linkProperties.text = 'Try again';
                    }
                }

                if(this.trainingCourse.draft === 1) {
                    linkProperties.disabled = true;
                }

                return linkProperties;
            },

            actionThemeClass() {
                let theme = 'standard';

                if(this.trainingCourseStatus === 'completed') {
                    theme = 'success';

                    if(!this.trainingCourse.results.passed) {
                        theme = 'fail';
                    }
                }

                return theme;
            },

            actionButtonClass() {
                let theme = 'button';

                if(this.trainingCourseStatus === 'completed') {
                    theme = 'button--solid-green';

                    if(!this.trainingCourse.results.passed) {
                        theme = 'button--solid-red';
                    }
                }

                return theme;
            },

            actionsShouldFlex() {
                return this.trainingCourseStatus !== 'new' ? 'align-items-center flex flex-wrap' : '';
            },

            trainingCourseSuccessIndicatorIconPath() {
                let icon = this.trainingCourse.results.passed ? "tick.svg" :"cross-white.svg";
                return `/img/${icon}`;
            }
        },
        methods: {
            ...mapActions('userTrainingCourse', [
                'retryTrainingCourse',
                'generateCertificate',
                'downloadCertificate'
            ]),

            loginWallButtonClick() {
                this.showMainActionLoader = true;

                if (!this.$root.user) {
                    Bus.$emit('showAuthModalEvent');
                }

                if(this.$root.user) {
                    if (!this.courseMainActionProperties.action) {
                        return window.location.href = this.courseMainActionProperties.link;
                    }

                    this[this.courseMainActionProperties.action]();
                }
            },

            restartButtonClick() {
                this.showRestartActionLoader = true;
                this.triggerRestart();
            },

            triggerRestart() {
                if(!this.retryingUserTrainingCourse) {
                    this.retryTrainingCourse(this.trainingCourse.id)
                        .then(response => (window.location.href=`/online-training-courses/${this.trainingCourse.id}`))
                        .catch(reject => (sweetalert.error('There was an error', reject.statusText)));
                }
            },

            triggerCertificateGeneration() {

                if(!this.generatingCertificate) {
                    this.generateCertificate(this.trainingCourse.id)
                    .then(response => (this.fetchCertificate()))
                    .catch(reject => {
                        if(reject.status !== 302) {
                            this.showMainActionLoader = false;
                            sweetalert.error('There was an error', reject.statusText)
                        }

                        if(reject.status === 302) {
                            this.showMainActionLoader = false;
                            this.fetchCertificate();
                        }
                    });
                }
            },
            fetchCertificate() {
                if(!this.downloadingCertificate) {
                    this.downloadCertificate(this.trainingCourse.id)
                    .then(response => {
                        window.location = response
                        this.showMainActionLoader = false;
                    })
                    .catch(reject => {
                        sweetalert.error('There was an error', reject.statusText)
                        this.showMainActionLoader = false;
                    });
                }
            }
        }
    }
</script>