<template>
    <div>
        <h3 class="text-blue text-3xl font-avertaExtraBold mb-3 leading-7">{{ trainingCourse.name }}</h3>
        <p class="text-lg mb-4 leading-6">{{ trainingCourse.description }}</p>

        <hr class="mb-4">
    </div>
</template>

<script>

    export default {
        components: {
        },
        props: {
            trainingCourse: {
                required: true,
                type: Object
            }
        }
    }
</script>