<template>
    <div :id="`training-course-material-${trainingCourseMaterial.id}`" class="block-highlighted p-10 pt-8 bg-white mb-5">
        <div
                class="flex flex-wrap"
                v-if="collapsedVisibility && !showLoader">
            <div class="training-course-material__content w-full">
                <div class="training-course-material__collapsed-title-wrapper flex align-items-center flex-wrap">
                    <h3 class="text-blue text-3xl font-avertaBlack mb-3 tracking-tight leading-10 w-full md:w-3/4">{{ trainingCourseMaterial.title }}</h3>
                    <a
                            href='#'
                            @click.prevent="readMaterialAgain()"
                            class='text-green fading-link w-full md:w-1/4 text-center md:text-right font-avertaBold mb-3 md:mb-0'>
                        Read Again
                    </a>
                </div>
                <p class="text-lg leading-6">{{ trainingCourseMaterial.summary }}</p>
            </div>
        </div>

        <div
                class="flex flex-wrap"
                v-if="hiddenVisibility && !showLoader">
            <div class="training-course-material__content w-full opacity-50">
                <div class="training-course-material__collapsed-title-wrapper flex align-items-center">
                    <h3 class="text-blue text-3xl font-avertaExtraBold mb-3 leading-10 w-75">{{ trainingCourseMaterial.title }}</h3>
                </div>
                <p class="text-lg leading-6">{{ trainingCourseMaterial.summary }}</p>
            </div>
        </div>

        <div
                class="flex flex-wrap"
                v-if="revealedVisibility && !showLoader">

            <div class="training-course-material__content sm:w-full md:w-4/5 mb-3 md:mb-0">

                <h3 class="text-blue text-3xl font-avertaExtraBold mb-3 leading-10">{{ trainingCourseMaterial.title }}</h3>
                <p class="text-lg mb-4 leading-6">{{ trainingCourseMaterial.summary }}</p>

                <div class="mb-4 leading-6 mb-12 pb-2 prose-lg">
                    <vue-markdown :source="trainingCourseMaterial.content"></vue-markdown>
                </div>

                <a
                        v-if="shouldShowPreviousAction"
                        href='#'
                        @click.prevent="showPreviousMaterial()"
                        class='text-green fading-link w-full text-left font-avertaBold flex align-items-center mb-2'>
                    <img src="/img/arrow-thin-left.svg" alt="" class="w-3 h-3"> <span class="pl-2">Previous Section</span>
                </a>
            </div>

            <div class="training-course-material__sidebar w-full md:w-1/5 flex md:pl-10 flex-column">
                <div class="mb-6">
                    <progress-bar
                            title="Section"
                            :progress-percentage="materialSectionPercentage"
                            :secondary-text="{'text': `${sectionNumber} / ${totalNumberOfSections}`}"/>
                </div>
                <h4
                        v-if="trainingCourseMaterial.references.length > 0"
                        class="mb-2 text-blue font-avertaBold mr-4 leading-7">
                    References
                </h4>

                <material-reference
                        v-for="materialReference in trainingCourseMaterial.references"
                        :key="materialReference.id"
                        :material-reference="materialReference"
                />

                <action-button
                        v-if="shouldShowNextAction"
                        :action="nextMaterialButtonAction"
                        :show-loader="settingTrainingCourseMaterialAsSeen"
                        class-name="button w-full mb-3 xl:mb-0 xl:w-auto mt-auto"
                        text="Next"/>

            </div>
        </div>

        <training-course-material-loader v-if="showLoader"/>

    </div>

</template>

<script>

    import PortalVue from 'portal-vue';
    import VueMarkdown from 'vue-markdown';

    import ProgressBar from "@/components/TrainingCourses/Components/ProgressBar";
    import ActionButton from "@/components/TrainingCourses/Components/ActionButton";
    import MaterialReference from "@/components/TrainingCourses/Components/TrainingCourseMaterial/TrainingCourseMaterialReference";
    import {mapActions, mapGetters} from "vuex";
    import VueScrollTo from "vue-scrollto";
    import sweetalert from "@/services/shared/sweetalert";
    import TrainingCourseMaterialLoader from "@/components/TrainingCourses/Components/ContentLoaders/TrainingCourseMaterialLoader";

    Vue.use(PortalVue);

    export default {
        components: {
            ProgressBar,
            ActionButton,
            MaterialReference,
            TrainingCourseMaterialLoader,
            VueMarkdown
        },
        props: {
            trainingCourseMaterial: {
                required: true,
                type: Object
            },
            shouldShowAs: {
                required: true,
                type: String
            },
            sectionNumber: {
                required: true,
                type: Number
            },
            totalNumberOfSections: {
                required: true,
                type: Number
            },
            lastMaterialAction: {
                required: true,
                type: Object
            },
            showLoader: {
                required: false,
                type: Boolean,
                default: false,
            }
        },

        data() {
            return {
                nextMaterialButtonAction: {
                    click: () => this.getNextMaterial()
                }
            }
        },

        computed: {
            ...mapGetters('userTrainingCourse', [
                'userTrainingCourse',
                'userTrainingCourseMaterials'
            ]),
            ...mapGetters('userTrainingCourseMaterial', [
                'settingTrainingCourseMaterialAsSeen',
                'revealedTrainingCourseMaterial',
                "collapsedTrainingCourseMaterials",
                "hiddenTrainingCourseMaterials",
                'availableTrainingCourseMaterials',
                'settingTrainingCourseMaterialAsSeen'
            ]),

            materialSectionPercentage() {
                return 100 / this.totalNumberOfSections * this.sectionNumber;
            },
            revealedVisibility() {
                return this.revealedTrainingCourseMaterial === this.trainingCourseMaterial.id;
            },
            collapsedVisibility() {
                return this.collapsedTrainingCourseMaterials.includes(this.trainingCourseMaterial.id);
            },
            hiddenVisibility() {
                return this.hiddenTrainingCourseMaterials.includes(this.trainingCourseMaterial.id);
            },
            shouldShowNextAction() {
                return this.sectionNumber !== this.totalNumberOfSections;
            },
            shouldShowPreviousAction() {
                return this.sectionNumber !== 1;
            }
        },
        watch: {
            revealedTrainingCourseMaterial(newVal, oldVal) {
                if(this.trainingCourseMaterial.id === newVal) {
                    VueScrollTo.scrollTo(`#training-course-material-${newVal}`, 800);
                }
            }
        },
        created() {
            if(!this.showLoader) {
                if(this.shouldShowAs === "unread") {
                    this.hideTrainingCourseMaterial(this.trainingCourseMaterial.id)
                }

                if(this.shouldShowAs === "expanded") {
                    this.revealTrainingCourseMaterial(this.trainingCourseMaterial.id)
                    this.makeTrainingCourseMaterialAvailable(this.trainingCourseMaterial.id);
                }

                if(this.shouldShowAs === "collapsed") {
                    this.collapseTrainingCourseMaterial(this.trainingCourseMaterial.id)
                    this.makeTrainingCourseMaterialAvailable(this.trainingCourseMaterial.id);
                }
            }
        },

        methods: {
            ...mapActions('userTrainingCourseMaterial', [
                'markTrainingCourseMaterialAsSeen',
                'revealTrainingCourseMaterial',
                'collapseTrainingCourseMaterial',
                'collapseTrainingCourseMaterials',
                'hideTrainingCourseMaterial',
                'purgeRevealedTrainingCourseMaterials',
                'purgeCollapsedTrainingCourseMaterials',
                'purgeHiddenTrainingCourseMaterials',
                'makeTrainingCourseMaterialAvailable'
            ]),
            getNextMaterial() {
                if(!this.settingTrainingCourseMaterialAsSeen) {
                    let index = this.userTrainingCourseMaterials.indexOf(this.trainingCourseMaterial);

                    if(index >= 0 && index < this.userTrainingCourseMaterials.length - 1) {
                        var nextItem = this.userTrainingCourseMaterials[index + 1]
                    }

                    if(!this.availableTrainingCourseMaterials.includes(nextItem.id)) {

                        this.makeTrainingCourseMaterialAvailable(nextItem.id);

                        this.markTrainingCourseMaterialAsSeen([this.userTrainingCourse.id, this.trainingCourseMaterial.id])
                            .then(resolve => (this.actOnResolvedRequest(nextItem)))
                            .catch(reject => (this.actOnRejectedRequest(reject, nextItem.id)));
                    }

                    if(this.availableTrainingCourseMaterials.includes(nextItem.id)) {
                        this.actOnResolvedRequest(nextItem);
                    }
                }
            },
            actOnResolvedRequest(nextItem) {
                this.lastMaterialAction.action();
                this.showMaterialAndCollapseMaterialsExcept(nextItem.id);
            },
            actOnRejectedRequest(reject, nextItemId) {
                if(reject.status !== 302) {
                    sweetalert.error('There was an error', reject.statusText)
                }

                if(reject.status === 302) {
                    this.collapseMaterialsExcept(nextItemId);
                }
            },
            showPreviousMaterial() {
                let previousTrainingCourseMaterial = this.userTrainingCourseMaterials[this.userTrainingCourseMaterials.indexOf(this.trainingCourseMaterial) - 1];
                this.collapseMaterialsExcept(previousTrainingCourseMaterial.id);
            },
            readMaterialAgain() {
                this.collapseMaterialsExcept(this.trainingCourseMaterial.id);
            },
            collapseMaterialsExcept(trainingCourseMaterialId) {
                let materialsToBeCollapsed = this.availableTrainingCourseMaterials.filter(trainingCourseMaterial => trainingCourseMaterial !== trainingCourseMaterialId);
                this.purgeRevealedTrainingCourseMaterials();
                this.purgeCollapsedTrainingCourseMaterials();
                this.revealTrainingCourseMaterial(trainingCourseMaterialId);
                this.collapseTrainingCourseMaterials(materialsToBeCollapsed);
            },
            showMaterialAndCollapseMaterialsExcept(trainingCourseMaterialId) {
                this.collapseMaterialsExcept(trainingCourseMaterialId);

                let materialsToBeHidden = this.hiddenTrainingCourseMaterials.filter(trainingCourseMaterial => trainingCourseMaterial !== trainingCourseMaterialId);
                this.purgeHiddenTrainingCourseMaterials();

                for (let materialToBeHidden of materialsToBeHidden) {
                    this.hideTrainingCourseMaterial(materialToBeHidden);
                }
            }
        }
    }
</script>
