.authentication {
	display: block;
	text-align: center;
	.registerModal__column-signIn {
		padding: 80px 0 30px;
		width: 100%;
		max-width: 600px;
		form {
			display: block;
		}
	}
	.button {
		display: block;
	}
}

.authentication__submit {
	margin-top: 40px;
}