.blockIntro {
	display: block;
	padding: 50px 0;
}

.blockIntro__heading {
	font-family: $font-averta-black;
	@include font-size(28);
	color: $blue;
	letter-spacing: 0;
	display: block;
	text-align: center;
}

.blockIntro__intro {
	display: block;
	text-align: center;
	@include font-size(20);
	color: $text-gray;
	letter-spacing: 0;
	line-height: 29px;
	margin-top: 12px;
}