.button {
	display: inline-block;
	background-color: transparent;
	@include font-size(16);
	color: $blue;
	letter-spacing: 1.88px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	@include transition();
	border: 2px solid $blue;
	border-radius: 5px;
	padding: 12px 20px 13px;
	text-align: center;
	outline: none;
	svg {
		display: inline-block;
	}
	.fill {
		fill: $text-green;
		@include transition();
	}

	.v-spinner .v-pulse {
		background-color: $blue !important;
	}

	&:hover {
		text-decoration: none;
		background-color: $blue;
		color: white;
		.fill {
			fill: white;
		}

		.v-spinner .v-pulse {
			background-color: $white !important;
		}
	}
}

.button--solid {
	background-color: $blue;
	color: white;
	.fill {
		fill: white;
	}

	&:hover {
		background-color: white;
		color: $blue;
		border-color: $blue;
		.fill {
			fill: $blue;
		}
	}
}

.button--solid-green {
	background-color: $text-green;
	color: white;
	border-color: $text-green;

	.v-spinner .v-pulse {
		background-color: $white !important;
	}

	.fill {
		fill: white;
	}
	&:hover {
		background-color: white;
		color: $text-green;
		.fill {
			fill: $text-green;
		}

		.v-spinner .v-pulse {
			background-color: $text-green !important;
		}
	}
}

.button--solid-red {
	background-color: white;
	color: $red-fail;
	border-color: $red-fail;

	.v-spinner .v-pulse {
		background-color: $red-fail !important;
	}

	.fill {
		fill: white;
	}
	&:hover {
		background-color: $red-fail;
		color: white;
		.fill {
			fill: $red-fail;
		}

		.v-spinner .v-pulse {
			background-color: $white !important;
		}
	}
}

.button--iconLeft {
	svg {
		margin-right: 6px;
	}
}

.button--iconRight {
	svg {
		margin-left: 6px;
	}
}

.button--large {
	padding: 17px 30px 18px;
}

.button--wide {
	min-width: 370px;
}