.callToAction {
	display: block;
	padding: 100px 0;
	background-image: linear-gradient(-44deg, #72BBD3 0%, #02B2A8 100%);
	margin-top: 50px;	
	& + .footer {
		padding-top: 0;
	}
	@include screen-lt(450){
		margin-top: 25px;
		padding: 50px 0;
	}
}

.callToAction__inner {
	display: block;
	text-align: center;
}

.callToAction__heading {
	display: block;
	font-family: $font-averta-black;
	@include font-size(28);
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
}

.callToAction__text {
	display: block;
	max-width: 600px; 
	text-align: center;
	margin: 0 auto;
	font-family: $font-averta-semiBold;
	@include font-size(20);
	color: #D3FFFD;
	letter-spacing: 0;
	line-height: 29px;
	margin-top: 13px;
}

.callToAction__button {
	display: inline-block;
	margin-top: 60px;
	@include screen-lt(450){
		margin-top: 30px;
	}
}