/* BASE */

.footer{
	position: relative;
	display: block;
	width: 100%;
	background-color: white;
}
.footer__wrapper{
	border-top: 4px solid $blue;
}
.footer__inner{
	position: relative;
	display: block;
	margin: 0 auto;
}
.footer__top{
	display: block;
	padding: 48px 0 49px 0;
}
/* COLUMNS */

.footer__top-columns{
	position: relative;
	text-align: center;
}
.footer__bottom-columns{
	position: relative;
}

/* TOP COLUMNS */

.footer__top-columns-column{
	display: inline-block;
	vertical-align: top;

	width: 100%;
	max-width: 250px;
	margin-top: 20px;
	margin-left: 20px;

	text-align: left;
	&:nth-child(1){
		max-width: 350px;
	}
	&:nth-child(4n + 1){
		margin-left: 0;
	}
	@include screen-lt(650){
		display: block;
		width: 100%;
		text-align: center;
	}
}
.footer__top-columns-column-heading{
	font-family: $font-averta-black;
	font-size: px-to-em(18);
	color: $text-green;
	letter-spacing: 0;
	line-height: px-to-em(20,18);	
}
.footer__top-columns-column-items-item{
	margin-top: 15px;
}
.footer__top-columns-column-items-item-link{
	font-family: $font-averta-regular;
	font-size: px-to-em(16);
	color: $text-gray;
	letter-spacing: 0;
	line-height: px-to-em(19,16);

	@include transition();

	&:hover{
		color: $text-green;
		text-decoration: none;
	}
}

/* BOTTOM COLUMNS */

.footer__bottom-columns-column{
	display: inline-block;
	vertical-align: middle;

	width: 50%;
	padding: 22px 0;

	&--left{
		text-align: left;
	}
	&--right{
		text-align: right;
	}
}
.footer__bottom-columns-column-text{
	font-family: $font-averta-regular;
	font-size: px-to-em(16);
	color: $text-gray;
	letter-spacing: 0;
	line-height: px-to-em(29,16);

	span{
		font-family: $font-averta-semiBold;
	}
	a {
		color: $text-gray;
	}
	&:hover {
		text-decoration: none;
	}
}

/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 1320px){
	.footer__top-columns-column{
		width: 23.125%;
		max-width: none;
	}	
}
@media screen and (max-width: 900px){
	.footer__top{
		padding-top: 28px;
	}
	.footer__top-columns-column{
		width: 47%;
		margin-left: 0;

		&:nth-child(even){
			margin-left: 6%;
		}
	}	
}
@media screen and (max-width: 800px){
	.footer__bottom{
		padding: 10px 0;
	}
	.footer__bottom-columns-column{
		display: block;
		width: 100%;
		padding: 10px 0 5px 0;
		text-align: center;
	}	
}
@media screen and (max-width: 600px){
	.footer{
		padding-top: 50px;
	}
	.footer__top-columns-column{
		display: block;
		width: 100%;

		&:nth-child(even){
			margin-left: 0;
		}
	}	
}

/*=====  End of RESPONSIVE  ======*/

