/* BASE */

.fourColumnIconPlusTextGrid{
	position: relative;
	padding: 50px 0;
	background-color: white;
	& + .testimonials {
		margin-top: 50px;
	}
}


.fourColumnIconPlusTextGrid__inner{
	position: relative;
	margin: 0 auto;
}

.fourColumnIconPlusTextGrid--noAction {
	.fourColumnIconPlusTextGrid__cards-card {
		padding-bottom: 30px;
	}
}

/* HEADING AND CARDS */

.fourColumnIconPlusTextGrid__heading{
	width: 100%;
	text-align: center;

	font-family: $font-averta-black;
	font-size: px-to-em(28);
	color: $deep-blue-text;
	letter-spacing: 0;
	line-height: px-to-em(33,28);

	& span{
		color: $text-green;
	}
}

.fourColumnIconPlusTextGrid__cards{
	position: relative;
	display: block;
	width: 100%;

	text-align: center;
}
.fourColumnIconPlusTextGrid__cards-card{
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin-top: 45px;
	margin-left: 20px;
	width: 100%;
	max-width: 280px;
	padding: 55px 25px 85px 25px;

	background: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;

	overflow: hidden;

	&:nth-child(4n+1){
		margin-left: 0;
	}
	&:hover{
		box-shadow: 0 6px 24px 0 rgba(0,0,0,0.27), 0 1px 3px 0 rgba(0,0,0,0.06);
		
		.fourColumnIconPlusTextGrid__cards-card-button{
			bottom: 0;
		}
	}
}
.fourColumnIconPlusTextGrid__cards-card-imageWrapper{
	position: relative;
	display: block;

	margin: 0 auto;
	
	width: 72px;
	height: 64px;
}
.fourColumnIconPlusTextGrid__cards-card-image{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;

	max-width: 100%;
	height: auto;

	transform: translateX(-50%) translateY(-50%);
}

.fourColumnIconPlusTextGrid__cards-card-textWrapper{
	position: relative;
	display: block;

	margin-top: 32px;
}
.fourColumnIconPlusTextGrid__cards-card-title{
	font-family: $font-averta-bold;
	font-size: px-to-em(20);
	color: $dark-blue-text;
	letter-spacing: 0;
	line-height: px-to-em(24,20);
}
.fourColumnIconPlusTextGrid__cards-card-text{
	margin-top: 6px;

	font-family: $font-averta-regular;
	font-size: px-to-em(18);
	color: $text-gray;
	letter-spacing: 0;
	line-height: px-to-em(27,18);
}
.fourColumnIconPlusTextGrid__cards-card-button{
	position: absolute;
	bottom: -50px;
	left: 0;
	display: block;
	margin-top: 64px;
	width: 100%;

	background-color: $blue;
	box-shadow: 0 3px 9px 0 rgba(0,0,0,0.11), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	padding: 19px 3px 23px 0;
	text-align: center;

	transition: all 0.2s ease-in-out;
	
	span{
		display: inline-block;
		vertical-align: middle;

		text-transform: uppercase;

		font-family: $font-averta-regular;
		font-size: px-to-em(16);
		color: white;
		letter-spacing: 1.88px;
		line-height: px-to-em(16,16);
	}
	i{
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 12px;
		margin-left: 4px;

		background-image: url('/img/arrow-right.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
	&:hover{
		background-color: $dark-blue-text;
	}
}

/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 1320px){
	.fourColumnIconPlusTextGrid__cards-card{
		width: 23.125%;
		margin-left: 2.5%;
	}
	.fourColumnIconPlusTextGrid__cards-card-button{
		span{
			font-size: px-to-em(14);
			letter-spacing: 1px;
			line-height: px-to-em(14,14);
		}
	}
}

@media screen and (max-width: 1090px){
	.fourColumnIconPlusTextGrid__cards-card{
		width: 45%;
		max-width: none;
		margin-left: 45px;

		&:nth-child(2n+1){
			margin-left: 0;
		}
	}
	.fourColumnIconPlusTextGrid__cards-card-button{
		span{
			font-size: px-to-em(16);
			letter-spacing: 1.88px;
			line-height: px-to-em(16,16);
		}
	}
}
@media screen and (max-width: 1000px){
	.fourColumnIconPlusTextGrid__cards-card{
		box-shadow: 0 6px 24px 0 rgba(0,0,0,0.27), 0 1px 3px 0 rgba(0,0,0,0.06);
	}
	.fourColumnIconPlusTextGrid__cards-card-button{
		bottom: 0;
	}
}
@media screen and (max-width: 800px){
	.fourColumnIconPlusTextGrid__cards-card{
		width: 45%;
		margin-left: 35px;
		margin-top: 35px;

		&:nth-child(2n+1){
			margin-left: 0;
		}
	}
	.fourColumnIconPlusTextGrid__cards-card-button{
		span{
			font-size: px-to-em(14);
			letter-spacing: 1px;
			line-height: px-to-em(14,14);
		}
	}
}

@media screen and (max-width: 650px){
	.fourColumnIconPlusTextGrid__cards-card{
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-top: 35px;

		&:nth-child(2n+1){
			margin: 0 auto;
			margin-top: 35px;
		}
	}
	.fourColumnIconPlusTextGrid__cards-card-button{
		span{
			font-size: px-to-em(16);
			letter-spacing: 1.88px;
			line-height: px-to-em(16,16);
		}
	}
}
@media screen and (max-width: 450px){
	.fourColumnIconPlusTextGrid__cards-card{
		width: 100%;
	}
	.fourColumnIconPlusTextGrid{
		padding-bottom: 25px;
	}
}
@media screen and (max-width: 340px){
	.fourColumnIconPlusTextGrid__cards-card-button{
		span{
			font-size: px-to-em(14);
			letter-spacing: 1px;
			line-height: px-to-em(14,14);
		}
	}
}


/*=====  End of RESPONSIVE  ======*/
