.gatedContent {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 100%;
	max-width: 480px;
	z-index: 20000;
	transform: translateX(-50%) translateY(-50%);
}

.gatedContent__inner {
	position: relative;
	width: 100%;

	background: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.10), 0 1px 3px 0 rgba(0,0,0,0.12);
	border-radius: 5px;

	overflow: hidden;
	padding: 63px 60px 67px;
	text-align: center;

}

.gatedContent__close {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;

    z-index: 100;
}

.gatedContent__close-cross {
	display: block;
    width: 18px;
    height: 2px;
    border-radius: 2px;

   	background-color: $deep-blue-text;
}

.gatedContent__close-cross--left {
	transform: rotate(45deg);
}

.gatedContent__close-cross--right {
	transform: rotate(-45deg);
   	margin-top: -2px;
}


.gatedContent__heading {
	display: block;
	font-family: $font-averta-black;
	@include font-size(30);
	color: $dark-blue;
}

.gatedContent__text {
	display: block;
	font-family: $font-averta-regular;
	@include font-size(18);
	color: #4D4D4D;
	letter-spacing: 0;
	line-height: 27px;
	margin-top: 16px;
}

.gatedContent .inputField,
.gatedContent .button {
	display: block;
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
}

.gatedContent .button {
	margin-top: 25px;
}

.gatedContent__form {
	margin-top: 33px;
}