/*==========================================
=            DESKTOP HEADER            =
==========================================*/

.headerDesktop{
	display: block;
	position: relative;
	width: 100%;
	padding: 22px 0;
	z-index: 11;

	background-color: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
}
.headerDesktop__inner{
	position: relative;
	width: 93.125%;
	margin: 0 auto;
}

/* HEADER BLOCKS */

.headerDesktop__logo{
	display: inline-block;
	width: 100%;
	max-width: 195px;
	line-height: 55px;
	vertical-align: middle;

	background-color: $light-gray;

	text-align: center;
	text-transform: uppercase;
	font-family: $font-averta-semiBold;
	font-size: px-to-em(19);
	color: $dark-gray;
	letter-spacing: 0;
	a {
		display: block;
	}
	img {
		display: block;
		max-width: 100%;
	}
}
.headerDesktop__leftNav{
	display: inline-block;
	width: 47.874720357941834%; //IE9 Fallback
	vertical-align: middle;
	margin-top: -7px;
}
.headerDesktop__rightNav{
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	float: right;
	margin-top: 2px;
}

/* LEFT NAVIGATION */

.headerDesktop__leftNav-items{
	display: block;
	max-width: 100%;
	margin-left: 5.527638190954774%;
}
.headerDesktop__leftNav-items-item{
	display: inline-block;
	border-top: 5px solid #ffffff;
	border-radius: 2px;

	&+.headerDesktop__leftNav-items-item{
		margin-left: 17px;
	}

	&:not(.has-children){
		.headerDesktop__leftNav-items-item-dropdown {
			@include transition();
			&:hover {
				color: $text-green;
			}
		}
	}

	&.has-children:hover{
		border-top: 5px solid $dark-blue-text;
		box-shadow: 0 2px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);

		& .headerDesktop__leftNav-items-item-dropdown{
			color: $dark-blue-text;
			text-decoration: none;
		}

		& .headerDesktop__leftNav-items-item-dropdown-menu{
			display: block;
		}
		& .headerDesktop__leftNav-items-item-dropdown:after{
			position: absolute;
			content: "";
			bottom: -10px;
			left: 0;

			height: 16px;
			width: 100%;
			background-color: white;

			z-index: 5;
		}
	}
}
.headerDesktop__leftNav-items-item-dropdown{
	position: relative;
	display: block;
	line-height: 48px;
	padding: 0 14px;

	color: $dark-blue-text;
	font-family: $font-averta-semiBold;
	font-size: px-to-em(16);
	letter-spacing: 0;
	z-index: 10;
}

.headerDesktop__leftNav-items-item-dropdown--active{
	.headerDesktop__leftNav-items-item-dropdown-text {
		position: relative;
		&:after {
			position: absolute;
			bottom: 10px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #5EC6C2;
			content: "";
		}
	}
}

.headerDesktop__leftNav-items-item-dropdown-menu{
	position: absolute;
	min-width: 331px;
	padding: 0 18px 30px 18px;

	display: none;
	z-index: 5;

	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	background-color: white;
}
.headerDesktop__leftNav-items-item-dropdown-menu--small{
	min-width: 209px;
}
.headerDesktop__leftNav-items-item-dropdown-menu--large{
	min-width: 505px;
}
.headerDesktop__leftNav-items-item-dropdown-menu-link{
	display: inline-block;
	margin-top: 30px;
	max-width: 100%;

	font-family: $font-averta-semiBold;
	font-size: 16px;
	color: $text-green;
	letter-spacing: 0;
	line-height: px-to-em(20,16);
	word-break: break-all;
	@include transition();

	&:hover{
		color: $blue;
		text-decoration: none;
	}
}

.headerDesktop__leftNav-items-item-dropdown-menu-link--active {
	position: relative;
	color: $dark-blue-text;
	&:after {
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #5EC6C2;
		content: "";
	}
}

.headerDesktop__leftNav-items-item-dropdown-text{
	display: inline-block;
	vertical-align: middle;
}
.headerDesktop__leftNav-items-item-dropdown-icon{
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 6px;
	background-image: url('/img/dropdown-icon.svg');
	background-repeat: no-repeat;

	margin-left: 7px;
}
.headerDesktop__leftNav-items-item-dropdown-menu-column{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;

	width: 28%;

	&+ .headerDesktop__leftNav-items-item-dropdown-menu-column{
		margin-left: 8%;
	}
}
.headerDesktop__leftNav-items-item-dropdown-menu-column-item{
	width: 100%;
	margin: 0;
	padding: 0;
}

/* RIGHT NAVIGATION */

.headerDesktop__rightNav-items{
	display:inline-block;
	vertical-align: middle;
	margin: 0 40px;
}
.headerDesktop__rightNav-items-item{
	display: inline-block;
	vertical-align: middle;
	padding: 18px 0;

	&+.headerDesktop__rightNav-items-item{
		margin-left: 31px;
	}
	&--logoutButton {
		.headerDesktop__rightNav-items-item-link {
			color: $red-dark;

			&:hover {
				color: $red;
			}
		}
	}
}
.headerDesktop__rightNav-items-itemDivider {
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	background-color: #D8D8D8;
	height: 35px;
	margin: 0 24px;
}
.headerDesktop__rightNav-items-item-link{
	color: $dark-blue-text;
	font-family: $font-averta-semiBold;
	font-size: px-to-em(16);
	line-height: px-to-em(20,16);
	letter-spacing: 0;

	@include transition();

	&:hover{
		color: $text-green;
		text-decoration: none;
	}
}

.headerDesktop__rightNav-items-item-link--active {
	position: relative;
	&:after {
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #5EC6C2;
		content: "";
	}
}

.headerDesktop__actions{
	display: inline-block;
	vertical-align: middle;
	min-width: 185px;
	border-radius: 3px;
	box-shadow: 0 3px 9px 0 rgba(0,0,0,0.11), 0 1px 3px 0 rgba(0,0,0,0.06);

	background: $blue;

	transition: all 0.2s ease-in-out;

	&:hover{
		background-color: $dark-blue-text;
	}

	text-align: center;
}
.headerDesktop__actions-button{
	display: block;
	margin: 0 auto;
	padding: 15px 11px 15px 11px;
	color: white;

	text-transform: uppercase;

	font-family: $font-averta-regular;
	font-size: px-to-em(14);
	letter-spacing: 1.65px;
	line-height: px-to-em(16,14);
	&:hover {
		color: white;
	}
}
.headerDesktop__actions-button-text{
	display: inline-block;
	vertical-align: middle;
}
.headerDesktop__actions-button-icon{
	display: inline-block;
	vertical-align: middle;
	font-size: 2em;
	padding: 0 4px;
}

/*=====  End of DESKTOP NAVIGATION  ======*/


/*=====================================
=            MOBILE HEADER            =
=====================================*/

.headerMobile{
	position: relative;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;

	background-color: white;
	display: none;
	padding: 25px 0;
	box-shadow: -12px 6px 14px 0 rgba(0, 0, 0, 0.06), -1px 1px 3px 0 rgba(0, 0, 0, 0.06);

}
.headerMobile__inner{
	position: relative;
	width: 89.333333333333333%; // 335px / 375px * 100
	margin: 0 auto;
}

/* HEADER BLOCKS */
.headerMobile__logo{
	display: inline-block;
	width: 100%;
	max-width: 158px;
	line-height: 55px;
	vertical-align: middle;

	background-color: $light-gray;

	text-align: center;
	text-transform: uppercase;
	font-family: $font-averta-semiBold;
	font-size: px-to-em(19);
	color: $dark-gray;
	letter-spacing: 0;
	a {
		display: block;
	}
	img {
		display: block;
		max-width: 100%;
	}
}
.headerMobile__actionBar{
	display: inline-block;
	vertical-align: middle;
	vertical-align: middle;
	text-align: right;
	float: right;
}

/* ACTION BAR */
.headerMobile__actionBar-button{
	display: inline-block;
	vertical-align: middle;
	width: 48px;
	height: 49px;

	background: $blue;
	box-shadow: 0 3px 9px 0 rgba(0,0,0,0.11), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 3px;

	background-image: url('/img/login-lock.svg');
	background-repeat: no-repeat;
	background-position: 50% 40%;

	transition: all 0.2s ease-in-out;

	&:hover{
		background-color: $dark-blue-text;
	}
}
.headerMobile__actionBar-hamburger{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 24px;

	margin-left: 23px; //6.865671641791045% on 335px container
	cursor: pointer;

	&.active {

		.headerMobile__actionBar-hamburger-line--lineOne {
			transform: rotate(-45deg);
			top: 10px;
		}
		.headerMobile__actionBar-hamburger-line--lineTwo {
			transform: rotate(45deg);
			width: 30px;
			top: 10px;
		}
		.headerMobile__actionBar-hamburger-line--lineThree {
			opacity: 0;
		}
	}
	&.loggedInUser {
		margin-top: 12px;
	}
}
.headerMobile__actionBar-hamburger-line{

	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, opacity 0.1s ease-in-out;

	position: absolute;
	top: 0;
	right: 0;
    width: 30px;
    height: 4px;
    background-color: $dark-blue-text;

    cursor: pointer;

	&--lineOne{
		top: 20px;
	}
	&--lineTwo{
		top: 10px;
		width: 20px;
	}
	&--lineThree{
		width: 10px;
	}
}


/*=====  End of MOBILE HEADER  ======*/



/*=================================================
=            MOBILE SIDEBAR NAVIGATION            =
=================================================*/

.mobileSidebarNav{
	position: fixed;
	z-index: 15;
	top: 0;
	right: -100%;

	display: block;

	height: 100%;
	width: 100%;
	max-width: 400px;
	overflow: auto;

	transition: all 0.45s ease-out;

	&.showSidebar{
		right: 0;
	}
}
.mobileSidebarNav__scrollWrapper{
	display: block;
	min-height: 100%;
	padding: 105px 0 100px 0;
}
.mobileSidebarNav__block{
	width: 100%;
	text-align: right;
	padding: 0 20px 0 30px;
}
.mobileSidebarNav__block-item{
	display: block;
	margin-top: 35px;

	&.openSubMenu {

		.mobileSidebarNav__block-dropdown {
			display: block;
		}
		.mobileSidebarNav__block-item-arrow {
			background-image: url('/img/mobileArrowUp.png');
		}
	}
}
.mobileSidebarNav__block-item-arrow{
	position: relative;
	display: inline-block;
	vertical-align: middle;

	width: 15px;
	height: 9px;

	background-image: url('/img/mobileArrowDown.png');
	background-repeat: no-repeat;

	cursor: pointer;

	/* Fix for clicking arrow easily on mobile devices */

	&:after {
		position: absolute;
		top: -10px;
		left: -8px;
		width: 30px;
		height: 30px;
		content: "";
		cursor: pointer;
	}
}
.mobileSidebarNav__block-item-link{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-left: 30px;
	width: calc(100% - 15px);

	font-family: $font-averta-semiBold;
	font-size: px-to-em(22);
	color: $dark-blue-text;
	letter-spacing: 0;
	line-height: px-to-em(26,22);

	text-align: right;

	&:hover{
		color: $blue;
	}
}

.mobileSidebarNav__block-dropdown{
	display: none;
}
.mobileSidebarNav__block-dropdown-item{
	position: relative;
	margin-top: 20px;
}


.mobileSidebarNav__block-dropdown-item-link{
	font-family: $font-averta-semiBold;
	font-size: px-to-em(22);
	color: $text-green;
	letter-spacing: 0;
	line-height: px-to-em(26,22);
}


/*=====  End of MOBILE SIDEBAR NAVIGATION  ======*/


/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 1390px){
	.headerDesktop{
		display: none;
	}
	.headerMobile{
		display: block;
	}
}
@media screen and (max-width: 1390px){
	.headerMobile{
		padding: 10px;
	}
}
@media screen and (max-width: 450px){
	.headerMobile{
		position: fixed;
		padding: 10px 0;
	}
}


/*=====  End of RESPONSIVE  ======*/
