/* HERO BASE */
.homeHero{
	position: relative;
	padding: 85px 0 100px 0;
	overflow: hidden;
	
	background-color: $azure-green;
	background-image: linear-gradient(44deg, $azure-green 0%, $sky-blue 100%);
}
.homeHero__inner{
	position: relative;
	display: block;
	margin: 0 auto;
	z-index: 10;
}

/* TEXT BLOCK */
.homeHero__textBlock{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 20px 0 55px 0;

	width: 51%;
}
.homeHero__textBlock-title{
	font-family: $font-averta-black;
	font-size: px-to-em(40);
	color: white;
	letter-spacing: 0;
	line-height: px-to-em(49,40);
	
	span{
		color: $dark-blue-text;
	}
}
.homeHero__textBlock-text{
	position: relative;
	display: block;
	margin-top: 17px;

	font-family: $font-averta-semiBold;
	font-size: px-to-em(20);
	color: $text-green-light;
	letter-spacing: 0;
	line-height: px-to-em(29,20);
}
.homeHero__textBlock-button{
	position: relative;
	display: block;
	margin-top: 22px;
	width: 100%;
	max-width: 320px;

	background-color: $blue;
	box-shadow: 0 3px 9px 0 rgba(0,0,0,0.11), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;

	padding: 19px 25px 20px 32px;

	transition: all 0.3s ease-in-out;
	
	span{
		display: inline-block;
		vertical-align: center;

		text-transform: uppercase;

		font-family: $font-averta-regular;
		font-size: px-to-em(16);
		color: white;
		letter-spacing: 1.88px;
		line-height: px-to-em(16,16);
	}
	i{
		display: inline-block;
		vertical-align: center;
		width: 14px;
		height: 12px;
		margin-left: 7px;

		background-image: url('/img/arrow-right.png');
		background-repeat: no-repeat;
		background-position: center center;
	}

	&:hover{
		background-color: $dark-blue-text;
	}
}

/* VIDEO BLOCK */
.homeHero__videoBlock{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;

	width: 49%;
}
.homeHero__videoBlock-wrapper{
	position: relative;

	border: 4px solid white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;
	cursor: pointer;

	
	&-coverImage {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
}
.homeHero__videoBlock-playButton{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 200;

	width: 22%;
}

/* SVG CURVE */
.homeAfterHeroBlock__curve-image{
	position: absolute;
	display: block;
	bottom: -1px;
	left: -1%;
	width: 102%;
}


/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (min-width: 1680px){
	.homeHero{
		padding-bottom: 160px;
	}
}

@media screen and (max-width: 1000px){
	.homeHero{
		padding: 40px 0;
	}
	.homeHero__textBlock-title{
		font-size: px-to-em(30);
		line-height: px-to-em(39,30);
	}
	.homeHero__textBlock-text{
		margin-top: 15px;
		font-size: px-to-em(18);
		line-height: px-to-em(27,18);
	}
	.homeHero__textBlock-button{
		margin-top: 44px;
		width: 100%;
		max-width: 280px;

		padding: 17px 16px 18px 23px;

		transition: all 0.3s ease-in-out;
		
		span{
			font-size: px-to-em(15);
			letter-spacing: 1px;
			line-height: px-to-em(15,15);
		}
		i{
			width: 14px;
			height: 12px;
		}

		&:hover{
			background-color: $dark-blue-text;
		}
	}
}

@media screen and (max-width: 800px){
	.homeHero{
		padding-bottom: 0;
	}
	.homeHero__textBlock,
	.homeHero__videoBlock{
		display: block;
		width: 100%;
		max-width: 568px;

		margin: 0 auto;
		padding: 0;
		margin-top: 40px;
	}
	.homeHero__textBlock-button{
		margin-top: 30px;
	}
}

@media screen and (max-width: 450px){
	.homeHero{
		padding: 0;
		padding-top: 46px;
		background-image: linear-gradient(44deg, $sky-blue 0%, $azure-green 100%);
	}
	.homeHero__textBlock-title{
		font-size: px-to-em(32);
		line-height: px-to-em(38,32);
		text-align: center;
	}
	.homeHero__textBlock-text{
		text-align: center;
	}
	.homeHero__textBlock-button{
		margin: 0 auto;
		margin-top: 25px;
	}
	.homeHero__textBlock{
		margin-top: 0;
	}
	.homeHero__videoBlock-wrapper{
		border: 2px solid white;
	}
	.homeHero__videoBlock{
		margin-top: 30px;
	}
}

/*=====  End of RESPONSIVE  ======*/

