.iframeWrapper{
  position: relative;
  margin: 27px auto; //27px - eyeballed value
  margin-bottom: 0;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;

  iframe{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}