.infoCard {
	display: block;
	background-color: white;
	background: #FFFFFF;
	box-shadow: 0 3px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;
}

.infoCard__inner {
	display: block;
	padding: 40px 40px;
}

.infoCard__heading {
	font-family: $font-averta-black;
	@include font-size(28);
	color: $blue;
	letter-spacing: 0;
	margin-bottom: 16px;
}

.infoCard__text {
	@include font-size(18);
	color: $text-gray;
	letter-spacing: 0;
	line-height: 27px;
}

.infoCard__button {
	margin-top: 44px;
}