.inputField {
	display: inline-block;
	position: relative;
}


.inputField__input{
	display: block;
	width: 100%;
	padding: 13px 15px 12px 53px;
	height: 50px;
	background: white;
	border-radius: 3px;
	font-family: $font-averta-regular;
	font-size: px-to-em(18, 18);
	color: $gray;
	letter-spacing: 0;
	line-height: normal;
	border: none;
	outline: none;
	@include placeholder {
		font-family: $font-averta-regular;
		font-size: px-to-em(18);
		color: $gray;
		letter-spacing: 0;
		line-height: normal;
		padding-top: 3px;
	}
	&:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0 1000px white inset;
	}
}

.inputField__input--dark {
	background-color: $background-gray;
	&:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0 1000px $background-gray inset;
	}
}

.inputField__input--error {
	border: 1px solid $red;
	padding: 12px 14px 11px 52px;
	& + .inputField__help {
		display: block;
	}
}

.inputField__icon {
	position: absolute;
	top: 8px;
	left: 14px;
	width: 30px;
	height: 30px;
}

.inputField__icon--person {
	background-image: url('/img/input-person.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.inputField__icon--email {
	background-image: url('/img/input-envelope.svg');
	background-repeat: no-repeat;
	background-position: center;	
}

.inputField__icon--password {
	background-image: url('/img/input-lock.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.inputField__help {
	display: none;
	color: #FA7384;
	text-align: left;
	width: 100%;
	margin-top: 6px;
	@include font-size(12);
}