/* BASE */

.logoBanner{
	position: relative;
	display: block;
	padding: 50px 0;

	width: 100%;
}
.logoBanner__inner{
	position: relative;
	display: block;
	margin: 0 auto;
}
.logoBanner__banner{
	display: block;
	width:  100%;
	text-align: center;
}
.logoBanner__banner-logo{
	display: inline-block;
	margin-right:  45px;
	padding: 0 0 25px 0;
	vertical-align: baseline;
}
.logoBanner__banner-logo-image{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 970px){

}

@media screen and (max-width: 800px){

}
@media screen and (max-width: 540px){
	.logoBanner{
		padding: 15px 0;
	}
	.logoBanner__banner-logo{
		display: block;
		margin: 0 auto;
	}
}

/*=====  End of RESPONSIVE  ======*/
