/* BASE */

.moduleCards{
	position: relative;
	padding: 50px 0;
	margin-top: -430px;
}

.moduleCards__inner{
	position: relative;
	margin: 0 auto;
}

/* CARDS */

.moduleCards__cards{
	position: relative;
	display: block;
	width: 100%;

	display: flex;
	flex-wrap: wrap;

}
.moduleCards__cards-card{
	position: relative;
	display: inline-block;
	vertical-align: top;

	text-align: center;

	margin-top: 45px;
	margin-left: 20px;
	width: 100%;
	max-width: 280px;
	padding: 55px 25px 85px 25px;

	background: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.06);
	border-radius: 5px;

	overflow: hidden;

	&:nth-child(4n+1){
		margin-left: 0;
	}
	&:hover{
		box-shadow: 0 6px 24px 0 rgba(0,0,0,0.27), 0 1px 3px 0 rgba(0,0,0,0.06);

		.moduleCards__cards-card-button{
			bottom: 0;
		}
	}
}

.moduleCards__cards-card-category {
	display: block;
	text-align: center;
	margin-top: 17px;
}

.moduleCards__cards-card-category-title {
	display: block;
	font-family: $font-averta-semiBold;
	@include font-size(18);
	color: $text-green;
}

.moduleCards__cards-card-category-link {
	display: block;
	font-family: $font-averta-regular;
	@include font-size(16);
	color: $blue-link;
	@include transition();
	margin-top: 3px;
	&:hover {
		color: $dark-blue-text;
	}
}

.moduleCards__cards-card-imageWrapper{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 200px;
	height: auto;
}
.moduleCards__cards-card-image{
	display: inline-block;
	text-align: center;
	// position: absolute;
	// top: 50%;
	// left: 50%;

	max-width: 100%;
	height: auto;

	// transform: translateX(-50%) translateY(-50%);
	// -ms-transform: translateX(-50%) translateY(-50%);
}

.moduleCards__cards-card-textWrapper{
	position: relative;
	display: block;

	margin-top: 32px;
}
.moduleCards__cards-card-title{
	position: relative;
	padding-bottom: 12px;

	font-family: $font-averta-bold;
	font-size: px-to-em(20);
	color: $dark-blue-text;
	letter-spacing: 0;
	line-height: px-to-em(24,20);

	&:after{
		content: "";
		position: absolute;
		bottom: 0;;
		left: 50%;

		transform: translateX(-50%);
		-ms-transform: translateX(-50%);

		width: 42px;
		height: 2px;

		background-color: $text-green;
	}
}


.moduleCards__cards-card-title--noBorder {
	padding-bottom: 0;
	margin-bottom: -20px;
	&:after {
		display: none;
	}
}

.moduleCards__cards-card-totalVideos{
	margin-top: 12px;
	text-transform: uppercase;

	font-family: $font-averta-bold;
	font-size: px-to-em(16);
	color: $dark-blue-text;
	letter-spacing: 1;
	line-height: px-to-em(16,16);

	span{
		color: $text-green;
	}
}
.moduleCards__cards-card-text{
	margin-top: 27px;

	font-family: $font-averta-regular;
	font-size: px-to-em(18);
	color: $text-gray;
	letter-spacing: 0;
	line-height: px-to-em(27,18);
}
.moduleCards__cards-card-cat{
	position: relative;
	padding-top: 15px;

	display: block;
	width: 100%;
}
.moduleCards__cards-card-cat-context{
	display: block;

	font-family: $font-averta-bold;
	font-size: px-to-em(18);
	color: $text-green;
	letter-spacing: 1;
	line-height: px-to-em(20,18);
}
.moduleCards__cards-card-cat-cats{
	display: block;

	font-family: $font-averta-regular;
	font-size: px-to-em(16);
	color: $blue-link;
	letter-spacing: 1;
	line-height: px-to-em(22,16);
}
.moduleCards__cards-card-button{
	position: absolute;
	bottom: -50px;
	left: 0;
	display: block;
	margin-top: 64px;
	width: 100%;

	background-color: $blue;
	box-shadow: 0 3px 9px 0 rgba(0,0,0,0.11), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	padding: 19px 3px 23px 0;
	text-align: center;

	transition: all 0.2s ease-in-out;

	span{
		display: inline-block;
		vertical-align: middle;

		text-transform: uppercase;

		font-family: $font-averta-regular;
		font-size: px-to-em(16);
		color: white;
		letter-spacing: 1.88px;
		line-height: px-to-em(16,16);
	}
	i{
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 12px;
		margin-left: 4px;

		background-image: url('/img/arrow-right.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
	&:hover{
		background-color: $dark-blue-text;
	}
}

.moduleCards__category {
	position: absolute;
	top: -100px;
	right: 0;
	min-width: 292px;
	@include screen-lt(1000){
		position: relative;
		display: inline-block;
		margin-bottom: 0;
		top: 0;
	}
	@include screen-lt(800){
		display: block;
		width: 100%;
		min-width: 0;
	}
}

.moduleCards__category-select {
	display: block;
	background: #FFFFFF;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;
	position: relative;
}

.moduleCards__category-select-input {
	height: 70px;
	font-family: $font-averta-semiBold;
	@include font-size(28);
	color: $dark-blue-text;
	letter-spacing: 0;
	outline: none;
	appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    line-height: normal;
    border: none;
    background-color: transparent;
    z-index: 10;
    position: relative;
    padding: 0 80px 0 40px;
    display: block;
    width: 100%;
    @include screen-lt(800){
	    font-size: px-to-em(20);
	}
}
.moduleCards__category-select-icon {
	position: absolute;
	top: 32px;
	right: 40px;
}

/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 1320px){
	.moduleCards__cards-card{
		width: 23.125%;
		margin-left: 2.5%;
	}
	.moduleCards__cards-card-button{
		span{
			font-size: px-to-em(14);
			letter-spacing: 1px;
			line-height: px-to-em(14,14);
		}
	}
}

@media screen and (max-width: 1090px){
	.moduleCards__cards-card{
		width: 47.5%;
		max-width: none;
		margin-left: 5%;

		&:nth-child(2n+1){
			margin-left: 0;
		}
	}
	.moduleCards__cards-card-button{
		span{
			font-size: px-to-em(16);
			letter-spacing: 1.88px;
			line-height: px-to-em(16,16);
		}
	}
}
@media screen and (max-width: 1000px){
	.moduleCards__cards-card{
		box-shadow: 0 6px 24px 0 rgba(0,0,0,0.27), 0 1px 3px 0 rgba(0,0,0,0.06);
	}
	.moduleCards__cards-card-button{
		bottom: 0;
	}
}
@media screen and (max-width: 800px){
	.moduleCards__cards-card{
		width: 47.5%;
		margin-left: 5%;
		margin-top: 35px;

		&:nth-child(2n+1){
			margin-left: 0;
		}
	}
	.moduleCards__cards-card-button{
		span{
			font-size: px-to-em(14);
			letter-spacing: 1px;
			line-height: px-to-em(14,14);
		}
	}
}

@media screen and (max-width: 650px){
	.moduleCards__cards-card{
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-top: 35px;

		&:nth-child(2n+1){
			margin: 0 auto;
			margin-top: 35px;
		}
	}
	.moduleCards__cards-card-button{
		span{
			font-size: px-to-em(16);
			letter-spacing: 1.88px;
			line-height: px-to-em(16,16);
		}
	}
}
@media screen and (max-width: 450px){
	.moduleCards__cards-card{
		width: 100%;
	}
	.moduleCards{
		padding-bottom: 25px;
	}
}
@media screen and (max-width: 340px){
	.moduleCards__cards-card-button{
		span{
			font-size: px-to-em(14);
			letter-spacing: 1px;
			line-height: px-to-em(14,14);
		}
	}
}


/*=====  End of RESPONSIVE  ======*/
