.myAccount {
	padding: 85px 0 45px;
	font-size: 0;
}

.myAccount__title {
	@include rem(font-size, 40px);
	font-family: $font-averta-black;
	color: $dark-blue;
}

.myAccount__sidebar {
	width: 100%;
	max-width: 280px;
	display: inline-block;
	vertical-align: top;
	@include rem(margin-top, 37px);

	@include screen-lt(868) {
		max-width: 100%;
	}
}
.myAccount__sidebar-list {
	border-radius: 5px;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	background-color: white;
	overflow: hidden;
}
.myAccount__sidebar-list-item {

	a {
		display: block;
		@include rem(padding, 22px 24px 21px 24px);
		background-color: white;
		@include rem(font-size, 18px);
		color: $dark-blue;
		font-family: $font-averta-semiBold;
		text-decoration: none;
	}

	&:hover, &.active {
		a {
			color:white;
			background-color: $text-green;
		}
	}
}

.myAccount__content {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 320px);
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	font-size: 16px;
	@include rem(margin-top, 37px);
	margin-left: 40px;
	border-radius: 5px;

	@include screen-lt(868) {
		width: 100%;
		margin-left: 0;
		@include rem(margin-top, 40px);
	}
}
.myAccount__content-section {
	@include rem(padding-top, 39px);
}
.myAccount__content-section-footer {
	@include rem(padding, 26px 30px 30px 30px);
	border-top: 1px solid #F2F2F2;
	@include rem(margin-top, 51px);
}
.myAccount__content-title {
	@include rem(font-size, 28px);
	font-family: $font-averta-black;
	color: $dark-blue;
	@include rem(padding, 0 30px);
}

.myAccount__form {
	@include rem(margin-top, 32px);
	display: block;
	@include rem(padding, 0 30px);
}
.myAccount__form-row {
	font-size: 0;

	& + .myAccount__form-row {
		@include rem(margin-top, 32px);
	}

	@include screen-lt(500) {
		& + .myAccount__form-row {
			@include rem(margin-top, 20px);
		}
	}
}
.myAccount__form-row-column {
	display: inline-block;
	vertical-align: top;

	&--name {
		width: 49%;
		max-width: 220px;
	}
	&--email {
		width: 100%;
		max-width: 450px;
	}
	&--currentPassword {
		width: 100%;
		max-width: 466px;
	}
	&--password {
		width: 49%;
		max-width: 333px;
	}

	& + .myAccount__form-row-column {
		margin-left: 1%;
	}

	@include screen-lt(500) {
		max-width: 100%;
		width: 100%;

		& + .myAccount__form-row-column {
			margin-left: 0;
			@include rem(margin-top, 20px);
		}
	}
}
.myAccount__form-label {
	@include rem(font-size, 16px);
	color: $dark-blue;
	font-family: $font-averta-semiBold;
	display: block;
}

.myAccount__form-input-wrapper {
	position: relative;
}

.myAccount__form-input {
	display: block;
	width: 100%;
	background-color: #F5F5F5;
	border: none;
	outline: none;
	@include rem(font-size, 18px);
	color: $dark-gray;
	@include rem(padding, 15px 35px 14px 58px);
	@include rem(margin-top, 9px);
	background-repeat: no-repeat;
	appearance: none;
	border-radius: 0;

	&:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0 30px #F5F5F5 inset;
	}

}
.myAccount__form-submitButton {
	@include rem(font-size, 16px);
	text-transform: uppercase;
	@include rem(letter-spacing, 1.88px);
	color: $dark-blue;
	border: 2px solid $dark-blue;
	border-radius: 5px;
	background-color: white;
	@include rem(padding, 12.5px 57px);
}
.myAccount__form-errorMessage {
	@include rem(font-size, 14px);
	@include rem(margin-top, 6px);
	display: block;
	color: $red-dark;
}
