.pageIntro {
	display: block;
	text-align: center;
	padding: 80px 0;
	& + .textPlusStackedImage {
		padding-top: 0;
		margin-top: -41px;
	}
}

.pageIntro__inner{
	position: relative;
	margin: 0 auto;
}

.pageIntro__heading {
	display: inline-block;
	font-family: $font-averta-black;
	@include font-size(40);
	color: $dark-blue;
	letter-spacing: 0;
	max-width: 815px;
	line-height: normal;
}

.pageIntro__subHeading {
	display: inline-block;
	max-width: 600px;
	font-family: $font-averta-semiBold;
	@include font-size(20);
	color: $text-green;
	letter-spacing: 0;
	line-height: 29px;
	margin-top: 0.8125em; // 13 / 16
	a {
		color: $text-green;
		@include transition();
		&:hover {
			text-decoration: none;
			color: $blue-text;
		}
	}
}

.pageIntro__subHeading--regularText {
	font-family: $font-averta-regular;
	color: $text-gray;
}

.pageIntro__subHeading--wide {
	max-width: 900px;
}

.pageIntro__actions {
	display: block;
	margin-top: 42px;
}