/* BASE */

.pageHero{
	position: relative;
	width: 100%;

	padding: 85px 0 420px 0;
	
	background-color: $azure-green;
	background-image: linear-gradient(44deg, $azure-green 0%, $sky-blue 100%);
}
.pageHero__inner{
	position: relative;
	margin: 0 auto;
}

/* CONTENT */

.pageHero__back {
	display: inline-block;
	color: white;
	font-family: $font-averta-semiBold;
	@include font-size(16);
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 20px;
	@include transition();
	span {
		display: inline-block;
		vertical-align: middle;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 6px;
	}
	&:hover {
		text-decoration: none;
		opacity: 0.7;
		color: white;
	}
	& + .pageHero__heading {
		margin-top: 20px;
	}
}

.pageHero__heading{
	font-family: $font-averta-black;
	font-size: px-to-em(40);
	color: white;
	letter-spacing: 0;
	line-height: px-to-em(46,40);
}
.pageHero__text{
	margin-top: 25px;
	width: 100%;
	max-width: 600px;

	font-family: $font-averta-semiBold;
	font-size: px-to-em(20);
	color: $white;
	letter-spacing: 0;
	line-height: px-to-em(29,20);
}

.pageHero__text--wide{
	max-width: 900px;
}

/* SVG CURVE */
.pageHero__curve-image{
	position: absolute;
	display: block;
	bottom: -1px;
	left: -1%;
	width: 102%;
}