.programmeIntro {
	display: block;
	padding: 50px 0;

	@media(min-width: 1280px) {
		&__logo {
			position: absolute;
			left: 12px;
		}
	}

	&__logo {
		display: flex;
		justify-content: center;
		margin-bottom: 8px;
	}

	&__logo img {
		max-width: 160px;
	}
}

.programmeIntro__inner {
	display: block;
	text-align: center;
}

.programmeIntro__back {
	display: inline-block;
	font-family: $font-averta-semiBold;
	@include font-size(16);
	color: $text-green;
	letter-spacing: 0;
	line-height: 20px;
	@include transition();
	& + .programmeIntro__heading {
		margin-top: 14px;
	}
	&:hover {
		color: $dark-blue;
		text-decoration: none;
		.fill {
			fill: $dark-blue;
		}
	}
	svg {
		display: inline-block;
		margin-right: 6px;
	}
	.fill {
		fill: $text-green;
		@include transition();
	}
}

.programmeIntro__heading {
	display: block;
	font-family: $font-averta-black;
	@include font-size(40);
	color: $dark-blue;
	letter-spacing: 0;
}

.programmeIntro__details {
	display: block;
	margin-top: 28px;
}

.programmeIntro__details-dates,
.programmeIntro__details-price {
	display: inline-block;
}


.programmeIntro__details-venue {
	display: block;
	margin-top: 7px;
}

.programmeIntro__details-price {
	&:before {
		content: "•";
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		margin-right: 10px;
	}
}

.programmeIntro__details-dates,
.programmeIntro__details-price,
.programmeIntro__details-venue {
	color: $dark-blue;
	@include font-size(20);
	vertical-align: middle;
	strong {
		font-family: $font-averta-black;
		color: $text-green;
	}
	@include screen-lt(570){
		display: block;
		margin-top: 7px;
		line-height: normal;
		&:before {
			display: none;
		}
	}
}

.programmeIntro__intro {
	display: block;
	margin-top: 36px;
}

.programmeIntro__intro-text {
	display: block;
	max-width: 900px;
	margin: 0 auto;
	@include font-size(20);
	color: $text-gray;
	letter-spacing: 0;
	line-height: 29px;
	a {
		color: $text-green;
		@include transition();
		&:hover {
			text-decoration: none;
			color: $blue-text;
		}
	}
}

.programmeIntro__actions {
	display: block;
}

.programmeIntro__actions-action {
	display: inline-block;
	margin-top: 42px;
}
