/* BASE */

.registerModal{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 100%;
	max-width: 980px;
	z-index: 20000;
	transform: translateX(-50%) translateY(-50%);
}

.registerModal--mobile {
	@include screen-lt(750){
		padding-top: 240px;
	    padding-bottom: 20px;
	}
}

.registerModal__inner{
	position: relative;
	width: 100%;

	background: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.10), 0 1px 3px 0 rgba(0,0,0,0.12);
	border-radius: 5px;

	overflow: hidden;
}
.registerModal__column-signUp,
.registerModal__column-signIn{
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.registerModal__column-signUp{
	width: 56.122448979591837%;
	padding: 48px 50px;
	background-image: linear-gradient(-24deg, $sky-blue 0%, $azure-green 100%);
	border-right: 1px solid $gray;
}
.registerModal__column-signIn{
	width: 43.877551020408163%;
	padding: 139px 50px;

	background-color: white;
}
.registerModal__close {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;

    z-index: 100;
}
.registerModal__close-cross {
	display: block;
    width: 18px;
    height: 2px;
    border-radius: 2px;

   	background-color: $deep-blue-text;
}

.registerModal__close-cross--left {
	transform: rotate(45deg);
}

.registerModal__close-cross--right {
	transform: rotate(-45deg);
   	margin-top: -2px;
}

/* REUSABLE */
.registerModal__column-signIn-form-block,
.registerModal__column-signUp-form-block{
	margin-top: 20px;
}
.registerModal__inputText{
	display: block;
	width: 100%;
	padding: 13px 15px 12px 53px;
	height: 46px;
	background: white;
	border-radius: 3px;

	&--emailLogin,
	&--passwordLogin{
		background-color: $background-gray;
		&:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0 1000px $background-gray inset;
		}
	}

	&--error {
		border: 1px solid $red;
		padding: 12px 14px 11px 52px;
	}
	@include placeholder {
		font-family: $font-averta-regular;
		font-size: px-to-em(18);
		color: $gray;
		letter-spacing: 0;
		line-height: normal;
		padding-top: 3px;
	}
	&:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0 1000px white inset;
	}
}

input[type=text].registerModal__inputText,
input[type=email].registerModal__inputText,
input[type=password].registerModal__inputText{
	font-family: $font-averta-regular;
	font-size: px-to-em(18, 18);
	color: $gray;
	letter-spacing: 0;
	line-height: normal;
}

.registerModal__inputText-icon {
	position: absolute;
	top: 8px;
	left: 14px;
	width: 30px;
	height: 30px;
}

.registerModal__inputText-icon--person {
	background-image: url('/img/input-person.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.registerModal__inputText-icon--email {
	background-image: url('/img/input-envelope.svg');
	background-repeat: no-repeat;
	background-position: center;	
}

.registerModal__inputText-icon--password {
	background-image: url('/img/input-lock.svg');
	background-repeat: no-repeat;
	background-position: center;
}


/* SIGN UP */
.registerModal__column-signUp-image{
	display: block;
	margin: 0 auto;
}
.registerModal__column-signUp-heading{
	margin-top: 29px;

	font-family: $font-averta-black;
	font-size: px-to-em(30);
	color: white;
	letter-spacing: 0;
	line-height: px-to-em(36,30);
}
.registerModal__column-signUp-form{
	position: relative;
}

.registerModal__column-signUp-form--forceDisplay {
	display: block !important;
}
.registerModal__column-signIn-form-block, .registerModal__column-signUp-form-block {
	position: relative;
}
.registerModal__column-signUp-form-block-column{
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 5px);
	position: relative;

	&+.registerModal__column-signUp-form-block-column{
		margin-left: 10px;
	}
}
.registerModal__column-signUp-form-button,
.registerModal__column-signUp-mobile-button{
	display: block;
	width: 100%;
	padding: 14px 8px;
	border-radius: 3px;

	text-transform: uppercase;
	background: $blue;

	font-family: $font-averta-regular;
	font-size: px-to-em(16);
	color: white;
	letter-spacing: 1.88px;
	line-height: px-to-em(18,16);

	cursor: pointer;

	transition: all 0.2s ease-in-out;

	&:hover{
		background-color: $deep-blue-text;
	}
}
/* MOBILE SIGN UP */

.registerModal__column-signUp-mobile{
	position: relative;
	display: none;
	margin-top: 20px;
}
.registerModal__column-signUp-mobile-button{
	margin: 0 auto;
	max-width: 400px;
}
.registerModal__column-signUp-mobile-or{
	display: none;
	position: absolute;
	bottom: -75px;
	left: 50%;
	width: 60px;
	height: 60px;

	border-radius: 50%;

	background: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);

	font-family: $font-averta-bold;
	font-size: px-to-em(26);
	color: $dark-blue-text;
	letter-spacing: 0;
	line-height: px-to-em(60,26);

	transform: translateX(-50%) translateY(0);
}

/* SIGN IN */
.registerModal__column-signIn-heading{
	font-family: $font-averta-black;
	font-size: px-to-em(30);
	color: $dark-blue-text;
	letter-spacing: 0;
	line-height: px-to-em(36,30);
}

.registerModal__column-signIn-heading--leftAlign {
	text-align: left;
}

.registerModal__column-signIn-button{
	display: block;
	width: 100%;
	padding: 14px 8px;
	border-radius: 3px;

	text-transform: uppercase;
	background: $blue;

	font-family: $font-averta-regular;
	font-size: px-to-em(16);
	color: white;
	letter-spacing: 1.88px;
	line-height: px-to-em(18,16);

	cursor: pointer;

	transition: all 0.2s ease-in-out;

	&:hover{
		background-color: $deep-blue-text;
	}
}
.registerModal__column-signIn-forgotPassword{
	position: relative;

	font-family: $font-averta-semiBold;
	font-size: px-to-em(13);
	color: $text-green;
	letter-spacing: 0;
	line-height: px-to-em(29,13);
	@include transition();

	&:hover {
		text-decoration: none;
		color: $blue-text;
		&:after {
			background-color: $blue-text;
		}
	}

	&:after{
		content: "";
		position: absolute;
		bottom: -3px;
		left: 0;

		width: 99%;
		height: 2px;
		background-color: $text-green;
		@include transition();
	}
}

/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 1000px){
	.registerModal__inner{
		width: 95%;
		margin: 0 auto;
	}
	.registerModal__inputText::placeholder{
		font-size: px-to-em(15, 18);
		line-height: px-to-em(15,15);
	}
}

@media screen and (max-width: 900px){
	.registerModal__column-signUp-form-block{
		margin-top: 10px;
	}
	.registerModal__column-signUp-form-block-column{
		display: block;
		width: 100%;

		&+.registerModal__column-signUp-form-block-column{
			margin-left: 0;
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: 750px){
	.registerModal{
		transform: translateX(-50%) translateY(-48%);
	}
	.registerModal__inner{
		width: 80%;
	}
	.registerModal__column-signUp,
	.registerModal__column-signIn{
		display: block;
		width: 100%;
	}
	.registerModal__column-signUp,
	.registerModal__column-signIn{
		padding: 30px 15px 45px 15px;
	}
	.registerModal__column-signIn{
		padding-top: 45px;
	}
	.registerModal__column-signUp-form{
		display: none;
	}
	.registerModal__column-signUp-image{
		display: none;
	}
	.registerModal__column-signUp-form-block{
		margin-top: 20px;
	}
	.registerModal__column-signUp-form-block-column{
		display: block;
		width: 100%;

		&+.registerModal__column-signUp-form-block-column{
			margin-left: 0;
			margin-top: 20px;
		}
	}
	.registerModal__column-signUp-mobile,
	.registerModal__column-signUp-mobile-or{
		display: block;
	}
}

@media screen and (max-width: 450px){
	.registerModal__inner{
		width: 90%;
	}
}

/*=====  End of RESPONSIVE  ======*/

.registerModal__fieldErrorMessage {
	color: white;
	text-align: left;
	display: block;
	width: 100%;
	margin-top: 6px;
	font-size: 12px;
	position: absolute;
	left: 0;
	bottom: -14px;
}

.registerModal__column-signIn-form-block .registerModal__fieldErrorMessage {
	color: $red;
}
