.table {
	display: block;
	padding: 50px 0;
	position: relative;
	z-index: 15;
	& + .table {
		margin-top: -50px;
	}
}

.table__inner {
	display: block;
}

.table__wrapper {
	background-color: #FAFAFA;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;
	overflow:scroll;

	.link {
		color: $blue
	}
}

.table__heading {
	font-family: $font-averta-black;
	@include font-size(28);
	color: $blue;
	letter-spacing: 0;
	margin-bottom: 22px;
}

.table__heading--alt {
	color: white;
}

.table__noData {
	text-align: left !important;
	padding: 20px 50px !important;
}

.table table {
	width: 100%;
	thead {
		tr {
			background-color: white;
			th {
				padding: 17px 50px;
				font-family: $font-averta-black;
				@include font-size(16);
				color: $text-green;
				letter-spacing: 0;
			}
		}
	}
	tbody {
		tr {
			border-top: 1px solid #EAEAEA;
			td {
				padding: 8px 48px;
				@include font-size(20);
				color: $text-gray;
				letter-spacing: 0;
				vertical-align: middle;

				&:last-of-type {
					text-align: right;
				}
				&:first-of-type {
					font-family: $font-averta-semiBold;
					@include font-size(20);
					color: $blue;
					letter-spacing: 0;
				}
				.button {
					@include font-size(16, 20);
				}
			}
		}
	}
}

// Course table fix on responsive breakpoints
.dates__mobile {
	display: none;
}
@media(max-width: 768px) {
	table tr th:nth-child(2),
	table tr th:nth-child(3),
	table tr td:nth-child(2),
	table tr td:nth-child(3) {
		display: none;
	}

	.table table tbody tr td {
		padding: 16px 32px;
	}

	.dates__mobile {
		font-size: 13px;
		margin-top: 8px;
		line-height: 1.3;
		display: block;
	}
}

@media(max-width: 400px) {
	.table table tbody tr td {
		padding: 12px;
	}
}