.testimonials{
	position: relative;
	display: block;
	padding: 50px 0;

	width: 100%;

	background-color: $azure-green;
	background-image: linear-gradient(44deg, $azure-green 0%, $sky-blue 100%);
}
.testimonials__inner{
	position: relative;
	display: block;
	margin: 0 auto;
}
.testimonials__items{
	position: relative;
	display: block;
	width: 100%;

	text-align: center;
	margin-top: -40px;
}
.testimonials__items-item{
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin-left: 20px;
	width: 100%;
	max-width: 280px;

	overflow: hidden;
	margin-top: 40px;

	&:nth-child(3n+1){
		margin-left: 0;
	}

	@include screen-lt(980){
		max-width: 100%;
		width: 45%;
		&:nth-child(odd),
		&:nth-child(even){
			margin-left: 20px;
		}
		&:nth-child(2n-1){
			margin-left: 0; 
		}
	}

	@include screen-lt(690){
		max-width: 100%;
		width: 100%;
		&:nth-child(odd),
		&:nth-child(even){
			margin-left: 0;
		}
	}
}
.testimonials__items-item-imageWrapper{
	position: relative;
	display: block;

	margin: 0 auto;
	
	width: 109px;
	height: 109px;
}
.testimonials__items-item-image{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;

	max-width: 100%;
	height: auto;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.testimonials__items-item-textWrapper{
	position: relative;
	display: block;
	text-align: center;

	margin-top: 32px;
}
.testimonials__items-item-quote{
	font-family: $font-averta-regularItalic;
	font-size: px-to-em(18);
	color: white;
	letter-spacing: 0;
	line-height: px-to-em(25,18);
}
.testimonials__items-item-details{
	margin-top: 29px;
	font-size: px-to-em(12);
	color: white;
	letter-spacing: 0;
	line-height: px-to-em(15,12);
	text-transform: uppercase;

	span{
		display: block;
	}
	&--name{
		font-family: $font-averta-black;
	}
	&--place{
		font-family: $font-averta-semiBold;
	}
}