/* BASE */

.textPlusStackedImage {
	position: relative;
	display: block;
	padding: 50px 0 50px 0;

	width: 100%;
	& + .textPlusStackedImage {
		margin-top: 33px;
	}
}

.textPlusStackedImage--reversed {
	direction: rtl;
	text-align: left;
	.textPlusStackedImage__column + .textPlusStackedImage__column {
		margin-left: 0;
		margin-right: 70px;
		@include screen-lt(850){
			display: inline-block;
			margin-right: 0;
		}
	}
}

.textPlusStackedImage__inner{
	position: relative;
	display: block;
	max-width: 1033px;
	margin: 0 auto;
}
.textPlusStackedImage__column{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 60px;

	width: calc(50% - 35px);

	&+.textPlusStackedImage__column{
		margin-left: 70px;
	}
}
.textPlusStackedImage__column-heading{
	margin-top: 57px;

	font-family: $font-averta-black;
	font-size: px-to-em(28);
	color: $deep-blue-text;
	letter-spacing: 0;
	line-height: px-to-em(33,28);
}
.textPlusStackedImage__column-text{
	margin-top: 20px;

	font-family: $font-averta-regular;
	font-size: px-to-em(18);
	color: $text-gray;
	letter-spacing: 0;
	line-height: px-to-em(27,18);

	a {
		@include transition();
		color: $text-green;
		&:hover {
			color: $dark-blue-text;
		}
	}

	&+ .textPlusStackedImage__column-text{
		margin-top: 30px;
	}
}
.textPlusStackedImage__column-link{
	position: relative;
	display: block;
	margin-top: 35px;

	font-family: $font-averta-semiBold;
	font-size: px-to-em(18);
	color: $dark-blue-text;
	letter-spacing: 0;
	line-height: px-to-em(20,18);

	transition: all 0.2s ease-in-out;

	span{
		display: inline-block;
		vertical-align: middle;
	}
	i{
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 12px;
		margin-left: 7px;

		background-image: url('/img/arrow-right.png');
		background-repeat: no-repeat;
		background-position: center center;
	}

	&:hover{
	color: $deep-blue-text;
	}
}
.textPlusStackedImage__column-wrapper{
	width: 100%;
	max-width: 526px;
}
.textPlusStackedImage__column-imageWrapper{
	display: inline-block;
	position: relative;

	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;
	cursor: pointer;
	border-radius: 5px;
	overflow:hidden;
	
	&-coverImage {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
	&--portrait{
		z-index: 10;
		width: 51.434034416826004%;
		height: auto;
	}
	&--landscape{
		z-index: 0;
		margin-top: -46.577946768060837%;
		margin-left: 19.011406844106464%;
	}
}

/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 950px){
	.textPlusStackedImage__column{
		margin-top: 0;
	}
	.textPlusStackedImage__column-wrapper{
		margin-top: 90px;
	}
}
@media screen and (max-width: 850px){
	.textPlusStackedImage__column{
		display: block;
		margin: 0 auto;
		width: 100%;
		&+ .textPlusStackedImage__column{
			margin-top: 50px;
			margin-left: 0;
		}
		&--image{
			width: 60%;
		}
	}
	.textPlusStackedImage__column-wrapper{
		margin-top: 0;
		display: inline-block;
	}
}
@media screen and (max-width: 600px){
	.textPlusStackedImage{
		padding: 20px 0 50px 0;
	}
	.textPlusStackedImage__column{
		text-align: center;

		&--image{
			width: 100%;
		}
	}
	.textPlusStackedImage__column-wrapper{
		text-align: left;
	}
	.textPlusStackedImage__column-text{

		&+ .textPlusStackedImage__column-text{
			margin-top: 20px;
		}
	}
}

/*=====  End of RESPONSIVE  ======*/
