.threeColumnImagePlusTitleText {
	display: block;
	margin: 0 auto;
	padding: 50px 0;
}

.threeColumnImagePlusTitleText__inner {
	display: block;
	margin: 0 auto;
	max-width: 880px;
	@include screen-lt(980){
		width: 90%;
		max-width: 100%;
	}
}

.threeColumnImagePlusTitleText__items {
	display: block;
	margin-top: -70px;
}

.threeColumnImagePlusTitleText__items-item {
	display: inline-block;
	vertical-align: top;
	@include width(280, 880);
	text-align: center;
	margin-left: 2.272727272727273%; // 20 / 880
	margin-top: 70px;
	a {
		text-decoration: none;
		&:hover {
			.threeColumnImagePlusTitleText__items-item-image {
				opacity: 0.8;
			}	
		}
	}
	&:nth-child(3n-2){
		margin-left: 0;
	}
	@include screen-lt(980){
		@include width(430, 880);
		&:nth-child(odd),
		&:nth-child(even) {
			margin-left: 0;
		}
		&:nth-child(2n){
			margin-left: 2.272727272727273%; // 20 / 880
		}
	}
	@include screen-lt(600){
		width: 100%;
		&:nth-child(odd),
		&:nth-child(even) {
			margin-left: 0;
		}
	}
}

.threeColumnImagePlusTitleText__items-item-image {
	display: block;
	width: 100%;
	height: 150px;
	background-size: cover;
	background-position: center;
	margin-bottom: 17px;
	@include transition();
}

.threeColumnImagePlusTitleText__items-item-title {
	display: block;
	font-family: $font-averta-black;
	@include font-size(26);
	color: $text-green;
}

.threeColumnImagePlusTitleText__items-item-text {
	font-family: $font-averta-regular;
	@include font-size(16);
	color: $text-gray;
	letter-spacing: 0;
	line-height: 25px;
	margin-top: 11px;
	strong {
		font-family: $font-averta-bold;
	}
}