.training-course-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.0562443), 0px 6px 14px rgba(0, 0, 0, 0.0645097);
  border-radius: 5px;
}

.training-course-card__action-wrapper.success {

  .training-course-card__score-indicator {
    background-color: $text-green;
  }


  .training-course-card__success-indicator {
    color: $text-green;
  }

  .training-course-card__success-indicator__icon {
    background-color: $text-green;
  }
}

.training-course-card__action-wrapper.fail {
  .training-course-card__score-indicator {
    background-color: $red-fail;
  }

  .training-course-card__success-indicator {
    color: $red-fail;
  }

  .training-course-card__success-indicator__icon {
    background-color: $red-fail;
  }
}

.training-course-card__success-indicator__icon {
  width: 25px;
  height: 25px;
  padding: 6px;
  justify-content: space-evenly;
  border-radius: 50%;
}

.training-course-card__score-label {
  font-size: 10px;
}

.training-course-card__score-value {
  font-size: 14px;
}

.training-course-card__success-indicator {
  font-size: 10px;
}
