/* BASE */

.twoColumnCards{
	position: relative;
	display: block;
	padding: 50px 0;

	width: 100%;

	background-color: white;
}
.twoColumnCards__inner{
	position: relative;
	display: block;
	margin: 0 auto;
}

/* CARDS */

.twoColumnCards__cards{
	position: relative;
	display: block;
	width: 100%;
}
.twoColumnCards__cards-card{
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	margin-left: 60px;
	padding: 37px 33px 34px 90px;
	width: calc(50% - 30px);
	max-width: 560px;

	background: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;

	background-image: url('/img/rings-svg.svg');
	background-repeat: no-repeat;
	background-position: left -100px center;

	&:nth-child(2n+1){
		margin-left: 0;
	}
}
// .twoColumnCards__cards-card-circles {
// 	top: 0;
// 	left: 0;
// 	height: 100%;
// 	width: 100%;
// 	position: absolute;

// 	&-topCircle {
// 		height: 151px;
// 		width: 151px;
// 		border-radius: 50%;
// 		background-color: #2BC09C;
// 		position: absolute;
// 		top: -75px;
// 		left: -75px;
// 		z-index: 100;
// 	}
// 	&-middleCircle {
// 		height: 107px;
// 		width: 107px;
// 		border-radius: 50%;
// 		background-color: #72D3CF;
// 		opacity: 0.72;
// 		position: absolute;
// 		top: 50%;
// 		left: -50px;
// 		margin-top: -53px;
// 		z-index: 200;
// 	}
// 	&-bottomCircle {
// 		height: 134px;
// 		width: 134px;
// 		border-radius: 50%;
// 		background-color: #1C487D;
// 		position: absolute;
// 		bottom: -72px;
// 		left: -72px;
// 		z-index: 100;
// 	}
// }
.twoColumnCards__cards-card-link{
	position: relative;
	font-family: $font-averta-black;
	font-size: px-to-em(20);
	color: $blue-text;
	letter-spacing: 0;
	line-height: px-to-em(20,20);
	padding-right: 24px;

	transition: all 0.2s ease-in-out;

	background-image: url('/img/arrow-right.png');
	background-repeat: no-repeat;
	background-position: right center;

	&:hover{
		color: $deep-blue-text;
	}
}
.twoColumnCards__cards-card-text{
	margin-top: 14px;

	font-family: $font-averta-regular;
	font-size: px-to-em(16);
	color: $text-gray;
	letter-spacing: 0;
	line-height: px-to-em(25,16);
}

/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 920px){
	.twoColumnCards__cards-card{
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;

		&:nth-child(2n+1){
			margin: 0 auto;		}
	}
	.twoColumnCards__cards-card{
		padding: 94px 20px 34px 20px;
	}
	.twoColumnCards__cards-card{
		background-image: url('/img/rings-ho-svg.svg');
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center top -15px;	
	}
}
@media screen and (max-width: 600px){
	.twoColumnCards__cards-card{
		background-position: center top;	
	}
}
@media screen and (max-width: 500px){
	.twoColumnCards__cards-card{
		padding: 80px 20px 34px 20px;
	}
}
/*=====  End of RESPONSIVE  ======*/
