.twoColumnGrid {
	display: block;
	padding: 50px 0;
	position: relative;
	z-index: 15;
}

.twoColumnGrid__inner {
	display: block;
}

.twoColumnGrid__items {
	display: block;
	margin-top: -1.428571428571429em; // 20 / 14
}

.twoColumnGrid__items-item {
	display: inline-block;
	vertical-align: top;
	@include width(580, 1180);
	margin-top: 1.428571428571429em; // 20 / 14
	&:nth-child(2n){
		margin-left: 1.694915254237288%; // 20 / 1180
	}
	@include screen-lt(870){
		width: 100%;
		&:nth-child(odd),
		&:nth-child(even){
			margin-left: 0;
		}
	}
}