<template>
    <p class="text-xl mb-10">{{ description}}</p>
</template>

<script>

    export default {
        props: {
            description: {
                required: true,
                type: String
            }
        }
    }
</script>