<template>
    <p class="text-xl mb-10">You have successfuly completed and passed the {{courseName}} online training course with
        <span class="font-avertaBold text-green"> a score of {{score}}%</span>
    </p>
</template>

<script>

    export default {
        props: {
            courseName: {
                required: true,
                type: String
            },
            score: {
                required: false,
                type: Number
            }
        }
    }
</script>