<template>
        <p class="text-xl mb-10">Unfortunately you did not pass the {{courseName}} online training course this time.
                <span class="font-avertaBold text-blue"> You scored {{score}}%</span>
                but require a score of at least
                <span class="font-avertaBold text-green"> {{passRate}}% to pass</span>
        </p>
</template>

<script>
    export default {
        props: {
            courseName: {
                required: true,
                type: String
            },
            score: {
                required: true,
                type: Number
            },
            passRate: {
                required: true,
                type: Number
            }
        }
    }
</script>