<template>

    <div class="training-course-material-reference mb-4">
        <a class="fading-link" :href="materialReference.url">
            <div class="training-course-material-reference__title-wrapper w-full text-sm leading-tight mb-1">
                <span class="training-course-material-reference__number text-green font-avertaBold">[{{ materialReference.unique_reference_number }}] </span>
                <span class="training-course-material-reference__title">{{ materialReference.title }}</span>
            </div>
            <div class="training-course-material-reference__type w-full text-xs text-uppercase flex align-items-center leading-tight">
                <img :src="`/img/${iconPath}`" class="w-4" alt="">
                <span class="ml-1 font-avertaBold text-xs-blue">{{ materialReference.training_course_reference_type }}</span>
            </div>
        </a>
    </div>
</template>

<script>

    export default {
        props: {
            materialReference: {
                required: true,
                type: Object
            },
        },
        computed: {
            iconPath() {
                let icons = {
                    'Video': 'youtube.svg',
                    'File': 'file-download.svg',
                    'Link': 'link.svg'
                }
                return icons.hasOwnProperty(this.materialReference.training_course_reference_type) ? icons[this.materialReference.training_course_reference_type] : '';
            }
        }
    }
</script>
